.college-list-container
    .jarviswidget.jarviswidget-color-blueDark
        header(role='heading')
            .jarviswidget-ctrls(role='menu')
            ul.tabBlock-tabs.nav.nav-tabs.pull-left.in
                li.tabBlock-tab.active.cursor-pointer(ng-click="dormMan.switchOneTab(1)")
                    a(data-toggle='tab',  aria-expanded='true')
                        i.fa.fa-lg.fa-calendar
                        span.hidden-mobile.hidden-tablet  宿舍信息
                li.tabBlock-tab.cursor-pointer(ng-click="dormMan.switchOneTab(2)" )
                    a(data-toggle='tab',  aria-expanded='false')
                        i.fa.fa-lg.fa-clock-o
                        span.hidden-mobile.hidden-tablet
                            | 已选学生
                li.tabBlock-tab.cursor-pointer(ng-click="dormMan.switchOneTab(3)" )
                    a(data-toggle='tab', aria-expanded='false')
                        i.fa.fa-lg.fa-pencil
                        span.hidden-mobile.hidden-tablet
                            | 已选统计
        // widget div
        div(role='content')
            // widget edit box
            .jarviswidget-editbox
                // This area used as dropdown edit box
            // end widget edit box
            // widget content
            .widget-body.no-padding
                #datatable_col_reorder_wrapper1.dataTables_wrapper.form-inline.no-footer(ng-if="dormMan.tableIndex == 1")
                    .dt-toolbar
                        .col-md-12.padding-bottom-10(style="padding-left:10px!important;")
                            form.form-line
                                .form-group.col-md-1
                                    label.control-label 宿舍楼：
                                .form-group.col-md-10
                                    span.dorms-flow(ng-class="{'select-dorm': dormMan.isContain(building)}" ng-click="dormMan.checkBuild(building)" ng-repeat="building in dormMan.builds") {{building.name}}
                                        i.fa.fa-times.close-pic(aria-hidden="true" ng-if="dormMan.isContain(building)" ng-click="dormMan.removeSelectBuild(building, $event);")
                                //.form-group.col-md-1
                                    span 更多
                        .col-md-12.padding-bottom-10.padding-top-10(ng-if="dormMan.checkedBuilds.length==1 && dormMan.checkedBuilds[0].floorType==20")
                            form.form-line
                                .col-md-1
                                    label.control-label 所在单元：
                                .col-md-10
                                    span.dorms-flow(ng-class="{'select-dorm': dormMan.isFloorUnit(unit, 'unit')}" ng-click="dormMan.checkFloorUnit(unit, 'unit')" ng-repeat="unit in dormMan.currentBuildUnit") {{unit + " 单元"}}
                                        i.fa.fa-times.close-pic(aria-hidden="true" ng-if="dormMan.isFloorUnit(unit, 'unit')" ng-click="dormMan.removeFloorUnit(unit, 'unit', $event);")
                        .col-md-12.padding-bottom-10.padding-top-10(ng-if="dormMan.checkedBuilds.length==1")
                            form.form-line
                                .col-md-1
                                    label.control-label 所在楼层：
                                .col-md-10
                                    span.dorms-flow(ng-class="{'select-dorm': dormMan.isFloorUnit(floor, 'floor')}" ng-click="dormMan.checkFloorUnit(floor, 'floor')" ng-repeat="floor in dormMan.currentBuildFloors") {{floor + "楼"}}
                                        i.fa.fa-times.close-pic(aria-hidden="true" ng-if="dormMan.isFloorUnit(floor, 'floor')" ng-click="dormMan.removeFloorUnit(floor, 'floor', $event);")
                                //.col-md-1
                                    span 更多
                        .col-md-12.padding-bottom-10.padding-top-10
                            form.form-line
                                .form-group.col-md-4
                                    label.control-label 是否满员：
                                    select.form-control(type='text', ng-model="dormMan.params.full"  ng-options="obj.value as obj.name for obj in dormMan.isFullArr" ng-change="dormMan.queryDorm()")
                                .form-group.col-md-4
                                    label.control-label 开放状态：
                                    select.form-control(type='text', ng-model="dormMan.params.open"  ng-options="obj.value as obj.name for obj in dormMan.isOpenArr" ng-change="dormMan.queryDorm()")
                                .form-group.col-md-4
                                    label.control-label 已分配专业：
                                    select.form-control(style='width:135px' type='text', ng-model="dormMan.params.profId"  ng-options="obj.profId as obj.profName group by obj.collegeName for obj in dormMan.distedMajor" ng-change="dormMan.queryDorm()")
                        .col-md-12.padding-bottom-10.padding-top-10
                            .form-group.col-md-4
                                label.control-label 是否分配：
                                select.form-control(type='text', ng-model="dormMan.params.isAssignment"  ng-options="obj.value as obj.name for obj in dormMan.isAssignments" ng-change="dormMan.queryDorm()")
                            .col-md-4
                                #datatable_col_reorder_filter.dataTables_filter(style="float:left;width:auto;")
                                    label
                                        input.form-control(type='search', placeholder='按宿舍号查询', aria-controls='datatable_col_reorder' ng-model="dormMan.params.no", my-enter="dormMan.queryDorm()")
                                        span.input-group-addon.pull-right.cursor-pointer.search-btn(ng-click="dormMan.queryDorm();")
                                            i.glyphicon.glyphicon-search
                            .col-md-4
                        .col-md-12.padding-bottom-10.padding-top-10
                                .ColVis
                                    button.btn.btn-primary(ui-sref="dormedit")
                                        span 新建
                                    button.btn.btn-primary(ng-click="dormMan.distedDorms()")
                                        span 批量分配专业
                                    button.btn.btn-primary(ng-click="dormMan.openDorms()")
                                        span 批量开放
                                    button.btn.btn-primary(ng-click="dormMan.batchClose()")
                                        span 批量关闭
                    table#datatable_col_reorder2.table.table-striped.table-bordered.table-hover.dataTable.no-footer(width='100%', role='grid', aria-describedby='datatable_col_reorder_info', style='width: 100%;')
                        thead
                            tr(role='row')
                                th(data-hide='phone', tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-sort='ascending', aria-label='ID: activate to sort column descending', style='width: 35px;')
                                    input(style="width:auto!important" type="checkbox" ng-click="dormMan.checkAll()" ng-checked="dormMan.checkAllRecord" ng-model="dormMan.checkAllRecord")
                                    | 全选
                                th(tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Name: activate to sort column ascending', style='width: 80px;') 宿舍楼栋
                                th(tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Phone: activate to sort column ascending', style='width: 60px;') 单元号
                                th(tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Phone: activate to sort column ascending', style='width: 60px;') 楼层
                                th(tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Phone: activate to sort column ascending', style='width: 60px;') 宿舍号
                                th(tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Phone: activate to sort column ascending', style='width: 80px;') 总床位数
                                th(tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Phone: activate to sort column ascending', style='width: 80px;') 空床位数
                                th(tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Phone: activate to sort column ascending', style='width: 80px;') 开放状态
                                th(tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Phone: activate to sort column ascending', style='width: 80px;') 是否分配
                                th(data-hide='phone,tablet', tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Date: activate to sort column ascending', style='width: 300px;') 操作
                        tbody
                            tr.odd(role='row' ng-repeat="record in dormMan.records")
                                td.sorting_1
                                    input(type="checkbox"  ng-click="dormMan.selDist($index)" ng-checked="record.check" ng-model="record.check")
                                td {{record.floorName}}
                                td {{record.unitNo?(record.unitNo + "单元") : '--'}}
                                td {{record.floorNo?(record.floorNo + "层") : '--'}}
                                td {{record.no}}
                                td {{record.beds}}
                                td {{record.emBeds}}
                                td {{record.open ? "已开放" : "已关闭"}}
                                td {{record.assgin ? "已分配" : "未分配"}}
                                td
                                    a.handle(ui-sref="dormedit({id: record.roomId, assign: record.assgin})")
                                        i.fa.fa-pencil-square-o
                                        span 编辑
                                    a.handle(ng-if="record.beds == record.emBeds" ng-click="dormMan.deletePrompt(record)")
                                        i.fa.fa-trash-o
                                        span 删除
                                    a.handle(ng-if="record.open" ng-click="dormMan.closeDormPrompt(record)")
                                        i.fa.fa-window-close
                                        span 关闭
                                    a.handle(ng-if="record.beds==record.emBeds" ng-click="dormMan.openDistedDorm(record)")
                                        i.fa.fa-pencil-square-o
                                        span 分配专业
                                    a.handle(ng-if="!record.open" ng-click="dormMan.openDorms(record)")
                                        i.fa.fa-pencil-square-o
                                        span 开放
                                    a.handle(ui-sref="dormstuinfo({id: record.roomId})")
                                        i.fa.fa-list
                                        span 学生明细

                    .dt-toolbar-footer
                        .col-sm-6.col-xs-12.hidden-xs
                            #datatable_col_reorder_info3.dataTables_info(role='status', aria-live='polite')
                                | 显示第
                                span.txt-color-darken {{dormMan.page.totalElements==0?0:(((dormMan.page.pageNumber)-1)*dormMan.page.pageSize+1)}}
                                |  到
                                span.txt-color-darken {{((dormMan.page.pageNumber==0?dormMan.page.pageNumber+1:dormMan.page.pageNumber)-1)*dormMan.page.pageSize+dormMan.records.length}}
                                |  条 总共
                                span.text-primary {{dormMan.page.totalElements}}
                                |  条记录
                        .col-sm-6.col-xs-12
                            #datatable_col_reorder_paginate1.dataTables_paginate.paging_simple_numbers
                                ul.pagination-sm(uib-pagination, total-items='dormMan.page.totalElements', max-size='dormMan.page.pageSize' ng-model='dormMan.page.pageNumber',ng-change="dormMan.getDorms()" boundary-link-numbers='true' items-per-page="dormMan.page.pageSize" rotate='false' previous-text="<" next-text=">")
                #datatable_col_reorder_wrapper5.dataTables_wrapper.form-inline.no-footer(ng-if="dormMan.tableIndex == 2")
                    .dt-toolbar
                        .col-md-12.padding-bottom-10.padding-top-10
                            form.form-line
                                .form-group.col-md-3
                                    label.control-label 姓名：
                                    input.form-control(type='search', placeholder='姓名/身份证', aria-controls='datatable_col_reorder' ng-model="dormMan.statisticParams.name", my-enter="dormMan.querySelStudent()")
                                .form-group.col-md-3
                                    label.control-label 专业：
                                    select.form-control(style='width:135px' type='text', ng-model="dormMan.statisticParams.professionalId" ng-options="obj.id as obj.name for obj in dormMan.majorLists" ng-change="dormMan.querySelStudent()")
                                .form-group.col-md-3
                                    label.control-label 性别：
                                    select.form-control(type='text', ng-model="dormMan.statisticParams.gender"  ng-options="item.name as item.name for item in dormMan.sexs" ng-change="dormMan.querySelStudent()")
                                .col-md-3
                                    .ColVis
                                        button.btn.btn-primary(ng-click="dormMan.querySelStudent()")
                                            span 查询
                                        button.btn.btn-primary(ng-click="dormMan.exportSelectedStu()")
                                            span 导出
                    table#datatable_col_reorder5.table.table-striped.table-bordered.table-hover.dataTable.no-footer(width='100%', role='grid', aria-describedby='datatable_col_reorder_info', style='width: 100%;')
                        thead
                            tr(role='row')
                                th(tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Name: activate to sort column ascending', style='width: 100px;') 姓名
                                th(tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Phone: activate to sort column ascending', style='width: 60px;') 性别
                                th(tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Phone: activate to sort column ascending', style='width: 150px;') 专业
                                th(tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Phone: activate to sort column ascending', style='width: 80px;') 宿舍号
                                th(tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Phone: activate to sort column ascending', style='width: 80px;') 铺位
                                th(tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Phone: activate to sort column ascending', style='width: 100px;') 选择时间
                                th(tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Phone: activate to sort column ascending', style='width: 80px;') 联系方式
                                th(data-hide='phone,tablet', tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Date: activate to sort column ascending', style='width: 150px;') 操作
                        tbody
                            tr.odd(role='row' ng-repeat="record in dormMan.selectedRecords")
                                td {{record.stuName}}
                                td {{record.gender}}
                                td {{record.profName}}
                                td {{record.roomNo}}
                                td {{record.bedName}}
                                td {{record.createdDate}}
                                td {{record.phone}}
                                td
                                    a.handle(ng-click="dormMan.deleteBedPrompt(record)")
                                        i.fa.fa-pencil-square-o
                                        span 移出宿舍
                    .dt-toolbar-footer
                        .col-sm-6.col-xs-12.hidden-xs
                            #datatable_col_reorder_info5.dataTables_info(role='status', aria-live='polite')
                                | 显示第
                                span.txt-color-darken {{dormMan.page.totalElements==0?0:(((dormMan.page.pageNumber)-1)*dormMan.page.pageSize+1)}}
                                |  到
                                span.txt-color-darken {{((dormMan.page.pageNumber==0?dormMan.page.pageNumber+1:dormMan.page.pageNumber)-1)*dormMan.page.pageSize+dormMan.selectedRecords.length}}
                                |  条 总共
                                span.text-primary {{dormMan.page.totalElements}}
                                |  条记录
                        .col-sm-6.col-xs-12
                            #datatable_col_reorder_paginate5.dataTables_paginate.paging_simple_numbers
                                ul.pagination-sm(uib-pagination, total-items='dormMan.page.totalElements', max-size='dormMan.page.pageSize' ng-model='dormMan.page.pageNumber',ng-change="dormMan.getStusSelected()" boundary-link-numbers='true' items-per-page="dormMan.page.pageSize" rotate='false' previous-text="<" next-text=">")
                #datatable_col_reorder_wrapper.dataTables_wrapper.form-inline.no-footer(ng-if="dormMan.tableIndex == 3")
                    .dt-toolbar
                        .col-md-12.padding-bottom-10.padding-top-10
                            form.form-line
                                .form-group.col-md-8
                                    label.control-label 专业：
                                    select.form-control(type='text', ng-model="dormMan.statisticParams.professionalId" ng-options="obj.id as obj.name for obj in dormMan.majorLists" ng-change="dormMan.querySelDormByMajor()")
                                .col-md-4
                                    .ColVis
                                        button.btn.btn-primary(ng-click="dormMan.querySelDormByMajor()")
                                            span 查询
                    table#datatable_col_reorder.table.table-striped.table-bordered.table-hover.dataTable.no-footer(width='100%', role='grid', aria-describedby='datatable_col_reorder_info', style='width: 100%;')
                        thead
                            tr(role='row')
                                th(tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Name: activate to sort column ascending', style='width: 80px;') 专业
                                th(tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Phone: activate to sort column ascending', style='width: 60px;') 分配床铺数
                                th(tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Phone: activate to sort column ascending', style='width: 60px;') 已选数
                                th(tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Phone: activate to sort column ascending', style='width: 60px;') 已选占比
                                th(tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Phone: activate to sort column ascending', style='width: 80px;') 是否增加宿舍
                                th(tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Phone: activate to sort column ascending', style='width: 80px;') 专业总人数
                        tbody
                            tr.odd(role='row' ng-repeat="record in dormMan.statisticRecords")
                                td {{record.profName}}
                                td {{record.bedNum}}
                                td {{record.selectedBedNum}}
                                td {{record.selectedPct + "%"}}
                                td {{record.selectedPct>80?"是":"否"}}
                                td {{record.profStuNum}}

    //-  开启宿舍弹出框
    script(type='text/ng-template',id='publishDialog')
        .container-fluid
            .dialog-title
                h2 发布设置
            .dialog-body
                form.form-horizontal(role="form" name="form" novalidate)
                    .form-group
                        label.col-sm-3.control-label
                            span 已选宿舍数量:：
                        .col-sm-6 {{dormMan.dormAssign.roomIds.length}}
                    .form-group
                        label.col-sm-3.control-label
                            span.required *
                            | 分配给专业：
                        .col-sm-9
                            .col-sm-8
                                select.form-control(ng-model="dormMan.dormAssign.profId" ng-options="obj.id as obj.name for obj in dormMan.majorLists")
                            .col-sm-4(ng-show="dormMan.showTip")
                                span.text-danger(ng-show="!dormMan.dormAssign.profId") 请选择专业
                    .form-group
                        label.col-sm-3.control-label
                            span.required *
                            | 分配给性别：
                        .col-sm-9
                            .col-sm-8
                                label.radio-inline
                                    input(type="radio" name="type"  ng-model="dormMan.dormAssign.sexType" value="10" )
                                    | 男
                                label.radio-inline
                                    input(type="radio" name="type"  ng-model="dormMan.dormAssign.sexType" value="20" )
                                    | 女
                            .col-sm-4(ng-show="dormMan.showTip")
                                span.text-danger(ng-show="!dormMan.dormAssign.sexType") 请选择性别

                    .form-group
                        .col-sm-6
                            button.btn.btn-primary(ng-click="dormMan.distDorm()") 确定发布
                            button.btn.btn-default(ng-click="closeThisDialog(0)" style="margin-left:20px") 取消
    //-  编辑宿舍弹出框
    script(type='text/ng-template',id='editDialog')
        .container-fluid
            .dialog-title
                h2 分配编辑
            .dialog-body
                form.form-horizontal(role="form" name="form" novalidate)
                    .form-group
                        label.col-sm-3.control-label
                            span.required *
                            | 分配给专业：
                        .col-sm-9
                            .col-sm-8
                                ui-select(multiple ng-model="dormMan.editDormAssign.profId" remove-selected="false" class="form-control" mod-Placeholder)
                                    ui-select-match.ui-select-match(placeholder="输入专业名称搜索...", allow-clear='true') {{$item.name}}
                                    ui-select-choices.ui-select-choices(repeat="item.id as item in dormMan.majorLists | filter: $select.search")
                                        span(ng-bind="item.name" title='{{item.name}}')
                            .col-sm-4(ng-show="dormMan.showTip")
                                span.text-danger(ng-show="!dormMan.editDormAssign.profId.length") 请选择专业
                    .form-group
                        label.col-sm-3.control-label
                            span.required *
                            | 分配给性别：
                        .col-sm-9
                            .col-sm-8
                                label.radio-inline
                                    input(type="radio" name="type"  ng-model="dormMan.editDormAssign.sexType" value="10" )
                                    | 男
                                label.radio-inline
                                    input(type="radio" name="type"  ng-model="dormMan.editDormAssign.sexType" value="20" )
                                    | 女
                            .col-sm-4(ng-show="dormMan.showTip")
                                span.text-danger(ng-show="!dormMan.editDormAssign.sexType") 请选择性别
                    .form-group
                        .col-sm-6
                            button.btn.btn-primary(ng-click="dormMan.updateDistedDorm()") 保存
                            button.btn.btn-default(ng-click="closeThisDialog(0)" style="margin-left:20px") 取消
