//
   Created by Secmax on 2017/4/12.

aside#left-panel
    // User info
    div(login-info='')
    // end user info
    nav
        //
          NOTE: Notice the gaps after each icon usage <i></i>..
          Please note that these links work a bit different than
          traditional href="" links. See documentation for details.
        //ul(data-smart-menu='')
            li(data-menu-collapse='')
                a(href='#', title='Dashboard')
                    i.fa.fa-lg.fa-fw.fa-home
                    span.menu-item-parent Dashboard
                ul
                    li(data-ui-sref-active='active')
                        a(data-ui-sref='app.dashboard') {{getWord('Analytics Dashboard')}}
                    li(data-ui-sref-active='active')
                        a(data-ui-sref='app.dashboard-social') {{getWord('Social Wall')}}
            li.top-menu-invisible(data-menu-collapse='')
                a(href='#')
                    i.fa.fa-lg.fa-fw.fa-cube.txt-color-blue
                    span.menu-item-parent {{getWord('SmartAdmin Intel')}}
                ul
                    li(data-ui-sref-active='active')
                        a(data-ui-sref='app.smartAdmin.appLayouts')
                            i.fa.fa-gear
                            |                             {{getWord('App Layouts')}}
                    li(data-ui-sref-active='active')
                        a(data-ui-sref='app.smartAdmin.prebuiltSkins')
                            i.fa.fa-picture-o
                            |                             {{getWord('Prebuilt Skins')}}
                    //
                      <li data-ui-sref-active="active">
                      <a data-ui-sref="app.smartAdmin.appLayout"><i class="fa fa-cube"></i> {{getWord('App Settings')}}</a>
                      </li>
            li(data-ui-sref-active='active')
                a(data-ui-sref='app.inbox.folder', title='Outlook')
                    i.fa.fa-lg.fa-fw.fa-inbox
                    span.menu-item-parent {{getWord('Outlook')}}
                    span.badge.pull-right.inbox-badge(unread-messages-count='')
            li(data-menu-collapse='')
                a(href='#')
                    i.fa.fa-lg.fa-fw.fa-bar-chart-o
                    span.menu-item-parent {{getWord('Graphs')}}
                ul
                    li(data-ui-sref-active='active')
                        a(data-ui-sref='app.graphs.flot') {{getWord('Flot Chart')}}
                    li(data-ui-sref-active='active')
                        a(data-ui-sref='app.graphs.morris') {{getWord('Morris Charts')}}
                    li(data-ui-sref-active='active')
                        a(data-ui-sref='app.graphs.sparkline') {{getWord('Sparkline')}}
                    li(data-ui-sref-active='active')
                        a(data-ui-sref='app.graphs.easyPieCharts') {{getWord('Easy Pie Charts')}}
                    li(data-ui-sref-active='active')
                        a(data-ui-sref='app.graphs.dygraphs') {{getWord('Dygraphs')}}
                    li(data-ui-sref-active='active')
                        a(data-ui-sref='app.graphs.chartjs') Chart.js
                    li(data-ui-sref-active='active')
                        a(data-ui-sref='app.graphs.highchartTables')
                            | Highchart Tables
                            span.badge.pull-right.inbox-badge.bg-color-yellow new
            li(data-menu-collapse='')
                a(href='#')
                    i.fa.fa-lg.fa-fw.fa-table
                    span.menu-item-parent {{getWord('Tables')}}
                ul
                    li(data-ui-sref-active='active')
                        a(data-ui-sref='app.tables.normal') {{getWord('Normal Tables')}}
                    li(data-ui-sref-active='active')
                        a(data-ui-sref='app.tables.datatables')
                            | {{getWord('Data Tables')}}
                            span.badge.inbox-badge.bg-color-greenLight v1.10
                    li(data-ui-sref-active='active')
                        a(data-ui-sref='app.tables.jqgrid') {{getWord('Jquery Grid')}}
            li(data-menu-collapse='')
                a(href='#')
                    i.fa.fa-lg.fa-fw.fa-pencil-square-o
                    span.menu-item-parent {{getWord('Forms')}}
                ul
                    li(data-ui-sref-active='active')
                        a(data-ui-sref='app.form.elements') {{getWord('Smart Form Elements')}}
                    li(data-ui-sref-active='active')
                        a(data-ui-sref='app.form.layouts') {{getWord('Smart Form Layouts')}}
                    li(data-ui-sref-active='active')
                        a(data-ui-sref='app.form.validation') {{getWord('Smart Form Validation')}}
                    li(data-ui-sref-active='active')
                        a(data-ui-sref='app.form.bootstrapForms') {{getWord('Bootstrap Form Elements')}}
                    li(data-ui-sref-active='active')
                        a(data-ui-sref='app.form.bootstrapValidation') {{getWord('Bootstrap Form Validation')}}
                    li(data-ui-sref-active='active')
                        a(data-ui-sref='app.form.plugins') {{getWord('Form Plugins')}}
                    li(data-ui-sref-active='active')
                        a(data-ui-sref='app.form.wizards') {{getWord('Wizards')}}
                    li(data-ui-sref-active='active')
                        a(data-ui-sref='app.form.editors') {{getWord('Bootstrap Editors')}}
                    li(data-ui-sref-active='active')
                        a(data-ui-sref='app.form.dropzone') {{getWord('Dropzone')}}
                    li(data-ui-sref-active='active')
                        a(data-ui-sref='app.form.imageEditor')
                            | {{getWord('Image Cropping')}}
                            span.badge.pull-right.inbox-badge.bg-color-yellow new
            li(data-menu-collapse='')
                a(href='#')
                    i.fa.fa-lg.fa-fw.fa-desktop
                    span.menu-item-parent {{getWord('UI Elements')}}
                ul
                    li(data-ui-sref-active='active')
                        a(data-ui-sref='app.ui.general') {{getWord('General Elements')}}
                    li(data-ui-sref-active='active')
                        a(data-ui-sref='app.ui.buttons') {{getWord('Buttons')}}
                    li(data-menu-collapse='')
                        a(href='#') {{getWord('Icons')}}
                        ul
                            li(data-ui-sref-active='active')
                                a(data-ui-sref='app.ui.iconsFa')
                                    i.fa.fa-plane
                                    |  {{getWord('Font Awesome')}}
                            li(data-ui-sref-active='active')
                                a(data-ui-sref='app.ui.iconsGlyph')
                                    i.glyphicon.glyphicon-plane
                                    |                                     {{getWord('Glyph Icons')}}
                            li(data-ui-sref-active='active')
                                a(data-ui-sref='app.ui.iconsFlags')
                                    i.fa.fa-flag
                                    |  {{getWord('Flags')}}
                    li(data-ui-sref-active='active')
                        a(data-ui-sref='app.ui.grid') {{getWord('Grid')}}
                    li(data-ui-sref-active='active')
                        a(data-ui-sref='app.ui.treeView') {{getWord('Tree View')}}
                    li(data-ui-sref-active='active')
                        a(data-ui-sref='app.ui.nestableLists') {{getWord('Nestable Lists')}}
                    li(data-ui-sref-active='active')
                        a(data-ui-sref='app.ui.jqueryUi') {{getWord('JQuery UI')}}
                    li(data-ui-sref-active='active')
                        a(data-ui-sref='app.ui.typography') {{getWord('Typography')}}
                    li(data-menu-collapse='')
                        a(href='#') {{getWord('Six Level Menu')}}
                        ul
                            li(data-menu-collapse='')
                                a(href='#')
                                    i.fa.fa-fw.fa-folder-open
                                    |  {{getWord('Item #2')}}
                                ul
                                    li(data-menu-collapse='')
                                        a(href='#')
                                            i.fa.fa-fw.fa-folder-open
                                            |  {{getWord('Sub #2.1')}}
                                        ul
                                            li
                                                a(href='#')
                                                    i.fa.fa-fw.fa-file-text
                                                    |  {{getWord('Item
                                                    |                                                     #2.1.1')}}
                                            li(data-menu-collapse='')
                                                a(href='#')
                                                    i.fa.fa-fw.fa-plus
                                                    | {{getWord('Expand')}}
                                                ul
                                                    li
                                                        a(href='#')
                                                            i.fa.fa-fw.fa-file-text
                                                            |                                                             {{getWord('File')}}
                                                    li
                                                        a(href='#')
                                                            i.fa.fa-fw.fa-trash-o
                                                            |                                                             {{getWord('Delete')}}
                            li(data-menu-collapse='')
                                a(href='#')
                                    i.fa.fa-fw.fa-folder-open
                                    |  {{getWord('Item #3')}}
                                ul
                                    li(data-menu-collapse='')
                                        a(href='#')
                                            i.fa.fa-fw.fa-folder-open
                                            |  {{getWord('3ed Level')}}
                                        ul
                                            li
                                                a(href='#')
                                                    i.fa.fa-fw.fa-file-text
                                                    |                                                     {{getWord('File')}}
                                            li
                                                a(href='#')
                                                    i.fa.fa-fw.fa-file-text
                                                    |                                                     {{getWord('File')}}
            li(data-ui-sref-active='active')
                a(data-ui-sref='app.widgets', title='Widgets')
                    i.fa.fa-lg.fa-fw.fa-list-alt
                    span.menu-item-parent {{getWord('Widgets')}}
            li(data-menu-collapse='')
                a(href='#')
                    i.fa.fa-lg.fa-fw.fa-cloud
                        em 3
                    span.menu-item-parent {{getWord('Cool Features')}}
                ul
                    li(data-ui-sref-active='active')
                        a(data-ui-sref='app.calendar', title='Calendar')
                            i.fa.fa-lg.fa-fw.fa-calendar
                            span.menu-item-parent {{getWord('Calendar')}}
                    li(data-ui-sref-active='active')
                        a(data-ui-sref='app.maps')
                            i.fa.fa-lg.fa-fw.fa-map-marker
                            span.menu-item-parent {{getWord('GMap Skins')}}
                            span.badge.bg-color-greenLight.pull-right.inbox-badge 9
            li(data-menu-collapse='')
                a(href='#')
                    i.fa.fa-lg.fa-fw.fa-puzzle-piece
                    span.menu-item-parent {{getWord('App Views')}}
                ul
                    li(data-ui-sref-active='active')
                        a(data-ui-sref='app.appViews.projects')
                            i.fa.fa-file-text-o
                            |                             {{getWord('Projects')}}
                    li(data-ui-sref-active='active')
                        a(data-ui-sref='app.appViews.blogDemo')
                            i.fa.fa-paragraph
                            |  {{getWord('Blog')}}
                    li(data-ui-sref-active='active')
                        a(data-ui-sref='app.appViews.galleryDemo')
                            i.fa.fa-picture-o
                            |                             {{getWord('Gallery')}}
                    li(data-menu-collapse='')
                        a(href='#')
                            i.fa.fa-comments
                            |  {{getWord('Forum Layout')}}
                        ul
                            li(data-ui-sref-active='active')
                                a(data-ui-sref='app.appViews.forumDemo')
                                    i.fa.fa-picture-o
                                    |                                     {{getWord('General View')}}
                            li(data-ui-sref-active='active')
                                a(data-ui-sref='app.appViews.forumTopicDemo')
                                    i.fa.fa-picture-o
                                    |                                     {{getWord('Topic View')}}
                            li(data-ui-sref-active='active')
                                a(data-ui-sref='app.appViews.forumPostDemo')
                                    i.fa.fa-picture-o
                                    |                                     {{getWord('Post View')}}
                    li(data-ui-sref-active='active')
                        a(data-ui-sref='app.appViews.profileDemo')
                            i.fa.fa-group
                            |                             {{getWord('Profile')}}
                    li(data-ui-sref-active='active')
                        a(data-ui-sref='app.appViews.timelineDemo')
                            i.fa.fa-clock-o
                            |                             {{getWord('Timeline')}}
            li(data-menu-collapse='')
                a(href='#')
                    i.fa.fa-lg.fa-fw.fa-shopping-cart
                    span.menu-item-parent {{getWord('E-Commerce')}}
                ul
                    li(data-ui-sref-active='active')
                        a(data-ui-sref='app.eCommerce.orders', title='Orders')  {{getWord('Orders')}}
                    li(data-ui-sref-active='active')
                        a(data-ui-sref='app.eCommerce.products', title='Products View')  {{getWord('Products View')}}
                    li(data-ui-sref-active='active')
                        a(data-ui-sref='app.eCommerce.detail', title='Products Detail')  {{getWord('Products Detail')}}
            li(data-menu-collapse='')
                a(href='#')
                    i.fa.fa-lg.fa-fw.fa-windows
                    span.menu-item-parent {{getWord('Miscellaneous')}}
                ul
                    li
                        a(href='http://bootstraphunter.com/smartadmin-landing/', target='_blank')
                            | {{getWord('Landing
                            | Page')}}
                            i.fa.fa-external-link
                    li(data-ui-sref-active='active')
                        a(data-ui-sref='app.misc.pricingTable') {{getWord('Pricing Tables')}}
                    li(data-ui-sref-active='active')
                        a(data-ui-sref='app.misc.invoice') {{getWord('Invoice')}}
                    li(data-ui-sref-active='active')
                        a(data-ui-sref='login') {{getWord('Login')}}
                    li(data-ui-sref-active='active')
                        a(data-ui-sref='register') {{getWord('Register')}}
                    li(data-ui-sref-active='active')
                        a(data-ui-sref='lock') {{getWord('Locked Screen')}}
                    li(data-ui-sref-active='active')
                        a(data-ui-sref='app.misc.error404') {{getWord('Error 404')}}
                    li(data-ui-sref-active='active')
                        a(data-ui-sref='app.misc.error500') {{getWord('Error 500')}}
                    li(data-ui-sref-active='active')
                        a(data-ui-sref='app.misc.blank') {{getWord('Blank Page')}}
                    li(data-ui-sref-active='active')
                        a(data-ui-sref='app.misc.emailTemplate') {{getWord('Email Template')}}
                    li(data-ui-sref-active='active')
                        a(data-ui-sref='app.misc.search') {{getWord('Search Page')}}
                    li(data-ui-sref-active='active')
                        a(data-ui-sref='app.misc.ckeditor') {{getWord('CK Editor')}}
            li.chat-users.top-menu-invisible(data-menu-collapse='')
                a(href='#')
                    i.fa.fa-lg.fa-fw.fa-comment-o
                        em.bg-color-pink.flash.animated !
                    span.menu-item-parent
                        | {{getWord('Smart Chat API')}}
                        sup {{getWord('beta')}}
                div(aside-chat-widget='')
        // NOTE: This allows you to pull menu items from server
        ul(data-smart-menu-items="app/layout/navigation/menu-items.json")

    //span.minifyme(data-action='minifyMenu', minify-menu='')
        i.fa.fa-arrow-circle-left.hit
