//
   Created by Secmax on 2017/4/12.

aside#left-panel
    // User info
    //div(login-info='')
    // end user info
    nav
        ul(data-smart-menu-items="app/layout/navigation/menu-items-pt.json")

    //span.minifyme(data-action='minifyMenu', minify-menu='')
        i.fa.fa-arrow-circle-left.hit
