header#header.hidden-print
    #logo-group.cursor-pointer(ng-click="layoutFn.toIndex()")
        span#logo
            img(ng-src='{{layoutFn.user.orgLogo || "https://s.aizhixin.com/defaultimg/logo.png"}}', alt='{{layoutFn.user.orgName}}')
        span#orgName {{layoutFn.user.orgName}}
    //#logout.btn-header.transparent.pull-right
        span
            a(ui-sref='login' title='Sign Out' data-action='userLogout' data-logout-msg='You can improve your security further after logging out by closing this opened browser')
                i.fa.fa-sign-out
    .head-navigation.hidden-print
        //ul
            li(ng-class="{'active': nav.selected}", ui-sref='{{nav.url}}' ng-repeat='nav in layoutFn.nav', ng-click='layoutFn.redirectTo(nav)') {{nav.name}}
    .pull-right.hidden-print
        ul.account(ng-if=' layoutFn.user')
            li.user-menu(uib-dropdown='uib-dropdown' uib-dropdown-toggle='uib-dropdown-toggle')
                span.user-avatar
                    img.avatar-30.img-circle(ng-src='{{ layoutFn.user.avatar}}')
                span#user-name.dropdown-toggle
                    //span {{ layoutFn.user.login | cutStr:8}}
                    i.caret
                ul.dropdown-menu(uib-dropdown-menu='uib-dropdown-menu' aria-labelledby='user-name')
                    li(ng-repeat='anav in navigation.accountNav' class='{{anav.name}}')
                        a(ng-if="anav.name != 'split'" ng-click=' layoutFn.navigate(anav.host,anav.path)')
                            i.fa(class='{{anav.icon}}')
                            span {{anav.name}}

                        li
                            a
                                span(class="account-name") {{ layoutFn.user.name | cutStr:20}}
                        li
                            a
                                span(class="account-new") {{'账号 ' +layoutFn.user.login | cutStr:15}}
                        li.split
                        li
                            a(ui-sref="index")
                                span 首页
                        li
                            a(ng-click=" layoutFn.goPage(1, '/classes/classlist/')")
                                span 课堂在线
                        li
                            a(ng-click=" layoutFn.goPage(6,'/monitor')")
                                span 学情大数据
                        li
                            a(ng-click=" layoutFn.navigate(7,'/index')")
                                span 实习实践
                        li
                            a(ng-click=" layoutFn.navigate(4,'/schindex')")
                                span 掌上校园
                        li.split
                        li
                            a(ng-click=" layoutFn.navigate(0,'/userCenter')")
                                span 个人中心
                        li.split
                        li
                            a(ng-click=' layoutFn.signOut()')
                                span 退出登录