#header {

  #logo-group {
    padding: 5px 10px 5px 0px;
    height: 50px;
    #logo {
      width: 40px;
      height: 40px;
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
    }
    #orgName {
      color: $text-color-lightest;
      line-height: 37px;
      margin-left: 10px;
      font-size: 14px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 140px;
    }
  }
  .account {
    height: $nav-container-height;
    float: right;
   // margin: 26px 30px 26px 10px;
    display: table;

    li {
      &:hover {
        //background: #f5f5f5;
        color: $brand-logo;
        cursor: pointer;
      }
    }
    .user-menu {
      // width: 130px;
      padding: 0 5px;
      height: $nav-container-height;
      display: table-cell;
      vertical-align: middle;
      a {
        color: $gray-dark;
        i {
          margin-right: 10px;
        }
        span {
          margin-right: 15px;
        }
      }
      .user-avatar {
        margin: 4px 10px 4px 0;
      }
      #user-name {
        display: inline;
        font-size: 14px;
        .caret {
          margin-left: 5px;
        }
      }
      .dropdown-menu {
        width: 130px;
        min-width: 130px !important;
        left: auto;
        right: 0;
        border-radius: 0;
        margin: 0;
        text-align: center;
        border-width: 1px;
        border-style: solid;
        border-color: #f0f0f0;
        background: #ffffff;
        font-size: 12px;
        @include box-shadow2(6px, 6px, 0, rgba(0, 0, 0, 0.05));
        li a {
          padding: 6px 20px;
          &:hover {
            color: #666;
            background: #f5f5f5;
          }
          i.fa {
            float: left;
            margin: 2px 10px 2px 0;
            color: #999999;
          }
        }
        .split {
          height: 1px;
          background: #f0f0f0;
          margin: 5px 0;
        }
      }
    }
  }
}
