//#layout
    //#pageheader(azx-header data-inverse data-redirect-url='/' data-subnav='subnav')
    #pageheader
        .azxsm-header
            .nav-fiexd-box
                .nav-container
                    div
                        a.azxlogo(href='javascript:;', ng-click='headerFn.navigate(0)')
                            span
                                div(azx-logo='')
                    ul.account(ng-if='headerFn.user')
                        li.user-menu(uib-dropdown='uib-dropdown', uib-dropdown-toggle='uib-dropdown-toggle')
                            span.user-avatar
                                img.avatar-30.img-circle(ng-src='{{headerFn.user.avatar}}')
                            span#user-name.dropdown-toggle
                                span {{headerFn.user.login | cutStr:8}}
                        li.logo-split
                        li.user-menu(uib-dropdown='uib-dropdown', uib-dropdown-toggle='uib-dropdown-toggle')
                            a(ng-click='headerFn.signOut()')
                                i.fa.fa-power-off
                                span 退出
    //#pageheader(azx-header data-redirect-url='/userCenter')
    #pageleftmenu
       ul.nav.nav-pills.nav-stacked
           li.active(role="presentation" ui-sref="home")
               i.fa.fa-lg.fa-fw.fa-home
               | 首页
           li(role="presentation")
               i.fa.fa-lg.fa-fw.fa-home
               | 学校信息管理
           li(role="presentation" ui-sref="collegelist")
               i.fa.fa-lg.fa-fw.fa-home
               | 院系管理
           li(role="presentation" ui-sref="majorlist")
               i.fa.fa-lg.fa-fw.fa-home
               | 专业管理
           li(role="presentation" ui-sref="classlist")
               i.fa.fa-lg.fa-fw.fa-home
               | 班级管理
           li(role="presentation" ui-sref="teacherlist")
               i.fa.fa-lg.fa-fw.fa-home
               | 教师管理
           li(role="presentation" ui-sref="studentlist")
               i.fa.fa-lg.fa-fw.fa-home
               | 学生管理
    #pagecontent
        #ribbon
            //span.ribbon-button-alignment.pull-right
                span.btn.btn-ribbon.hidden-xs
                    i.fa.fa-gear
                    |  设置
            span.ribbon-button-alignment
                span#refresh.btn.btn-ribbon(ng-click='layoutFn.lcReload();')
                    i.fa.fa-refresh
            // breadcrumb
            span(ncy-breadcrumb)
            //ol.breadcrumb
                li 首页
                li 院系管理
            // end breadcrumb
            //
              You can also add more buttons to the
              ribbon for further usability
              Example below:
              span.ribbon-button-alignment.pull-right
                span#search.btn.btn-ribbon.hidden-xs(data-title='search')
                  i.fa-grid
                  |  Change Grid
                span#add.btn.btn-ribbon.hidden-xs(data-title='add')
                  i.fa-plus
                  |  Add
                span#search.btn.btn-ribbon(data-title='search')
                  i.fa-search
                  span.hidden-mobile Search

        .page-content(ui-view='content')

.placeholder-header(data-smart-include='app/layout/header.html')

.placeholder-left-panel(data-smart-include='app/layout/navigation/navigation.html' ng-show="layoutFn.currentLink !=='workbench' || layoutFn.currentLink !=='teachingSummary'")
.placeholder-left-panel(data-smart-include='app/layout/navigation/navigationPT.html' ng-show="layoutFn.currentLink =='workbench'")
.placeholder-left-panel(data-smart-include='app/layout/navigation/navigationCalc.html' ng-show="layoutFn.currentLink =='teachingSummary'")

#main(role='main')
    #ribbon
        //span.ribbon-button-alignment.pull-right
            span.btn.btn-ribbon.hidden-xs
                i.fa.fa-gear
                |  设置
        span.ribbon-button-alignment
            span#refresh.btn.btn-ribbon(ng-click='layoutFn.lcReload();')
                i.fa.fa-refresh
        span(ncy-breadcrumb)

    div(data-smart-router-animation-wrap='content content@app', data-wrap-for='#content')
        div(data-ui-view='content', data-autoscroll='false')