.college-list-container
    .jarviswidget.jarviswidget-color-blueDark
        header(role='heading')
            .jarviswidget-ctrls(role='menu')
            span.widget-icon
                i.fa.fa-table
            h2 缴费单列表
            span.jarviswidget-loader
                i.fa.fa-refresh.fa-spin
        // widget div
        div(role='content')
            // widget edit box
            .jarviswidget-editbox
                // This area used as dropdown edit box
            // end widget edit box
            // widget content
            .widget-body.no-padding
                #datatable_col_reorder_wrapper.dataTables_wrapper.form-inline.no-footer
                    .dt-toolbar
                        .col-xs-12.col-sm-6
                            #datatable_col_reorder_filter.dataTables_filter
                                label
                                    input.form-control(type='search', placeholder='缴费单名称', aria-controls='datatable_col_reorder' ng-model="paymentFn.paymentName", my-enter="paymentFn.getPaymentList()")
                                    span.input-group-addon.pull-right.cursor-pointer.search-btn(ng-click="paymentFn.getPaymentList()")
                                        i.glyphicon.glyphicon-search
                        .col-sm-6.col-xs-6.hidden-xs
                            .ColVis
                                button.btn.btn-primary(type='button' ng-click="paymentFn.initialization()")
                                    span 导入缴费单
                    table#datatable_col_reorder.table.table-striped.table-bordered.table-hover.dataTable.no-footer(width='100%', role='grid', aria-describedby='datatable_col_reorder_info', style='width: 100%;')
                        thead
                            tr(role='row')
                                th 序号
                                th 缴费单名称
                                th 执行状态
                                th 操作
                        tbody
                            tr.odd(role='row' ng-repeat="payment in paymentFn.paymentList")
                                td.sorting_1 {{$index+1 + ((paymentFn.page.pageNumber==0?paymentFn.page.pageNumber+1:paymentFn.page.pageNumber)-1)*10}}
                                td {{payment.name}}
                                td {{payment.publishState == 10?'待生效':'已生效'}}
                                td
                                    a.handle(ng-click="paymentFn.getPayment(payment)" ng-show="payment.publishState==10")
                                        i.fa.fa-upload
                                        span 重新导入
                                    a.handle(ng-click="paymentFn.deletePayment(payment)" ng-show="payment.publishState==10")
                                        i.fa.fa-trash-o
                                        span 删除
                                    a.handle(ng-click="paymentFn.getPaymentDetail(payment)" ng-show="payment.publishState==10")
                                        i.fa.fa-eye
                                        span 预览
                                    a.handle(ng-click="paymentFn.publishPayment(payment)" ng-show="payment.publishState==10")
                                        i.fa.fa-trash-o
                                        span 生效
                                    a.handle(ng-click="paymentFn.getPaymentDetail(payment)" ng-show="payment.publishState==20")
                                        i.fa.fa-eye
                                        span 查看统计
                    .dt-toolbar-footer
                        .col-sm-6.col-xs-12.hidden-xs
                            #datatable_col_reorder_info.dataTables_info(role='status', aria-live='polite')
                                | 显示第
                                span.txt-color-darken {{((paymentFn.page.pageNumber==0?paymentFn.page.pageNumber+1:paymentFn.page.pageNumber)-1)*10+1}}
                                |  到
                                span.txt-color-darken {{((paymentFn.page.pageNumber==0?paymentFn.page.pageNumber+1:paymentFn.page.pageNumber)-1)*10+paymentFn.paymentList.length}}
                                |  条 总共
                                span.text-primary {{paymentFn.page.totalElements}}
                                |  条记录
                        .col-sm-6.col-xs-12
                            #datatable_col_reorder_paginate.dataTables_paginate.paging_simple_numbers
                                ul.pagination-sm(uib-pagination, total-items='paymentFn.page.totalElements', max-size='paymentFn.page.pageSize' ng-model='paymentFn.page.pageNumber',ng-change="paymentFn.getPaymentList()" boundary-link-numbers='true' rotate='false' previous-text="<" next-text=">")

//-  添加学生弹出窗模版
script(type='text/ng-template',id='importDialog')
    .buld_wrap
        .buld_head
            i.fa.fa-file-excel-o
            span.buld 导入缴费单
        .propt_content
            table
                tr
                    td.first_td 上传文件
                    td
                        .choseFile.left(ngf-select='paymentFn.selected($newFiles)' ng-model="paymentFn.exportParam.file" name="file"  ngf-validate="{size: {max: '1MB'}}" required) 选择文件
                        input.left.load(type='text', readonly='readonly' ng-disabled='true' ng-model="paymentFn.exportParam.file.name" )
                        //.left.load_inner(ng-click='paymentFn.importantBatch(paymentFn.myFile)', type='button') 导入
                tr
                    td.first_td.downlaod-temp 模板下载
                    td
                        .load_inner_w(style="cursor:pointer" ng-click="paymentFn.downLoad()") 缴费单导入模板
                tr
                    td.first_td 缴费设置
                    td
                        .edit-payment-content
                            .payment-style-content
                                span.payment-style 缴费方式:
                                .payment-style-icon
                                    i.fa.style-icon-margin(ng-class="paymentFn.exportParam.paymentType =='10'?'fa-check-circle':'fa-circle-o'" ng-click="paymentFn.checkPaymentStyle(10)")
                                    span 全款缴费
                                .payment-style-icon
                                    i.fa.style-icon-margin(ng-class="paymentFn.exportParam.paymentType=='20'?'fa-check-circle':'fa-circle-o'" ng-click="paymentFn.checkPaymentStyle(20)")
                                    span 可以分期
                            .payment-style-content(ng-show="paymentFn.exportParam.paymentType=='20'")
                                span.payment-style 最低支付限额设置:
                                i.fa.fa-jpy.style-icon-margin
                                input.payment-amount(style='text' ng-model="paymentFn.exportParam.smallAmount")
                                span.style-icon-margin 元
                            .payment-style-content(ng-show="paymentFn.exportParam.paymentType=='20'")
                                span.payment-style 额度限制频次:
                                .payment-style-icon
                                    i.fa.style-icon-margin(ng-class="paymentFn.exportParam.installmentRate=='10'?'fa-check-circle':'fa-circle-o'" ng-click="paymentFn.exportParam.installmentRate=10")
                                    span 首次缴费
                                .payment-style-icon
                                    i.fa.style-icon-margin(ng-class="paymentFn.exportParam.installmentRate=='20'?'fa-check-circle':'fa-circle-o'" ng-click="paymentFn.exportParam.installmentRate=20")
                                    span 每次缴费
                            .payment-style-content
                                span.payment-style 收费截止日期:
                                .input-append.date.datepicker.datepicker-basic.no-padding.deadline(data-date='', data-date-format='yyyy-mm-dd' b-datepicker id="startDate")
                                    input.form-control(size='16', ng-disabled='true' name="dateStart" placeholder='请选择截止日期' type='text' ng-model="paymentFn.exportParam.lastDate" validator="required")
                                    span.add-on
                                        i.icon-calendar.glyphicon.glyphicon-calendar
                            .payment-style-content
                                button.import-button(ng-click="paymentFn.importPayment()") 导入并保存
                tr
                    td.first_td 导入功能说明
                    td
                        ul
                            li 1.导入的数据项中，费用名称、支付人姓名、支付人身份证号码、应付金额为必填项
                            li 2.重复导入时，之前被导入的表单数据将被删除，按最新导入的数据为准
