.content.user-safe
    .content-heading
        .caption
            .caption-subject
                span 安全设置
                span.caption-helper {{usFn.idata.page}}
    .content-body
        //页面顶部提示语句
        .tips(ng-if='usFn.idata.tips')
            i.fa.fa-fw.fa-info-circle
            span(ng-bind-html="usFn.idata.tips")
        //步骤指令
        .step-line(ng-if='usFn.idata.steps.length' step-line data-steps='usFn.idata.steps' data-on-step='usFn.idata.onStep')

        //修改密码表单
        form.form-horizontal.user-safe-form(ng-if='usFn.status == "setPass"' role='form' name='changePassForm')
            .form-body
                .form-group
                    .col-xs-offset-3.col-xs-9
                        span(azx-alert alert='usFn.alert' ng-if='usFn.alert')
                .form-group
                    label.col-xs-3.control-label 登陆密码:
                    .col-xs-9
                        input.form-control(type='password' name='password' placeholder='6-16位字母和数字' ng-model='usFn.passForm.password' validator="required, maxlength=16, minlength=6")
                    .add-text
                        span.text-danger *
                .form-group
                    label.col-xs-3.control-label 确认密码:
                    .col-xs-9
                        input.form-control(type='password' name='repassword' placeholder='再次输入新密码' ng-model='usFn.passForm.repassword' validator="required, maxlength=16, minlength=6, repassword={{usFn.passForm.password}}")
                    .add-text
                        span.text-danger *
            .form-actions
                .row
                    .col-xs-offset-3.col-xs-9
                        button.button.button-primary.button-block(type='submit' validation-submit="changePassForm" ng-click='usFn.putPassword()' ng-disabled='usFn.submit') 下一步

        //手机表单
        form.form-horizontal.user-safe-form(ng-if='usFn.status == "vildPhone"' role='form' name='bindPhoneForm')
            .form-body
                .form-group
                    .col-xs-offset-3.col-xs-9
                        span(azx-alert alert='usFn.alert' ng-if='usFn.alert')
                .form-group
                    label.col-xs-3.control-label 手机号码:
                    .col-xs-9
                        input.form-control(ng-hide='usFn.user.phoneActivated' type='text' name='phone' placeholder='填写11位手机号码' ng-model='usFn.phoneForm.phone' validator="required, phone" ng-disabled='usFn.vilded')
                        label.control-label(ng-show='usFn.user.phoneActivated' ng-bind='usFn.user.phone | hidePhone')
                    .add-text
                        span.text-danger(ng-if='!usFn.user.phoneActivated') *
                .form-group
                    label.col-xs-3.control-label 验证码:
                    .col-xs-9
                        .input-group
                            .input-icon
                                input.form-control(type='text' name='vild' placeholder='6位数字验证码' ng-model='usFn.phoneForm.vild' validator="required, number, maxlength=6, minlength=6" valid-method="submit-only")
                            span.input-group-btn
                                button.btn.btn-default(type='submit' validation-submit="bindPhoneForm.phone" ng-click='usFn.getVcode("phone")' ng-disabled='usFn.vilded')
                                    i.fa.fa-mobile
                                    |  {{usFn.vildBtn}}
                    .add-text
                        span.text-danger *
            .form-actions
                .row
                    .col-xs-offset-3.col-xs-9
                        button.button.button-primary.button-block(type='submit' validation-submit="bindPhoneForm" ng-click='usFn.vildPhone(2)' ng-disabled='usFn.submit') 下一步

        //邮箱表单
        form.form-horizontal.user-safe-form(ng-if='usFn.status == "vildMail"' role='form' name='bindMailForm')
            .form-body
                .form-group
                    .col-xs-offset-3.col-xs-9
                        span(azx-alert alert='usFn.alert' ng-if='usFn.alert')
                .form-group
                    label.col-xs-3.control-label 邮箱账号:
                    .col-xs-9
                        input.form-control(ng-hide='usFn.user.mailActivated' type='text' name='mail' placeholder='填写邮箱账号' ng-model='usFn.mailForm.mail' validator="required, email" ng-disabled='usFn.vilded')
                        label.control-label(ng-show='usFn.user.mailActivated' ng-bind='usFn.user.mail')
                    .add-text
                        span.text-danger(ng-if='!usFn.user.mailActivated') *
                .form-group
                    label.col-xs-3.control-label 验证码:
                    .col-xs-9
                        .input-group
                            .input-icon
                                input.form-control(type='text' name='vild' placeholder='6位数字验证码' ng-model='usFn.mailForm.vild' validator="required, number, maxlength=6, minlength=6" valid-method="submit-only")
                            span.input-group-btn
                                button.btn.btn-default(type='submit' validation-submit="bindMailForm.mail" ng-click='usFn.getVcode("mail")' ng-disabled='usFn.vilded')
                                    i.fa.fa-envelope-square
                                    |  {{usFn.vildBtn}}
                    .add-text
                        span.text-danger *
            .form-actions
                .row
                    .col-xs-offset-3.col-xs-9
                        button.button.button-primary.button-block(type='submit' validation-submit="bindMailForm" ng-click='usFn.vildMail()' ng-disabled='usFn.submit') 下一步

        //form.form-horizontal.user-safe-form(ng-if='usFn.status == "vildMail"' role='form' name='vildMailForm')
            .form-body
                .form-group
                    label.col-xs-3.control-label 手机号码:
                    .col-xs-9
                        input.form-control(type='text' name='phone' placeholder='填写11位手机号码' ng-model='usFn.vildPhone.phone' validator="required, phone")
                    .add-text
                        span.text-danger *
                .form-group
                    label.col-xs-3.control-label 验证码:
                    .col-xs-9
                        .input-group
                            .input-icon
                                input.form-control(type='text' name='vild' placeholder='6位数字验证码' ng-model='usFn.vildPhone.vild' validator="required, number, maxlength=6, minlength=6")
                            span.input-group-btn
                                button.btn.btn-default(type='button')
                                    i.fa.fa-mobile
                                    |  获取验证码
                    .add-text
                        span.text-danger *
            .form-actions
                .row
                    .col-xs-offset-3.col-xs-9
                        button.button.button-primary.button-block(type='submit' validation-submit="vildMailForm" ng-disabled='usFn.submit') 下一步

        .message-help(ng-hide='usFn.status == "sucess" || usFn.status == "setPass"')
            .message-title(ng-bind-html="usFn.idata.hpMessage.title")
            .message-list(ng-bind-html="usFn.idata.hpMessage.content")

        .message-success(ng-if='usFn.status == "sucess"')
            .message-icon
                i.fa.fa-3x.fa-check-circle.text-success
            .message-body
                h4.tittle(ng-if='usFn.idata.cpMessage.title' ng-bind-html="usFn.idata.cpMessage.title")
                .message
                    p(ng-if='usFn.idata.cpMessage.content' ng-bind-html="usFn.idata.cpMessage.content")
                    a(ng-if='usFn.idata.cpMessage.link' ui-sref='{{usFn.idata.cpMessage.link.state}}' ng-bind-html='usFn.idata.cpMessage.link.name')



