$ucleft-width:202px;
.user-profile-content{
  .user-profile-inner{
    width:100%;
    margin-top:40px;
    .portlet{
      width:100%;
      background:#ffffff url($base-url + "dot_line_eff3f8.gif") 200px 0 repeat-y !important;
    }
    .profile-sidebar {
      float: left;
      width: $ucleft-width;
      margin: 0;
      .profile-sidebar-portlet {
        padding: 30px 0 0!important;
        text-align: center;
        .profile-userpic{
          margin: 0 auto;
          text-align: center;
        }
        .profile-usertitle {
          font-family:$font-family-sans-serif;
          text-align: center;
          margin-top: 20px;
          .profile-usertitle-name {
            color: $blue-chambray;
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 7px;
          }
          .profile-usertitle-job {
            text-transform: uppercase;
            color: $blue-soft;
            font-size: 13px;
            font-weight: 800;
            margin-bottom: 7px;
          }
        }
        .profile-usermenu{
          margin-top: 20px;
          ul li {
            border-bottom: 1px solid #f0f4f7;
            text-align: left;
          }
          .nav{
            margin-bottom: 0;
            padding-left: 0;
            list-style: none;
            .fa{
              color:$text-color-light;
              min-width:30px;
              text-align:center;
            }
            a{
              color:$text-color;
            }
          }
          .nav>li, .nav>li>a {
            display: block;
            position: relative;
            &:hover{
              background-color: #f6f9fb;
              background:$gray-lightest;
            }
          }
          .active a {
            color: $blue-soft;
            background-color: #f6f9fb;
            border-left: 2px solid $blue-soft;
            border-right: 2px solid $blue-soft;
            margin-left: -2px;
          }
        }
      }
    }
    .profile-right {
      float: left;
      width: 698px;
      @media only screen and (max-width: 1200px) {
        width: 698px;
      }
      @media only screen and (min-width: 1200px) {
        width: 958px;
      }
      .content-heading{
        height:60px;
      }
      .content-body{
        padding: 30px;
        min-height:500px;
      }
      .caption{
        padding: 25px 0 15px 0;
        .caption-subject{
          font-size:18px;
        }
      }
    }
  }
}