.content.user-profile
    ul.nav.nav-tabs
        li.active
            a(href='javascript:;' ui-sref='userProfile') 基本信息
        li
            a(href='javascript:;' ui-sref='userAvatar') 设置头像
    .content-body
        table.table.readonly-info(ng-if='!upFn.userType')
            tbody
                tr
                    th 账号：
                    td {{upFn.copyUser.login}}
                    th
                    td
                tr
                    th 学校：
                    td {{upFn.copyUser.orgName}}
                    th 院系：
                    td {{upFn.copyUser.collegeName}}
                tr
                    th 专业：
                    td {{upFn.copyUser.majorName}}
                    th 班级：
                    td {{upFn.copyUser.className}}
                tr
                    th 学号：
                    td {{upFn.copyUser.workNo}}
                    th 注册时间：
                    td {{upFn.copyUser.createDate | date:'yyyy-MM-dd HH:mm'}}
        table.table.readonly-info(ng-if='upFn.userType')
            tbody
                tr
                    th 账号：
                    td {{upFn.copyUser.login}}
                    th
                    td
                tr
                    th 学校：
                    td {{upFn.copyUser.orgName}}
                    th 院系：
                    td {{upFn.copyUser.collegeName}}
                tr
                    th 工号：
                    td {{upFn.copyUser.workNo}}
                    th 注册时间：
                    td {{upFn.copyUser.createDate | date:'yyyy-MM-dd HH:mm'}}
        //.splie-line
        form.profile-form(name='profieForm')
            .form-group
                label 真实姓名
                input.form-control(type='text' name='userName' placeholder='请填写真实姓名(必填)' ng-model='upFn.copyUser.name' validator="required, maxlength=20")
                .add-text
                    span.text-danger *
            .form-group
                label 手机
                input.form-control(type='text' name='userPhone' placeholder='请填写手机号' ng-model='upFn.copyUser.phone' ng-disabled='upFn.copyUser.phoneActivated' validator="phone")
                .add-text
                    span(ng-if='upFn.user.phoneActivated')
                        span 该手机已绑定，
                        a(ui-sref='userChangePhone') 重新绑定
                    span(ng-if='!upFn.user.phoneActivated')
                        span 该手机还未绑定，
                        a(ui-sref='userBindPhone') 立刻绑定
            .form-group
                label 电子邮箱
                input.form-control(type='text' name='userEmail' placeholder='请填写电子邮箱' ng-model='upFn.copyUser.mail' ng-disabled='upFn.copyUser.mailActivated' validator="email, maxlength=60")
                .add-text
                    span(ng-if='upFn.user.mailActivated')
                        span 该邮箱已绑定，
                        a(ui-sref='userChangeMail') 重新绑定
                    span(ng-if='!upFn.user.mailActivated')
                        span 该邮箱还未绑定，
                        a(ui-sref='userBindMail') 立刻绑定
                    //span
                        span 修改已绑定邮箱需要先,
                        a 解除绑定
            //.form-group
                label 性别
                div
                    label.radio-inline
                        input#inlineRadio1(type='radio' name='inlineRadioOptions' value='option1')
                        |  男
                    label.radio-inline
                        input#inlineRadio2(type='radio' name='inlineRadioOptions' value='option2')
                        |  女
            .splie-line
            button.button.button-primary.button-rounded(type='submit' validation-submit="profieForm" ng-click='upFn.updateUser()' ng-disabled='upFn.submit') 保存

