.user-profile-content
    .container
        .user-profile-inner
            .row
                .col-xs-12.portlet
                    .profile-sidebar
                        .profile-sidebar-portlet
                            .profile-userpic(data-tooltip-placement='bottom' uib-tooltip='更换头像')
                                img.avatar-120.img-circle(src='{{uaFn.user.avatar}}' alt='' ng-click='uaFn.changeAvatar()')
                            .profile-usertitle
                                .profile-usertitle-name  {{uaFn.user.name | cutStr:8}}
                                //.profile-usertitle-job  developer
                            //.profile-userbuttons
                                button.button.button-green.button-pill.button-tiny(type='button') 关注
                                .speace-10
                                button.button.button-red.button-pill.button-tiny(type='button') 消息
                            .profile-usermenu
                                ul.nav
                                    li(ng-class="{'true':'active'}[uaFn.activeMenu('个人资料')]")
                                        a(ui-sref='userProfile')
                                            i.fa.fa-fw.fa-lg.fa-vcard-o
                                            |  个人资料
                                    li(ng-class="{'true':'active'}[uaFn.activeMenu('安全设置')]")
                                        a(ui-sref='userSafe')
                                            i.fa.fa-fw.fa-lg.fa-lock
                                            |  安全设置
                                    //li
                                        a(href='page_user_profile_1.html')
                                            i.fa.fa-fw.fa-lg.fa-question-circle-o
                                            |  帮助

                    .profile-right(ui-view='profileContent')
