.content.user-profile
    ul.nav.nav-tabs
        li
            a(href='javascript:;' ui-sref='userProfile') 基本信息
        li.active
            a(href='javascript:;' ui-sref='userAvatar') 设置头像
    .content-body
        .btn-upload
            input(type="file" ng-jcrop-input="upload" ngf-select="upFn.selectFile($file)"  data-ngf-pattern='"image/jpg,image/jpeg,image/png"'  data-ngf-accept='"image/jpg,image/jpeg,image/png"'  data-ngf-max-size='1MB')
        .upload-pic
            div(ng-jcrop="upFn.obj.src" data-ng-jcrop-config-name="upload" data-selection="upFn.obj.selection" data-thumbnail="upFn.obj.thumbnail")

        .splie-line
        button.button.button-primary.button-rounded(type='submit' ng-click='upFn.uploadImage($event)') 保存

