#wid-id-7.jarviswidget(data-widget-editbutton='false', data-widget-fullscreenbutton='false', data-widget-custombutton='false', data-widget-sortable='false', role='widget')
    header(role='heading')
        .jarviswidget-ctrls(role='menu')
            a.button-icon.jarviswidget-toggle-btn(href='javascript:void(0);', rel='tooltip', title='', data-placement='bottom', data-original-title='Collapse')
                i.fa.fa-minus
            a.button-icon.jarviswidget-delete-btn(href='javascript:void(0);', rel='tooltip', title='', data-placement='bottom', data-original-title='Delete')
                i.fa.fa-times
        ul.nav.nav-tabs.pull-left.in
            li.active
                a(data-toggle='tab', href='#hr1', aria-expanded='true')
                    i.fa.fa-lg.fa-calendar
                    span.hidden-mobile.hidden-tablet  学期信息
            li
                a(data-toggle='tab', href='#hr2', aria-expanded='false')
                    i.fa.fa-lg.fa-clock-o
                    span.hidden-mobile.hidden-tablet
                        | 课节信息
                        //span.label.bg-color-blue.txt-color-white
                            | label
                            i.fa.fa-exclamation
        span.jarviswidget-loader
            i.fa.fa-refresh.fa-spin
    // widget div
    div(role='content')
        // widget edit box
        .jarviswidget-editbox
            // This area used as dropdown edit box
        // end widget edit box
        // widget content
        .widget-body
            .tab-content
                #hr1.tab-pane.active
                    .tabbable.tabs-below
                        .tab-content.padding-10
                            .col-xs-12.col-sm-6.no-padding.margin-bottom-10
                                .col-sm-6.no-padding
                                    .input-group
                                        input.form-control(type='text', placeholder='Search for...')
                                        span.input-group-btn
                                            button.btn.btn-primary(type='button')
                                                i.glyphicon.glyphicon-search
                            .col-sm-6.col-xs-6.hidden-xs.no-padding.margin-bottom-10
                                .ColVis
                                    button.btn.btn-primary(ui-sref="periodCreate")
                                        span 新建
                            table.table.table-condensed.table-bordered.table-hover(ng-table='demo.tableParams')

                                tr.ng-table-group(ng-repeat-start='schoolYear in preiodFn.schoolYearList')
                                    td(colspan='4')
                                        a(href='', ng-click='schoolYear.$hideRows = !schoolYear.$hideRows')
                                            span.glyphicon(ng-class="{ 'glyphicon-chevron-right': schoolYear.$hideRows, 'glyphicon-chevron-down': !schoolYear.$hideRows }")
                                            strong {{ schoolYear.name }}
                                tr(ng-hide='schoolYear.$hideRows', ng-repeat='schoolTerm in schoolYear.schoolTermList', ng-repeat-end='')
                                    td(sortable="'country'", data-title="'学期'", groupable="'country'")
                                        | {{schoolTerm.name}}
                                    td(sortable="'name'", data-title="'开始日期'", groupable="'name'")
                                        | {{schoolTerm.startTime}}
                                    td(sortable="'age'", data-title="'结束日期'", groupable="'age'")
                                        | {{schoolTerm.endTime}}
                                    td(sortable="'money'", data-title="'学周'")
                                        | {{user.money}}

                #hr2.tab-pane
                    .tabbable.tabs-below
                        .tab-content.padding-10
                            .col-sm-offset-6.col-xs-6.hidden-xs.no-padding.margin-bottom-10
                                .ColVis
                                    button.btn.btn-primary(ui-sref="classCreat")
                                        span 添加新的时段
                            table.table.table-condensed.table-bordered.table-hover(ng-table='demo.tableParams')

                                tr.ng-table-group(ng-repeat-start='schoolYear in preiodFn.schoolYearList')
                                    td(colspan='4')
                                        a(href='', ng-click='schoolYear.$hideRows = !schoolYear.$hideRows')
                                            span.glyphicon(ng-class="{ 'glyphicon-chevron-right': schoolYear.$hideRows, 'glyphicon-chevron-down': !schoolYear.$hideRows }")
                                            strong {{ schoolYear.name }}
                                tr(ng-hide='schoolYear.$hideRows', ng-repeat='schoolTerm in schoolYear.schoolTermList', ng-repeat-end='')
                                    td(sortable="'country'", data-title="'学期'", groupable="'country'")
                                        | {{schoolTerm.name}}
                                    td(sortable="'name'", data-title="'开始日期'", groupable="'name'")
                                        | {{schoolTerm.startTime}}
                                    td(sortable="'age'", data-title="'结束日期'", groupable="'age'")
                                        | {{schoolTerm.endTime}}
                                    td(sortable="'money'", data-title="'学周'")
                                        | {{user.money}}
    // end widget div
