.college-handle-container
    #wid-id-2.jarviswidget.jarviswidget-color-blueDark(ng-if='!handleFn.complete')
        header(role='heading')
            .jarviswidget-ctrls(role='menu')
            span.widget-icon
                i.fa.fa-table
            h2 {{handleFn.title}}
        .widget-body
            form.form-horizontal.repeater(name="studentForm")
                fieldset
                    legend {{handleFn.prompt}}
                .short-form
                    .form-group
                        .col-sm-3.control-label
                            lable.required *
                            label.text-right 姓名：
                        .col-sm-7
                            input.form-control(placeholder="请填写不超过10个字学生姓名" ng-model="handleFn.params.name" name="name" validator="required, maxlength=10")
                    .form-group
                        .col-sm-3.control-label
                            lable.required *
                            label.text-right 学号：
                        .col-sm-7
                            input.form-control(placeholder="请填写不超过10个字学生工号" ng-model="handleFn.params.jobNumber" name="jobNumber" validator="required, maxlength=10")
                    .form-group
                        .col-sm-3.control-label
                            lable.required *
                            label.text-right 选择学院：
                        .col-sm-7
                            select.form-control(ng-model="handleFn.collegeId" )
                                option(ng-repeat="college in handleFn.collegeDropList" value="{{college.id}}" ) {{college.name}}
                    .form-group
                        .col-sm-3.control-label
                            lable.required *
                            label.text-right 选择专业：
                        .col-sm-7
                            select.form-control(ng-model="handleFn.majorId" ui-select2="'{language: zh-CN}'")
                                option(ng-repeat="major in handleFn.majorDropList" value="{{major.id}}") {{major.name}}
                    .form-group
                        .col-sm-3.control-label
                            lable.required *
                            label.text-right 选择班级：
                        .col-sm-7
                            select.form-control(ng-model="handleFn.classId" ui-select2="'{language: zh-CN}'")
                                option(ng-repeat="class in handleFn.classDropList" value="{{class.id}}") {{class.name}}
                    .form-group
                        .col-sm-3.control-label
                            lable.required
                            label.text-right 性别：
                        .col-sm-7
                            label.radio-inline
                                input#inlineRadio1(type='radio', name='inlineRadioOptions',ng-model="handleFn.params.sex" value='男')
                                |  男
                            label.radio-inline
                                input#inlineRadio2(type='radio', name='inlineRadioOptions',ng-model="handleFn.params.sex" value='女')
                                |  女
                    .form-group
                        .col-sm-3.control-label
                            lable.required
                            label.text-right 手机号码：
                        .col-sm-7
                            input.form-control(placeholder="填写学生手机号码" name="phone" ng-model="handleFn.params.phone")
                    .form-group
                        .col-sm-3.control-label
                            lable.required
                            label.text-right 邮箱：
                        .col-sm-7
                            input.form-control(placeholder="填写学生邮箱" name="email" ng-model="handleFn.params.email" )
                .form-actions
                    .row
                        .col-md-12
                            a.btn.btn-success(ng-click="handleFn.submit()" validation-submit="studentForm") 提交
                            a.btn.btn-default(ui-sref="studentlist") 取消
    .jarviswidget.jarviswidget-color-blueDark(ng-if='handleFn.complete')
        header(role='heading')
            span.widget-icon
                i.fa.fa-table
            h2 {{handleFn.title}}
        .finish-prompt
            h3.prompt {{handleFn.completeMSG}}
            .icon
                i.fa.fa-check-circle
        .panel-footer
            a.btn.btn-default(ui-sref="studentlist") 返回学生信息