.college-handle-container
    .jarviswidget.jarviswidget-color-blueDark(ng-if='!handleFn.complete')
        header(role='heading')
            span.widget-icon
                i.fa.fa-table
            h2 {{handleFn.title}}
        .widget-body
            form.form-horizontal(name="courseForm")
                fieldset
                    legend {{handleFn.prompt}}
                .short-form
                    .form-group
                        label.col-sm-3.control-label
                            span.required *
                            | 课程名称：
                        .col-sm-7
                            input.form-control(type="text" placeholder="请填写不超过30个字课程名称" ng-model="handleFn.params.name" name="name" validator="required, maxlength=30")
                    .form-group
                        label.col-sm-3.control-label
                            span
                            |课程描述：
                        .col-sm-9
                            textarea.form-control(rows='8' placeholder="请填写不超过300个字课程描述" ng-model="handleFn.params.courseDesc" name="courseDesc"  validator="maxlength=300")
                .form-actions
                    .row
                        .col-md-12
                            a.btn.btn-primary(type='submit'  ng-click="handleFn.submit()" validation-submit="courseForm") 提交
                            .speace-10
                            a.btn.btn-default(ui-sref="courselist") 取消

    .jarviswidget.jarviswidget-color-blueDark(ng-if='handleFn.complete')
        header(role='heading')
            span.widget-icon
                i.fa.fa-table
            h2 {{handleFn.title}}
        .widget-body
            .finish-prompt
                h3.prompt {{handleFn.completeMSG}}
                .icon
                    i.fa.fa-check-circle
            .form-actions
                .row
                    .col-md-12
                        a.btn.btn-default(ui-sref="courselist") 返回课程信息