.apprenticeship
  .header
    span
      img.logo(src='http://7xpscc.com1.z0.glb.clouddn.com/1498717160487.png')
    span.text 现代学徒制管理平台
  .banner
    img(src='http://7xpscc.com1.z0.glb.clouddn.com/1498717154626.jpg')
    .content
      .title 现代学徒制管理平台，企业学校协同解决方案
      .info 实现管理的信息化、科学化和规范化，促进学校的教学管理改革与创新，
      .info 发挥学校与企业自身管理特色，企业、学校、学生等多方协同运作
      a.btn(href='http://pt.aizhixin.com/index') 开始使用
  .photoWall
    .content
      .title
        span
          img.dot(src='http://7xpscc.com1.z0.glb.clouddn.com/1498720256826.png')
        span.text 工作中学习进步最快
        span
          img.dot(src='http://7xpscc.com1.z0.glb.clouddn.com/1498720249054.png')
      .wall.pad30
        img(src='http://7xpscc.com1.z0.glb.clouddn.com/1498720240895.png')
  .photoWall
    .content
      .title
        span
          img.dot(src='http://7xpscc.com1.z0.glb.clouddn.com/1498720256826.png')
        span.text 正在关注你们的企业
        span
          img.dot(src='http://7xpscc.com1.z0.glb.clouddn.com/1498720249054.png')
      .wrap
        span.arrow-left
          i.fa.fa-chevron-circle-left(ng-click='leftFn()')
        span.arrow-right
          i.fa.fa-chevron-circle-right(ng-click='rihgtFn()')
        ul(ng-show='doweleft')
          .doweLeft
             li
               img(src="http://7xpscc.com1.z0.glb.clouddn.com/1498717115877.jpg" alt="中国电信")
             li
               img(src="http://7xpscc.com1.z0.glb.clouddn.com/1498717121576.jpg" alt="中国移动")
             li
               img(src="http://7xpscc.com1.z0.glb.clouddn.com/1498717126535.jpg" alt="中国联通")
             li
               img(src="http://7xpscc.com1.z0.glb.clouddn.com/1498717133239.jpg" alt="世纪鼎力")
             li
               img(src="http://7xpscc.com1.z0.glb.clouddn.com/1498717139036.jpg" alt="知新树")
             li
               img(src="http://7xpscc.com1.z0.glb.clouddn.com/1498717144634.jpg" alt="中国通信服务")
        ul(ng-show='!doweleft')
          .doweRight
            li
              img(src="http://7xpscc.com1.z0.glb.clouddn.com/1498717115877.jpg" alt="中国电信")
            li
              img(src="http://7xpscc.com1.z0.glb.clouddn.com/1498717121576.jpg" alt="中国移动")
            li
              img(src="http://7xpscc.com1.z0.glb.clouddn.com/1498717126535.jpg" alt="中国联通")
            li
              img(src="http://7xpscc.com1.z0.glb.clouddn.com/1498717133239.jpg" alt="世纪鼎力")
            li
              img(src="http://7xpscc.com1.z0.glb.clouddn.com/1498717139036.jpg" alt="知新树")
            li
              img(src="http://7xpscc.com1.z0.glb.clouddn.com/1498717144634.jpg" alt="中国通信服务")
  .footer
    .address
      span 地址：广东省广州市天河区中山大道西191号
      span 邮编：510630
    .skill 技术支持：北京知新树科技有限公司




