.content-container
    .hot-major-container
        ul.major-content
            li.major-list(ng-repeat="course in boutiqueFn.boutiqueCourseList" )
                a.major-image(href="{{boutiqueFn.emHost}}{{course.courseId}}" target="_blank" ng-init="a=false" ng-mouseenter="a=true" ng-mouseleave="a=false")
                    img(ng-src="{{course.inUrl || 'http://7xpscc.com1.z0.glb.clouddn.com/1495700370783'}}")
                    .shade(ng-show="a")
                        .tipes
                            i.fa.fa-play-circle-o
                            span 去看看
                .major-content
                    .name
                        | {{course.courseName}}
                    .teacher(ng-if="course.courseAuthors[0]")
                       .avater
                           img(ng-src="{{course.courseAuthors[0].photo}}")
                       .name
                           | {{course.courseAuthors[0].name}} {{course.courseAuthors[0].position}}
                    .introduce
                      | {{boutiqueFn.cutHtml(course.introduction,240)}}

    .page(ng-if="boutiqueFn.page.totalElements")
        ul.pagination-sm(uib-pagination, total-items='boutiqueFn.page.totalElements',items-per-page="boutiqueFn.page.pageSize" max-size='boutiqueFn.page.pageSize' ng-model='boutiqueFn.page.pageNumber',ng-change="boutiqueFn.getBoutiqueCourseList()" boundary-link-numbers='true' rotate='false' previous-text="上一页" next-text="下一页")
