.content-container.gray-bg
    .overview
        .teacher-card-bg
            //.shade(ng-show="a")
            //.detail-button(ng-show="a")
            //    a.btn-detail(ui-sref="excellentteacherdetail({id:teacher.id})")
            //        | 教师详情>>
            .teacher-image
                img.img(ng-src="{{ excellentTeacherDetailFn.excellentTeacher.inUrl || 'http://oli56k5b0.bkt.clouddn.com/avatar-200%E2%9C%96200.jpg'}}")
            .teacher-name
                span.name {{excellentTeacherDetailFn.excellentTeacher.teacherName}}
                span.position {{teacher.position}}
        .content
            .title 老师介绍
            .introduce(ng-bind-html="excellentTeacherDetailFn.trustAsHtml(excellentTeacherDetailFn.excellentTeacher.introduction)")