.content-container.gray-bg
    .hot-major-container
        ul.major-content
            li.major-list.pointer(ng-repeat="major in hotMajorListFn.hotMajorList" ui-sref="hotmajordetail({id:major.id})")
                .major-image
                    img(ng-src="{{major.inUrl || 'https://s.aizhixin.com/major-defulat.png'}}")
                .major-content
                    .name
                        | {{major.specialtyName}}
                    .introduce
                        | {{hotMajorListFn.cutHtml(major.introduction,300)}}


    .page.gray-bg(ng-if='hotMajorListFn.page.totalElements')
        ul.pagination-sm(uib-pagination, total-items='hotMajorListFn.page.totalElements',items-per-page="hotMajorListFn.page.pageSize" max-size='hotMajorListFn.page.pageSize' ng-model='hotMajorListFn.page.pageNumber',ng-change="hotMajorListFn.getHotMajorList()" boundary-link-numbers='true' rotate='false' previous-text="<" next-text=">")
