.content-container
    .hot-major-container
        ul.major-content
            li.major-list(ng-repeat="major in hotMajorListFn.hotMajorList" ui-sref="hotmajordetail({id:major.id})")
                .major-image
                    img(ng-src="{{major.inUrl || 'http://7xpscc.com1.z0.glb.clouddn.com/1494986499287'}}")
                .major-content
                    .name
                        | {{major.specialtyName}}
                    .introduce
                        | {{hotMajorListFn.cutHtml(major.introduction,300)}}


    .page(ng-if='hotMajorListFn.page.totalElements')
        ul.pagination-sm(uib-pagination, total-items='hotMajorListFn.page.totalElements',items-per-page="hotMajorListFn.page.pageSize" max-size='hotMajorListFn.page.pageSize' ng-model='hotMajorListFn.page.pageNumber',ng-change="hotMajorListFn.getHotMajorList()" boundary-link-numbers='true' rotate='false' previous-text="上一页" next-text="下一页")
