.content-container
    .shuff-image(azx-swiper data-slides='indexFn.shuffImageList' data-full-screen='false' data-show-nav-buttons='indexFn.showSlidNav')

    .feature-block
        .title 精品课程
        .more.cursor-pointer(ui-sref="boutique") 更多>>
    .boutique-course-content
        a.course-card(ng-repeat="course in indexFn.boutiqueCourseList"  href="{{indexFn.emHost}}{{course.courseId}}" target="_blank")
            img.course-image(ng-src="{{course.inUrl || 'http://7xpscc.com1.z0.glb.clouddn.com/1495700370783'}}")
            .course-name
                | {{course.courseName}}
            .course-teacher
            //    | 12课时 | 刘建平


    .introduce-container
        .excellent-teacher
            .feature-block
                .title 优秀教师
                .more.cursor-pointer(ui-sref="excellentteacherlist") 更多>>
            .teacher-card-container
                //{"id":1,"userId":null,"orgId":null,"teacherId":6,"introduction":"分隔符","inUrl":"http://7xpscc.com1.z0.glb.clouddn.com/1494986499287","templateShow":2,"teacherName":"驱蚊器","phone":"","jobNumber":"12345","sex":"男","email":""}
                .teacher-card(ng-repeat="teacher in indexFn.excellentTeacherList" ng-init="a=false" ng-mouseenter="a=true" ng-mouseleave="a=false")
                    .shade(ng-show="a")
                    .detail-button(ng-show="a")
                        a.btn-detail(ui-sref="excellentteacherdetail({id:teacher.id})")
                            | 教师详情>>
                    .teacher-image
                        img.img(ng-src="{{ teacher.inUrl || 'http://oli56k5b0.bkt.clouddn.com/avatar-200%E2%9C%96200.jpg'}}")
                    .teacher-name
                        | {{teacher.teacherName}}
                    .teacher-detail
                        | {{indexFn.cutHtml(teacher.introduction,34)}}
        .hot-msg
            .feature-block
                .tab(ng-class="{'active':indexFn.currentTab=='notice'}" ng-click="indexFn.tabToggle('notice')")  最新活动
                .tab(ng-class="{'active':indexFn.currentTab=='major'}" ng-click="indexFn.tabToggle('major')")  热门专业
                .more.cursor-pointer(ng-click="indexFn.tabToDetail()") 更多>>
            .hot-container
                .btn-major(ng-repeat="major in indexFn.hotMajorList" ui-sref="hotmajordetail({id:major.id})" ng-if="indexFn.currentTab=='major'")
                    | {{major.specialtyName}}
                .notice(ng-if="indexFn.currentTab=='notice'" ui-sref="noticedetail({id:notice.id})" ng-repeat="notice in indexFn.noticeList")
                    .notice-left
                        .day {{ indexFn.formatDate(notice.publishDate,'dd') }}
                        .year-month {{ indexFn.formatDate(notice.publishDate,'yyyy/MM') }}
                    .notice-right
                        .title {{notice.title}}
                        .content {{indexFn.cutHtml(notice.content,20)}}
