#pageheader(azx-header data-alpha-light data-redirect-url='/userCenter')
.main.home-index
    .banner
        .swiper-container(azx-swiper data-slides='slides' data-full-screen='false')
    .module.sc1
        .module-content.row
            .col-xs-4.group1(ng-click='indexFn.getUrl(1)')
                .img-group
                    .imgbg
                    .img
                        img(src='../assets/images/index/earth_pc.png')
                .title 课程中心
                .desc 四大核心专业群，符合应用型人才培养要求，完全与高校教学同步配套，实现“教、学、练、测、评”五位一体，教师省力，学生方便。
            .col-xs-4.group2(ng-click='indexFn.getUrl(2)')
                .img-group
                    .imgbg
                    .img
                        img(src='../assets/images/index/earth_pad.png')
                .title 实训中心
                .desc 综合实训、学期实训、顶岗实践、创新创业四大实训管理解决方案。科学组织，专业跟踪，完全与企业环境接轨。教师管理省心。
            .col-xs-4.group3(ng-click='indexFn.getUrl(4)')
                .img-group
                    .imgbg
                    .img
                        img(src='../assets/images/index/earth_phone.png')
                .title 掌上校园
                .desc 移动端智慧校园解决方案，有效补充校园内数据采集、安全预警等教务需要；更满足考试评测、心理成长、就业规划等各类个性需求。
    .module.sc2
        .module-content.row
            .col-xs-5.group1
                .title 知新点点
                .title-info 知新校园，点点就行
                .desc 知新点点是知新树在线教育平台推出的新一代智慧教务解决方案。 知新点点做到了实时呈现整个学校的运营状态：从提高点名/评教 的效率，到轻松采集、分析日常数据，校园动态一目了然
                .vcode
                    .img
                        img(ng-src='../assets/images/index/student_prod.png')
                        .name 学生端
                    .img
                        img(ng-src='../assets/images/index/teacher_prod.png')
                        .name 教师端
            .col-xs-7.group2
                .img1
                .img2
                .img3
    .module.sc3
        .module-content
            .logo-ul.row
                .c-logos(ng-repeat='edu in indexFn.edulogos')
                    .c-logo
                        img(ng-src='{{edu.logo}}')
                    .c-title {{edu.name}}
    //.module
        .module-content
            .title
                span.title-app-name 知新校场
                span.title-app-name 多任务智能化实训管理云平台
            .line
                .point
            .desc
                span.span_width 针对高校毕业生能力不足、经验不够、与企业要求存在差距的痛点，知新校场全面满足高校教学中实验、实训、实习多种教学场景
            .pt-funcs
                .func-desc(ng-repeat='func in ptFuncs')
                    .title(ng-bind='func.title')
                    .desc(ng-bind-html='func.desc')
            a(href='http://pt.aizhixin.com').link-more-bg.link-more 查看更多
    //.module
        .module-content
            .title
                span.title-app-name 知新慧眼
                span.title-app-name 全方位职业评测及职业生涯规划
            .line
                .point
            .desc
                span 知新慧眼利用专业、便捷、实用的测评量表和胜任力模型，从人格、能力、职业等多维度为用户提供测试、分析与定位，使用户认识和发现真我
            .hy-func-img
            ul.hy-funcs
                li(ng-repeat='func in hyFuncs')
                    .title
                        span(ng-bind='func.title')
                    .desc(ng-bind-html='func.desc')
            a(ng-href='http://hy.aizhixin.com').link-more 查看更多
    //.module.module-alt
        .module-content
            .title
                span.title-app-name 知新点点
                span.title-app-name 新一代全终端智慧校园解决方案
            .line
                .point
            .desc
                span 知新点点做到了实时呈现整个学校的运营状态：从提高点名/评教的效率，到轻松采集、分析日常数据校园动态一目了然
            .dd-funcs
                .dd-funcs-left
                    .dd-funcs-item(ng-repeat='func in ddFuncs')
                        .icon
                            img(ng-src='{{func.icon}}')
                        .details
                            .title(ng-bind='func.title')
                            .desc(ng-bind-html='func.desc')
                .dd-funcs-right
            a(ng-href='http://dd.aizhixin.com').link-more-bg.link-more 查看更多
    //.module.hide
        .module-content
            .title
                span 知名企业海量职位虚位以待
            ul.enterprise-logos
                li(ng-repeat='icon in enterpriseIcons')
                    img(ng-src='{{icon.src}}', alt='{{icon.title}}')
    //.module.module-alt.hide
        .module-content
            .title
                span 线上平台和线下基地全力支撑
            ul.school-photos
                li(ng-repeat='photo in schoolPhotos')
                    img(ng-src='{{photo.src}}')
                    .title(ng-bind='photo.title')
//div(style="display:none;")
  script(src="http://s95.cnzz.com/z_stat.php?id=1260474898&web_id=1260474898", language="JavaScript")
//#pagerfooter(azx-footer data-product='{{product.name}}' data-version='{{product.version}}')
.azx-footer.dark-footer
    .footer-content
        .footer-contact
            .contact-group
                .label 友情链接：
                .link
                    a(href='http://www.dingli.com' target='_blank') 世纪鼎利
                    a(href='http://www.ultrawise.com.cn' target='_blank') 智翔教育
                    a(href='http://www.jnmdgroup.com' target='_blank') 佳诺明德
            .contact-group
                .label 地　　址：
                .address 北京市海淀区西三环北路87号国际财经中心C座701
            .contact-group
                .label 联系电话：
                .tel 010-88820318
            .contact-group
                .label 电子邮箱：
                a.mail(href='mailto:bd@aizhixin.com') bd@aizhixin.com
        .azx-logo-white(azx-logo='')
        .footer-right
            .version {{indexFn.product.name}} · ver.{{indexFn.product.version}}
            .Copyright
                | Copyright © 2016-2018 北京知新树科技有限公司 aizhixin.com All Rights Reserved　　·　　
                span 京ICP备16006959号-1
            .float-right
                span.QRcode(data-popover-title='知新网微信公众号', uib-popover-html='indexFn.qrWeixin', data-popover-trigger='indexFn.mouseenter')
                    i.fa.fa-lg.fa-weixin
                span.QRcode(data-popover-title='知新网QQ服务群', uib-popover-html='indexFn.qrQQ', data-popover-trigger='indexFn.mouseenter')
                    i.fa.fa-lg.fa-qq
