.content-container
    .new-notice-container
        ul.new-notice-content
            li.new-notice-list(ng-repeat="notice in noticeListFn.noticeList" ui-sref="noticedetail({id:notice.id})")
                .new-notice-image
                    img(ng-src="{{indexFn.getHtmlFirstImg(notice.content) || 'http://oli56k5b0.bkt.clouddn.com/notice-default420x156.png'}}")
                .new-notice-content
                    .date
                        span.day {{ noticeListFn.formatDate(notice.publishDate,'dd') }}
                        span.year /{{ noticeListFn.formatDate(notice.publishDate,'yyyy-MM') }}
                    .name
                        | {{notice.title}}
                    .introduce
                        | {{noticeListFn.cutHtml(notice.content,90)}}
    .page(ng-if='noticeListFn.page.totalElements')
        ul.pagination-sm(uib-pagination, total-items='noticeListFn.page.totalElements',items-per-page="noticeListFn.page.pageSize" max-size='noticeListFn.page.pageSize' ng-model='noticeListFn.page.pageNumber',ng-change="noticeListFn.getNoticeList()" boundary-link-numbers='true' rotate='false' previous-text="上一页" next-text="下一页")

