.content-container.gray-bg
    .overview
        .title {{noticeDetailFn.notice.title}}
        .date 时间：{{noticeDetailFn.notice.lastModifiedDate}}
        .school-introduce(ng-bind-html="noticeDetailFn.trustAsHtml(noticeDetailFn.notice.content)")