.content-container.gray-bg
    .overview
        .school-card-bg
            .school-image
                img.img(ng-src="{{ overViewFn.schoolLogo.logoUrl}}" ng-if="overViewFn.schoolLogo")
            .school-name
                span.name {{overViewFn.schoolInfo.name}}
        .content
            .title {{overViewFn.schoolInfo.name}}
            .introduce(ng-bind-html="overViewFn.introduction")