
/**
common scss
 */
@import '../sass/_mixin.scss';
@import '../sass/_variables.scss';
/**
所有子页面的独立样式都放这里
*/
body{
  font-family: $font-family-sans-serif;
}
.swiper-pagination-bullet-active {
  opacity: 1 !important;
  background: #29c192 !important;
}
.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background:#eeeeee;
  opacity: 1;
}
@import '../app/layout/layout.scss';
@import "../app/layout/header.scss";
@import '../app/account/signin.scss';
@import '../app/account/forgotpassword.scss';
@import '../app/account/validemail.scss';
@import "../app/home/home.scss";
@import "../app/module/college/collegeHandle.scss";
@import "../app/module/college/collegeList.scss";
@import "../app/module/school/school.scss";
@import "../app/module/agenda/agenda.scss";
@import "../app/index/index.scss";
@import "../app/module/eduman/eduman.scss";
