.college-list-container
    #wid-id-2.jarviswidget.jarviswidget-color-blueDark.jarviswidget-sortable(data-widget-editbutton='false', style='', role='widget')
        header(role='heading')
            .jarviswidget-ctrls(role='menu')
            ul#myTab.nav.nav-tabs.pull-left.in
                li.active(ng-click="attendFn.resetParams(1)")
                    a(data-toggle='tab', href='#hr1', aria-expanded='true')
                        i.fa.fa-lg.fa-calendar
                        span.hidden-mobile.hidden-tablet  教学班考勤
                li(ng-click="attendFn.resetParams(2)")
                    a(data-toggle='tab', href='#hr2', aria-expanded='false')
                        i.fa.fa-lg.fa-clock-o
                        span.hidden-mobile.hidden-tablet
                            | 行政班考勤
                li
                    a(data-toggle='tab', href='#hr3', aria-expanded='false')
                        i.fa.fa-lg.fa-pencil
                        span.hidden-mobile.hidden-tablet
                            | 到课率设置
        // widget div
        div(role='content')
            // widget edit box
            .jarviswidget-editbox
                // This area used as dropdown edit box
            // end widget edit box
            // widget content
            .widget-body.no-padding
                .tab-content
                    #hr1.tab-pane.active
                        .col-xs-12.margin-top-10
                            .col-xs-6.no-padding
                                button.btn.btn-default(ng-click="attendFn.switchTab('course')" ng-class="{'btn-primary':attendFn.tab=='course'}")
                                    span 按课程
                                button.btn.btn-default(ng-click="attendFn.switchTab('teacher')" ng-class="{'btn-primary':attendFn.tab=='teacher'}")
                                    span 按教师
                                button.btn.btn-default(ng-click="attendFn.switchTab('time')" ng-class="{'btn-primary':attendFn.tab=='time'}")
                                    span 按上课时间
                        .tabbable.tabs-below(ng-if="attendFn.tab=='course'")
                            .tab-content
                                .no-padding
                                    .dataTables_wrapper.form-inline.no-footer
                                        .dt-toolbar.padding-bottom-10
                                            .col-xs-10
                                                form.form-inline
                                                    .form-group.col-sm-3
                                                        label.control-label 学期选择：
                                                        select#ddd.select2.form-control( ng-model="attendFn.params.semesterId" ui-select2="attendFn.select2SemesterOptions()" )
                                                                    optgroup(label="{{schoolYear.text}}" ng-repeat="schoolYear in attendFn.schoolYearDropList")
                                                                        option(value="{{semester.id}}" ng-repeat="semester in schoolYear.children" selected="{{attendFn.params.semesterId==semester.id?'selected':''}}") {{schoolYear.text+semester.text}}
                                                    //.form-group.col-sm-3
                                                    //    label.control-label  开课学院：
                                                    //    select.form-control(ng-model="attendFn.params.collegeId" ui-select2="attendFn.selectCollege2Options()" )
                                                    //        option(ng-repeat="college in attendFn.collegeDropList" value="{{college.id}}" ) {{college.name}}

                                                    .form-group.col-sm-3
                                                        label.control-label  课程名称：
                                                        input.form-control(type="text" ng-model="attendFn.params.courseName" placeholder="请输入课程名称" )
                                                    .form-group.col-sm-3
                                                        label.control-label 授课教师：
                                                        input.form-control(type="text" ng-model="attendFn.params.teacherName" placeholder="请输入授课教师" )

                                            .col-sm-2.col-xs-6.hidden-xs
                                                .ColVis
                                                    button.btn.btn-primary(ng-click="attendFn.getTeachClassAttendList()")
                                                        span 查询
                                                    button.btn.btn-primary(ng-click="attendFn.teachClassAttendExport()")
                                                        span 导出
                                        table#datatable_col_reorder.table.table-striped.table-bordered.table-hover.dataTable.no-footer(width='100%', role='grid', aria-describedby='datatable_col_reorder_info', style='width: 100%;')
                                            thead
                                                tr(role='row')
                                                    th.sorting_asc(data-hide='phone', tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-sort='ascending', aria-label='ID: activate to sort column descending', style='width: 35px;') 序号
                                                    th.expand.sorting(data-class='expand', tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Name: activate to sort column ascending', style='width: 86px;') 选课编号
                                                    th.sorting(data-hide='phone', tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Company: activate to sort column ascending', style='width: 195px;') 课程名称
                                                    th.sorting(data-hide='phone,tablet', tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Date: activate to sort column ascending', style='width: 195px;') 授课教师
                                                    th.sorting(data-hide='phone', tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Company: activate to sort column ascending', style='width: 195px;') 学生应出勤次数
                                                    th.sorting(data-hide='phone', tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Company: activate to sort column ascending', style='width: 195px;') 实际出勤次数
                                                    th.sorting(data-hide='phone,tablet', tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Date: activate to sort column ascending', style='width: 195px;') 学生综合出勤率
                                                    th.sorting(data-hide='phone,tablet', tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Date: activate to sort column ascending', style='width: 195px;') 操作
                                            tbody
                                                tr.odd(role='row' ng-repeat="attend in attendFn.teachClassAttendList")
                                                    td.sorting_1 {{$index+1 + ((attendFn.page.pageNumber==0?attendFn.page.pageNumber+1:attendFn.page.pageNumber)-1)*10}}
                                                    td.expand {{attend.code}}
                                                    td  {{attend.courseName}}
                                                    td  {{attend.teacherName}}
                                                    td  {{attend.participationCount}}
                                                    td  {{attend.practical}}
                                                    td  {{attend.proportion}}
                                                    td
                                                        a.handle(ng-click="attendFn.toDetail(attend,1)")
                                                            i.fa.fa-pencil-square-o
                                                            span 详情
                                                        a.handle(ng-click="attendFn.toTrend(attend)")
                                                            i.fa.fa-line-chart
                                                            span 趋势

                                        .dt-toolbar-footer
                                            .col-sm-6.col-xs-12.hidden-xs
                                                #datatable_col_reorder_info.dataTables_info(role='status', aria-live='polite')
                                                    | 显示第
                                                    span.txt-color-darken {{attendFn.page.pageNumber==0?attendFn.page.pageNumber*10:(attendFn.page.pageNumber-1)*10+1}}
                                                    |  到
                                                    span.txt-color-darken {{((attendFn.page.pageNumber==0?attendFn.page.pageNumber+1:attendFn.page.pageNumber)-1)*10+attendFn.teachClassAttendList.length}}
                                                    |  条 总共
                                                    span.text-primary {{attendFn.page.totalElements}}
                                                    |  条记录
                                            .col-sm-6.col-xs-12
                                                .dataTables_paginate.paging_simple_numbers
                                                    ul.pagination-sm(uib-pagination, total-items='attendFn.page.totalElements', max-size='attendFn.page.pageSize' ng-model='attendFn.page.pageNumber',ng-change="attendFn.getTeachClassAttendList()" boundary-link-numbers='true' rotate='false' previous-text="<" next-text=">")
                        .tabbable.tabs-below(ng-if="attendFn.tab=='teacher'")
                            .tab-content
                                .no-padding
                                    .dataTables_wrapper.form-inline.no-footer
                                        .dt-toolbar.padding-bottom-10
                                            .col-xs-10
                                                form.form-inline
                                                    .form-group.col-sm-3
                                                        label 院系：
                                                            select.select2.form-control(ng-model="attendTeacherFn.params.collegeId" ui-select2="attendFn.selectCollege2Options()" )
                                                                option(value="") 全部
                                                                option(ng-repeat="college in attendFn.collegeDropList" value="{{college.id}}" ) {{college.name}}

                                                    .form-group.col-sm-3
                                                        label.control-label  教师：
                                                        input.form-control(type="text" ng-model="attendTeacherFn.params.teacherName" placeholder="请输入教师名称" )
                                                    .form-group.col-sm-6
                                                        label.control-label 时间段：
                                                        .input-append.date.datepicker.datepicker-basic.no-padding.inline-block(data-date='', data-date-format='yyyy-mm-dd' b-datepicker)
                                                            input.form-control(size='16', ng-disabled='true' name="dateStart" placeholder='请选择开始日期' type='text' ng-model="attendTeacherFn.params.beginDate" validator="required")
                                                            span.add-on
                                                                i.icon-calendar.glyphicon.glyphicon-calendar

                                                        .inline-block -
                                                        .input-append.date.datepicker.datepicker-basic.no-padding.inline-block(data-date='', data-date-format='yyyy-mm-dd' b-datepicker)
                                                            input.form-control(size='16', ng-disabled='true' name="dateStart" placeholder='请选择结束日期' type='text' ng-model="attendTeacherFn.params.endDate" validator="required")
                                                            span.add-on
                                                                i.icon-calendar.glyphicon.glyphicon-calendar

                                            .col-sm-2.col-xs-6.hidden-xs
                                                .ColVis
                                                    button.btn.btn-primary(ng-click="attendTeacherFn.getTeachingclassAttendByTeacher()")
                                                        span 查询
                                                    button.btn.btn-primary(ng-click="attendTeacherFn.exportTeachingclassByTeacher()")
                                                        span 导出
                                        table.table.table-striped.table-bordered.table-hover.dataTable.no-footer(width='100%', role='grid', aria-describedby='datatable_col_reorder_info', style='width: 100%;')
                                            thead
                                                tr(role='row')
                                                    th 序号
                                                    th 学院
                                                    th 工号
                                                    th 授课教师
                                                    th 应到
                                                    th 实到
                                                    th 迟到
                                                    th 请假
                                                    th 旷课
                                                    th 早退
                                                    th 到课率

                                            tbody
                                                tr.odd(role='row' ng-repeat="attend in attendTeacherFn.attendList")
                                                    td.sorting_1 {{$index+1 + ((attendTeacherFn.page.pageNumber==0?attendTeacherFn.page.pageNumber+1:attendTeacherFn.page.pageNumber)-1)*10}}
                                                    td {{attend.collegeName}}
                                                    td {{attend.teacherJob}}
                                                    td {{attend.teacherName}}
                                                    td {{attend.total}}
                                                    td {{attend.normal}}
                                                    td {{attend.later}}
                                                    td {{attend.askForLeave}}
                                                    td {{attend.truancy}}
                                                    td {{attend.leave}}
                                                    td {{attend.attendance}}
                                        .dt-toolbar-footer
                                            .col-sm-6.col-xs-12.hidden-xs
                                                .dataTables_info(role='status', aria-live='polite')
                                                    | 显示第
                                                    span.txt-color-darken {{attendTeacherFn.page.pageNumber==0?attendTeacherFn.page.pageNumber*10:(attendTeacherFn.page.pageNumber-1)*10+1}}
                                                    |  到
                                                    span.txt-color-darken {{((attendTeacherFn.page.pageNumber==0?attendTeacherFn.page.pageNumber+1:attendTeacherFn.page.pageNumber)-1)*10+attendTeacherFn.teachClassAttendList.lengtd}}
                                                    |  条 总共
                                                    span.text-primary {{attendTeacherFn.page.totalElements}}
                                                    |  条记录
                                            .col-sm-6.col-xs-12
                                                .dataTables_paginate.paging_simple_numbers
                                                    ul.pagination-sm(uib-pagination, total-items='attendTeacherFn.page.totalElements', max-size='attendTeacherFn.page.pageSize' ng-model='attendTeacherFn.page.pageNumber',ng-change="attendTeacherFn.getTeachClassAttendList()" boundary-link-numbers='true' rotate='false' previous-text="<" next-text=">")
                        .tabbable.tabs-below(ng-if="attendFn.tab=='time'")
                            .tab-content
                                .no-padding
                                    .dataTables_wrapper.form-inline.no-footer
                                        .dt-toolbar.padding-bottom-10
                                            .col-xs-10
                                                .form-group.col-sm-3
                                                    label.control-label  课程：
                                                    input.form-control(type="text" ng-model="attendTimeFn.params.courseName" placeholder="请输入课程名称" )
                                                .form-group.col-sm-3
                                                    label.control-label 教师：
                                                    input.form-control(type="text" ng-model="attendTimeFn.params.teacherName" placeholder="请输入授课教师" )
                                                .form-group.col-sm-6
                                                    label.control-label 时间段：
                                                    .input-append.date.datepicker.datepicker-basic.no-padding.inline-block(data-date='', data-date-format='yyyy-mm-dd' b-datepicker)
                                                        input.form-control(size='16', ng-disabled='true' name="dateStart" placeholder='请选择开始日期' type='text' ng-model="attendTimeFn.params.beginDate" validator="required")
                                                        span.add-on
                                                            i.icon-calendar.glyphicon.glyphicon-calendar

                                                    .inline-block -
                                                    .input-append.date.datepicker.datepicker-basic.no-padding.inline-block(data-date='', data-date-format='yyyy-mm-dd' b-datepicker)
                                                        input.form-control(size='16', ng-disabled='true' name="dateStart" placeholder='请选择结束日期' type='text' ng-model="attendTimeFn.params.endDate" validator="required")
                                                        span.add-on
                                                            i.icon-calendar.glyphicon.glyphicon-calendar


                                            .col-sm-2.col-xs-6.hidden-xs
                                                .ColVis
                                                    button.btn.btn-primary(ng-click="attendTimeFn.getAttendanceByPeriod()")
                                                        span 查询
                                                    button.btn.btn-primary(ng-click="attendTimeFn.exportClassAttendanceByPeriod()")
                                                        span 导出
                                        table.table.table-striped.table-bordered.table-hover.dataTable.no-footer(width='100%', role='grid', aria-describedby='datatable_col_reorder_info', style='width: 100%;')
                                            thead
                                                tr(role='row')
                                                    th 序号
                                                    th 选课编号
                                                    th 课程名称
                                                    th 授课教师
                                                    th 上课教室
                                                    th 日期
                                                    th 星期
                                                    th 节数
                                                    th 应到
                                                    th 实到
                                                    th 迟到
                                                    th 请假
                                                    th 旷课
                                                    th 早退
                                                    th 到课率
                                            tbody
                                                tr.odd(role='row' ng-repeat="attend in attendTimeFn.attendList")
                                                    td.sorting_1 {{$index+1 + ((attendTimeFn.page.pageNumber==0?attendTimeFn.page.pageNumber+1:attendTimeFn.page.pageNumber)-1)*10}}
                                                    td {{attend.teachingClassesCode}}
                                                    td {{attend.courseName}}
                                                    td {{attend.teacherName}}
                                                    td {{attend.classRoom}}
                                                    td {{attend.teachDate}}
                                                    td {{attend.dayOfWeek}}
                                                    td {{attend.period}}
                                                    td {{attend.total}}
                                                    td {{attend.normal}}
                                                    td {{attend.later}}
                                                    td {{attend.askForLeave}}
                                                    td {{attend.truancy}}
                                                    td {{attend.leave}}
                                                    td {{attend.attendance}}
                                        .dt-toolbar-footer
                                            .col-sm-6.col-xs-12.hidden-xs
                                                .dataTables_info(role='status', aria-live='polite')
                                                    | 显示第
                                                    span.txt-color-darken {{attendTimeFn.page.pageNumber==0?attendTimeFn.page.pageNumber*10:(attendTimeFn.page.pageNumber-1)*10+1}}
                                                    |  到
                                                    span.txt-color-darken {{((attendTimeFn.page.pageNumber==0?attendTimeFn.page.pageNumber+1:attendTimeFn.page.pageNumber)-1)*10+attendTimeFn.teachClassAttendList.length}}
                                                    |  条 总共
                                                    span.text-primary {{attendTimeFn.page.totalElements}}
                                                    |  条记录
                                            .col-sm-6.col-xs-12
                                                .dataTables_paginate.paging_simple_numbers
                                                    ul.pagination-sm(uib-pagination, total-items='attendTimeFn.page.totalElements', max-size='attendTimeFn.page.pageSize' ng-model='attendTimeFn.page.pageNumber',ng-change="attendTimeFn.getTeachClassAttendList()" boundary-link-numbers='true' rotate='false' previous-text="<" next-text=">")
                    #hr2.tab-pane
                        .col-xs-12.margin-top-10
                            .col-xs-6.no-padding
                                button.btn.btn-default(ng-click="attendFn.switchTab('college')" ng-class="{'btn-primary':attendFn.tab=='college'}")
                                    span 按学院
                                button.btn.btn-default(ng-click="attendFn.switchTab('major')" ng-class="{'btn-primary':attendFn.tab=='major'}")
                                    span 按专业
                                button.btn.btn-default(ng-click="attendFn.switchTab('class')" ng-class="{'btn-primary':attendFn.tab=='class'}")
                                    span 按班级
                                //button.btn.btn-default(ng-click="attendFn.switchTab('student')" ng-class="{'btn-primary':attendFn.tab=='student'}")
                                //    span 按学生
                        .tabbable.tabs-below(ng-if="attendFn.tab=='college'")
                            .tab-content
                                .no-padding
                                    .dataTables_wrapper.form-inline.no-footer
                                        .col-xs-9.margin-top-10
                                            form.form-inline
                                                .form-group.col-sm-3
                                                    label 院系：
                                                        select.select2.form-control(ng-model="attendCollegeFn.params.collegeId" ui-select2="attendFn.selectCollege2Options()" )
                                                            option(value="") 全部
                                                            option(ng-repeat="college in attendFn.collegeDropList" value="{{college.id}}" ) {{college.name}}

                                                .form-group.col-sm-3
                                                    label.control-label  年级：
                                                    input.form-control(type="text" ng-model="attendCollegeFn.params.courseName" placeholder="请输入教师名称" )
                                                .form-group.col-sm-6
                                                    label.control-label 时间段：
                                                    .input-append.date.datepicker.datepicker-basic.no-padding.inline-block(data-date='', data-date-format='yyyy-mm-dd' b-datepicker)
                                                        input.form-control(size='16', ng-disabled='true' name="dateStart" placeholder='请选择开始日期' type='text' ng-model="attendCollegeFn.params.beginDate" validator="required")
                                                        span.add-on
                                                            i.icon-calendar.glyphicon.glyphicon-calendar

                                                    .inline-block -
                                                    .input-append.date.datepicker.datepicker-basic.no-padding.inline-block(data-date='', data-date-format='yyyy-mm-dd' b-datepicker)
                                                        input.form-control(size='16', ng-disabled='true' name="dateStart" placeholder='请选择结束日期' type='text' ng-model="attendCollegeFn.params.endDate" validator="required")
                                                        span.add-on
                                                            i.icon-calendar.glyphicon.glyphicon-calendar

                                        .col-sm-3.hidden-xs
                                            .ColVis
                                                button.btn.btn-primary(ng-click="attendCollegeFn.getClassAttendanceGroupByCollege()")
                                                    span 查询
                                                button.btn.btn-primary(ng-click="attendCollegeFn.exportClassAttendanceGroupByCollege()")
                                                    span 导出
                                        table.table.table-striped.table-bordered.table-hover.dataTable.no-footer(width='100%', role='grid', aria-describedby='datatable_col_reorder_info', style='width: 100%;')
                                            thead
                                                tr(role='row')
                                                    th 序号
                                                    th 学院
                                                    th 应到
                                                    th 实到
                                                    th 迟到
                                                    th 请假
                                                    th 旷课
                                                    th 早退
                                                    th 到课率
                                            tbody
                                                tr.odd(role='row' ng-repeat="attend in attendCollegeFn.attendList")
                                                    td.sorting_1 {{$index+1 + ((attendCollegeFn.page.pageNumber==0?attendCollegeFn.page.pageNumber+1:attendCollegeFn.page.pageNumber)-1)*10}}
                                                    td {{attend.collegeName}}
                                                    td {{attend.total}}
                                                    td {{attend.normal}}
                                                    td {{attend.later}}
                                                    td {{attend.askForLeave}}
                                                    td {{attend.truancy}}
                                                    td {{attend.leave}}
                                                    td {{attend.attendance}}


                                        .dt-toolbar-footer
                                            .col-sm-6.col-xs-12.hidden-xs
                                                .dataTables_info(role='status', aria-live='polite')
                                                    | 显示第
                                                    span.txt-color-darken {{attendCollegeFn.page.pageNumber==0?attendCollegeFn.page.pageNumber*10:(attendCollegeFn.page.pageNumber-1)*10+1}}
                                                    |  到
                                                    span.txt-color-darken {{((attendCollegeFn.page.pageNumber==0?attendCollegeFn.page.pageNumber+1:attendCollegeFn.page.pageNumber)-1)*10+attendCollegeFn.classAttendList.length}}
                                                    |  条 总共
                                                    span.text-primary {{attendCollegeFn.page.totalElements}}
                                                    |  条记录
                                            .col-sm-6.col-xs-12
                                                .dataTables_paginate.paging_simple_numbers
                                                    ul.pagination-sm(uib-pagination, total-items='attendCollegeFn.page.totalElements', max-size='attendCollegeFn.page.pageSize' ng-model='attendCollegeFn.page.pageNumber',ng-change="attendCollegeFn.getClassAttendList()" boundary-link-numbers='true' rotate='false' previous-text="<" next-text=">")
                        .tabbable.tabs-below(ng-if="attendFn.tab=='major'")
                            .tab-content
                                .no-padding
                                    .dataTables_wrapper.form-inline.no-footer
                                        .col-xs-9.margin-top-10
                                            form.form-inline
                                                .form-group.col-sm-3
                                                    label 院系：
                                                    select.select2.form-control(ng-model="attendMajorFn.params.collegeId" ui-select2="attendFn.selectCollege2Options()" )
                                                        option(value="") 全部
                                                        option(ng-repeat="college in attendFn.collegeDropList" value="{{college.id}}" ) {{college.name}}
                                                .form-group.col-sm-3
                                                    label 专业：
                                                    select.select2.form-control(ng-model="attendMajorFn.params.majorId" ui-select2="attendFn.select2MajorOptions(attendFn.collegeId)"  )
                                                        option(value="") 全部
                                                        option(ng-repeat="major in attendFn.majorDropList" value="{{major.id}}" ) {{major.name}}
                                                .form-group.col-sm-3
                                                    label.control-label  年级：
                                                    input.form-control(type="text" ng-model="attendMajorFn.params.grade" placeholder="请输入年级名称" )
                                                .form-group.col-sm-6.margin-top-10
                                                    label.control-label 时间段：
                                                    .input-append.date.datepicker.datepicker-basic.no-padding.inline-block(data-date='', data-date-format='yyyy-mm-dd' b-datepicker)
                                                        input.form-control(size='16', ng-disabled='true' name="dateStart" placeholder='请选择开始日期' type='text' ng-model="attendMajorFn.params.beginDate" validator="required")
                                                        span.add-on
                                                            i.icon-calendar.glyphicon.glyphicon-calendar

                                                    .inline-block -
                                                    .input-append.date.datepicker.datepicker-basic.no-padding.inline-block(data-date='', data-date-format='yyyy-mm-dd' b-datepicker)
                                                        input.form-control(size='16', ng-disabled='true' name="dateStart" placeholder='请选择结束日期' type='text' ng-model="attendMajorFn.params.endDate" validator="required")
                                                        span.add-on
                                                            i.icon-calendar.glyphicon.glyphicon-calendar

                                        .col-sm-3.col-xs-6.hidden-xs
                                            .ColVis
                                                button.btn.btn-primary(ng-click="attendMajorFn.getClassAttendanceGroupByPro()")
                                                    span 查询
                                                button.btn.btn-primary(ng-click="attendMajorFn.exportClassAttendanceGroupByPro()")
                                                    span 导出
                                        table.table.table-striped.table-bordered.table-hover.dataTable.no-footer(width='100%', role='grid', aria-describedby='datatable_col_reorder_info', style='width: 100%;')
                                            thead
                                                tr(role='row')
                                                    th 序号
                                                    th 学院
                                                    th 专业
                                                    th 应到
                                                    th 实到
                                                    th 迟到
                                                    th 请假
                                                    th 旷课
                                                    th 早退
                                                    th 到课率
                                            tbody
                                                tr.odd(role='row' ng-repeat="attend in attendMajorFn.attendList")
                                                    td.sorting_1 {{$index+1 + ((attendMajorFn.page.pageNumber==0?attendMajorFn.page.pageNumber+1:attendMajorFn.page.pageNumber)-1)*10}}
                                                    td {{attend.collegeName}}
                                                    td {{attend.proName}}
                                                    td {{attend.total}}
                                                    td {{attend.normal}}
                                                    td {{attend.later}}
                                                    td {{attend.askForLeave}}
                                                    td {{attend.truancy}}
                                                    td {{attend.leave}}
                                                    td {{attend.attendance}}


                                        .dt-toolbar-footer
                                            .col-sm-6.col-xs-12.hidden-xs
                                                .dataTables_info(role='status', aria-live='polite')
                                                    | 显示第
                                                    span.txt-color-darken {{attendMajorFn.page.pageNumber==0?attendMajorFn.page.pageNumber*10:(attendMajorFn.page.pageNumber-1)*10+1}}
                                                    |  到
                                                    span.txt-color-darken {{((attendMajorFn.page.pageNumber==0?attendMajorFn.page.pageNumber+1:attendMajorFn.page.pageNumber)-1)*10+attendMajorFn.classAttendList.length}}
                                                    |  条 总共
                                                    span.text-primary {{attendMajorFn.page.totalElements}}
                                                    |  条记录
                                            .col-sm-6.col-xs-12
                                                .dataTables_paginate.paging_simple_numbers
                                                    ul.pagination-sm(uib-pagination, total-items='attendMajorFn.page.totalElements', max-size='attendMajorFn.page.pageSize' ng-model='attendMajorFn.page.pageNumber',ng-change="attendMajorFn.getClassAttendList()" boundary-link-numbers='true' rotate='false' previous-text="<" next-text=">")
                        .tabbable.tabs-below(ng-if="attendFn.tab=='class'")
                            .tab-content
                                .no-padding
                                    .dataTables_wrapper.form-inline.no-footer
                                        .col-xs-9.margin-top-10
                                            form.form-inline
                                                .form-group.col-sm-3
                                                    label 院系：
                                                    select.select2.form-control(ng-model="attendClassFn.params.collegeId" ui-select2="attendFn.selectCollege2Options()" )
                                                        option(value="") 全部
                                                        option(ng-repeat="college in attendFn.collegeDropList" value="{{college.id}}" ) {{college.name}}
                                                .form-group.col-sm-3
                                                    label 专业：
                                                    select.select2.form-control(ng-model="attendClassFn.params.proId" ui-select2="attendFn.select2MajorOptions(attendFn.collegeId)"  )
                                                        option(value="") 全部
                                                        option(ng-repeat="major in attendFn.majorDropList" value="{{major.id}}" ) {{major.name}}
                                                .form-group.col-sm-3
                                                    label 行政班级：
                                                    select.select2.form-control(ng-model="attendClassFn.params.classId" ui-select2="attendFn.select2ClassOptions()")
                                                        option(value="") 全部
                                                        option(ng-repeat="class in attendFn.classDropList" value="{{class.id}}") {{class.name}}

                                                .form-group.col-sm-3
                                                    label.control-label  年级：
                                                    input.form-control(type="text" ng-model="attendClassFn.params.grade" placeholder="请输入年级名称" )
                                                .form-group.col-sm-6.margin-top-10
                                                    label.control-label 时间段：
                                                    .input-append.date.datepicker.datepicker-basic.no-padding.inline-block(data-date='', data-date-format='yyyy-mm-dd' b-datepicker)
                                                        input.form-control(size='16', ng-disabled='true' name="dateStart" placeholder='请选择开始日期' type='text' ng-model="attendClassFn.params.beginDate" validator="required")
                                                        span.add-on
                                                            i.icon-calendar.glyphicon.glyphicon-calendar

                                                    .inline-block -
                                                    .input-append.date.datepicker.datepicker-basic.no-padding.inline-block(data-date='', data-date-format='yyyy-mm-dd' b-datepicker)
                                                        input.form-control(size='16', ng-disabled='true' name="dateStart" placeholder='请选择结束日期' type='text' ng-model="attendClassFn.params.endDate" validator="required")
                                                        span.add-on
                                                            i.icon-calendar.glyphicon.glyphicon-calendar


                                        .col-sm-3.col-xs-6.hidden-xs
                                            .ColVis
                                                button.btn.btn-primary(ng-click="attendClassFn.getClassAttendanceGroupByclass()")
                                                    span 查询
                                                button.btn.btn-primary(ng-click="attendClassFn.exportClassAttendanceGroupByclass()")
                                                    span 导出
                                        table.table.table-striped.table-bordered.table-hover.dataTable.no-footer(width='100%', role='grid', aria-describedby='datatable_col_reorder_info', style='width: 100%;')
                                            thead
                                                tr(role='row')
                                                    th 序号
                                                    th 学院
                                                    th 专业
                                                    th 班级
                                                    th 年级
                                                    th 辅导员
                                                    th 辅导员工号
                                                    th 应到
                                                    th 实到
                                                    th 迟到
                                                    th 请假
                                                    th 旷课
                                                    th 早退
                                                    th 到课率
                                            tbody
                                                tr.odd(role='row' ng-repeat="attend in attendClassFn.attendList")
                                                    td.sorting_1 {{$index+1 + ((attendClassFn.page.pageNumber==0?attendClassFn.page.pageNumber+1:attendClassFn.page.pageNumber)-1)*10}}
                                                    td {{attend.collegeName}}
                                                    td {{attend.majorName}}
                                                    td {{attend.className}}
                                                    td {{attend.grade}}
                                                    td {{attend.teacherName}}
                                                    td {{attend.jobNum}}
                                                    td {{attend.total}}
                                                    td {{attend.normal}}
                                                    td {{attend.later}}
                                                    td {{attend.askForLeave}}
                                                    td {{attend.truancy}}
                                                    td {{attend.leave}}
                                                    td {{attend.attendance}}

                                        .dt-toolbar-footer
                                            .col-sm-6.col-xs-12.hidden-xs
                                                .dataTables_info(role='status', aria-live='polite')
                                                    | 显示第
                                                    span.txt-color-darken {{attendClassFn.page.pageNumber==0?attendClassFn.page.pageNumber*10:(attendClassFn.page.pageNumber-1)*10+1}}
                                                    |  到
                                                    span.txt-color-darken {{((attendClassFn.page.pageNumber==0?attendClassFn.page.pageNumber+1:attendClassFn.page.pageNumber)-1)*10+attendClassFn.classAttendList.length}}
                                                    |  条 总共
                                                    span.text-primary {{attendClassFn.page.totalElements}}
                                                    |  条记录
                                            .col-sm-6.col-xs-12
                                                .dataTables_paginate.paging_simple_numbers
                                                    ul.pagination-sm(uib-pagination, total-items='attendClassFn.page.totalElements', max-size='attendClassFn.page.pageSize' ng-model='attendClassFn.page.pageNumber',ng-change="attendClassFn.getClassAttendList()" boundary-link-numbers='true' rotate='false' previous-text="<" next-text=">")
                        //.tabbable.tabs-below(ng-if="attendFn.tab=='student'")
                        //    .tab-content
                        //        .no-padding
                        //            .dataTables_wrapper.form-inline.no-footer
                        //                .col-xs-9.margin-top-10
                        //                    form.form-inline
                        //                        .form-group.col-sm-3
                        //                            label 院系：
                        //                            select.select2.form-control(ng-model="attendFn.params.collegeId" ui-select2="attendFn.selectCollege2Options()" )
                        //                                option(value="") 全部
                        //                                option(ng-repeat="college in attendFn.collegeDropList" value="{{college.id}}" ) {{college.name}}
                        //                        .form-group.col-sm-3
                        //                            label 专业：
                        //                            select.select2.form-control(ng-model="attendFn.params.majorId" ui-select2="attendFn.select2MajorOptions(attendFn.collegeId)"  )
                        //                                option(value="") 全部
                        //                                option(ng-repeat="major in attendFn.majorDropList" value="{{major.id}}" ) {{major.name}}
                        //                        .form-group.col-sm-3
                        //                            label 班级：
                        //                            select.select2.form-control(ng-model="attendFn.params.classesId" ui-select2="attendFn.select2ClassOptions()")
                        //                                option(value="") 全部
                        //                                option(ng-repeat="class in attendFn.classDropList" value="{{class.id}}") {{class.name}}
                        //
                        //                        .form-group.col-sm-3
                        //                            label.control-label  年级：
                        //                            input.form-control(type="text" ng-model="attendTeacherFn.params.courseName" placeholder="请输入年级名称" )
                        //                        .form-group.col-sm-3.margin-top-10
                        //                            label.control-label  学生：
                        //                            input.form-control(type="text" ng-model="attendTeacherFn.params.courseName" placeholder="请输入学生名称" )
                        //                        .form-group.col-sm-6.margin-top-10
                        //                            label.control-label 时间段：
                        //                            .input-append.date.datepicker.datepicker-basic.no-padding.inline-block(data-date='', data-date-format='yyyy-mm-dd' b-datepicker)
                        //                                input.form-control(size='16', ng-disabled='true' name="dateStart" placeholder='请选择开始日期' type='text' ng-model="attendTeacherFn.params.startDate" validator="required")
                        //                                span.add-on
                        //                                    i.icon-calendar.glyphicon.glyphicon-calendar
                        //
                        //                            .inline-block -
                        //                            .input-append.date.datepicker.datepicker-basic.no-padding.inline-block(data-date='', data-date-format='yyyy-mm-dd' b-datepicker)
                        //                                input.form-control(size='16', ng-disabled='true' name="dateStart" placeholder='请选择结束日期' type='text' ng-model="attendTeacherFn.params.startDate" validator="required")
                        //                                span.add-on
                        //                                    i.icon-calendar.glyphicon.glyphicon-calendar
                        //
                        //                .col-sm-3.hidden-xs
                        //                    .ColVis
                        //                        button.btn.btn-primary(ng-click="attendFn.getClassAttendList()")
                        //                            span 查询
                        //                        button.btn.btn-primary(ng-click="attendFn.classAttendExport()")
                        //                            span 导出
                        //                        button.btn.btn-primary(ui-sref="classTrend")
                        //                            span 学周趋势
                        //                table.table.table-striped.table-bordered.table-hover.dataTable.no-footer(width='100%', role='grid', aria-describedby='datatable_col_reorder_info', style='width: 100%;')
                        //                    thead
                        //                        tr(role='row')
                        //                            th 序号
                        //                            th 学号
                        //                            th 姓名
                        //                            th 班级
                        //                            th 年级
                        //                            th 专业
                        //                            th 学院
                        //                            th 应到
                        //                            th 实到
                        //                            th 迟到
                        //                            th 请假
                        //                            th 旷课
                        //                            th 早退
                        //                            th 到课率
                        //                    tbody
                        //                        tr.odd(role='row' ng-repeat="attend in attendFn.classAttendList")
                        //                            td.sorting_1 {{$index+1 + ((attendFn.page.pageNumber==0?attendFn.page.pageNumber+1:attendFn.page.pageNumber)-1)*10}}
                        //                            td.expand {{attend.collegeName}}
                        //                            td  {{attend.className}}
                        //                            td  {{attend.participationCount}}
                        //                            td  {{attend.practical}}
                        //                            td  {{attend.proportion}}
                        //                            td
                        //                                a.handle(ng-click="attendFn.toDetail(attend,2)")
                        //                                    i.fa.fa-pencil-square-o
                        //                                    span 查看详情
                        //
                        //
                        //                .dt-toolbar-footer
                        //                    .col-sm-6.col-xs-12.hidden-xs
                        //                        .dataTables_info(role='status', aria-live='polite')
                        //                            | 显示第
                        //                            span.txt-color-darken {{attendFn.page.pageNumber==0?attendFn.page.pageNumber*10:(attendFn.page.pageNumber-1)*10+1}}
                        //                            |  到
                        //                            span.txt-color-darken {{((attendFn.page.pageNumber==0?attendFn.page.pageNumber+1:attendFn.page.pageNumber)-1)*10+attendFn.classAttendList.length}}
                        //                            |  条 总共
                        //                            span.text-primary {{attendFn.page.totalElements}}
                        //                            |  条记录
                        //                    .col-sm-6.col-xs-12
                        //                        .dataTables_paginate.paging_simple_numbers
                        //                            ul.pagination-sm(uib-pagination, total-items='attendFn.page.totalElements', max-size='attendFn.page.pageSize' ng-model='attendFn.page.pageNumber',ng-change="attendFn.getClassAttendList()" boundary-link-numbers='true' rotate='false' previous-text="<" next-text=">")
                    #hr3.tab-pane
                        .college-handle-container
                            .jarviswidget-color-blueDark
                                .widget-body
                                    form.form-horizontal(name="studentForm")
                                        fieldset
                                            legend 到课率设置
                                        .short-form
                                            .form-group
                                                .radio(ng-repeat="obj in attendSettingFn.settingList")
                                                    input(type='radio', name='inlineRadioOptions',ng-model="attendSettingFn.params.arithmetic" value='{{obj.key}}')
                                                    |  {{obj.value}}

                                        .form-actions
                                            .row
                                                .col-md-12
                                                    a.btn.btn-primary(ng-click="attendSettingFn.updateAttendacne()" validation-submit="studentForm") 应用设置
