//
   Created by Administrator on 2017/6/21.
.college-list-container
    h4
        span {{'当天轨迹('}}
        span {{ElecFenceCurrentFn.params.date | date:'yyyy-MM-dd'}}
        span {{')'}}
    #elecmap
        .queryDialog
            .queryDialog-close(ng-click="closeDialog()")
            .row-fluid
                #wid-id-2.jarviswidget.jarviswidget-color-blueDark(style="margin:10px 0")
                    header(role='heading')
                        .jarviswidget-ctrls(role='menu')
                        span.widget-icon
                            i.fa.fa-table
                        h2 {{ElecFenceCurrentFn.locusList.name}}
                        span.jarviswidget-loader
                            i.fa.fa-refresh.fa-spin
                    div(role='content')
                        .widget-body
                            .row(style="margin-bottom:15px;")
                                .col-sm-6
                                    span 学院：
                                    span {{ElecFenceCurrentFn.locusList.collegeName}}
                                .col-sm-6
                                    span 专业：
                                    span {{ElecFenceCurrentFn.locusList.professionalName}}
                            .row(style="margin-bottom:15px;")
                                .col-sm-6
                                    span 班级：
                                    span {{ElecFenceCurrentFn.locusList.classesName}}
                                .col-sm-6
                                    span 联系方式：
                                    span {{ElecFenceCurrentFn.locusList.userPhone}}
                    div(role='content' style="padding:0;")
                        .jarviswidget-editbox
                        .widget-body.no-padding(style="margin:0;")
                            #datatable_col_reorder_wrapper1.dataTables_wrapper.form-inline.no-footer(style="position:absolute;z-index:200;" ng-if="isShow")
                                table#datatable_col_reorder1.table.table-striped.table-bordered.table-hover.dataTable.no-footer(style="width:430px;margin-top:0!important" role='grid', aria-describedby='datatable_col_reorder_info')
                                    thead
                                        tr(role='row')
                                            th(data-hide='phone', tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-sort='ascending', aria-label='ID: activate to sort column descending', style='width: 12%;') 序号
                                            th(data-class='phone', tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Name: activate to sort column ascending', style='width: 18%;') 时间
                                            th(data-class='phone', tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Name: activate to sort column ascending', style='width: 18%;') 是否离校
                                            th(data-class='phone', tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Name: activate to sort column ascending', style='width: 52%;') 地址
                            #datatable_col_reorder_wrapperelec.dataTables_wrapper.form-inline.no-footer(style="cursor:default;min-height:50px;max-height:300px;overflow-y:auto;" scroll-Top)
                                table#datatable_col_reorder.table.table-striped.table-bordered.table-hover.dataTable.no-footer(width='430px', role='grid', aria-describedby='datatable_col_reorder_info', style='width: 100%;margin-top:0!important')
                                    thead
                                        tr(role='row')
                                            th(data-hide='phone', tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-sort='ascending', aria-label='ID: activate to sort column descending', style='width: 12%;') 序号
                                            th(data-class='phone', tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Name: activate to sort column ascending', style='width: 18%;') 时间
                                            th(data-class='phone', tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Name: activate to sort column ascending', style='width: 18%;') 是否离校
                                            th(data-class='phone', tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Name: activate to sort column ascending', style='width: 52%;') 地址
                                    tbody
                                        tr.odd(role='row' ng-repeat="locus in ElecFenceCurrentFn.locusList.useElectricFenceUserDaominList")
                                            td(style='width: 12%;') {{$index+1}}
                                            td(style='width: 18%;') {{locus.checkdate}}
                                            td(style='width: 18%;') {{locus.outOfRange?'是':'否'}}
                                            td(style='width: 52%;') {{locus.address}}


