//
   Created by Administrator on 2017/6/21.
.college-list-container
    h4
        span {{'当天轨迹('}}
        span {{ElecFenceCurrentFn.params.date | date:'yyyy-MM-dd'}}
        span {{')'}}
    #elecmap
        .queryDialog
            .queryDialog-close(ng-click="closeDialog()")
            .row-fluid
                #wid-id-2.jarviswidget.jarviswidget-color-blueDark
                    header(role='heading')
                        .jarviswidget-ctrls(role='menu')
                        span.widget-icon
                            i.fa.fa-table
                        h2 {{ElecFenceCurrentFn.locusList.name}}
                        span.jarviswidget-loader
                            i.fa.fa-refresh.fa-spin
                    div(role='content')
                        .widget-body
                            .row(style="margin-bottom:15px;")
                                .col-sm-6
                                    span 学院：
                                    span {{ElecFenceCurrentFn.locusList.collegeName}}
                                .col-sm-6
                                    span 专业：
                                    span {{ElecFenceCurrentFn.locusList.professionalName}}
                            .row(style="margin-bottom:15px;")
                                .col-sm-6
                                    span 班级：
                                    span {{ElecFenceCurrentFn.locusList.classesName}}
                                .col-sm-6
                                    span 联系方式：
                                    span {{ElecFenceCurrentFn.locusList.userPhone}}
                    div(role='content')
                        .jarviswidget-editbox
                        .widget-body.no-padding
                            #datatable_col_reorder_wrapper.dataTables_wrapper.form-inline.no-footer
                                table#datatable_col_reorder.table.table-striped.table-bordered.table-hover.dataTable.no-footer(width='100%', role='grid', aria-describedby='datatable_col_reorder_info', style='width: 100%;')
                                    thead
                                        tr(role='row')
                                            th.sorting_asc(data-hide='phone', tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-sort='ascending', aria-label='ID: activate to sort column descending', style='width: 35px;') 序号
                                            th.sorting(data-class='phone', tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Name: activate to sort column ascending', style='width: 50px;') 时间
                                            th.sorting(data-class='phone', tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Name: activate to sort column ascending', style='width: 50px;') 是否离校
                                            th.sorting(data-class='phone', tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Name: activate to sort column ascending', style='width: 150px;') 地址
                                    tbody
                                        tr.odd(role='row' ng-repeat="locus in ElecFenceCurrentFn.locusList.useElectricFenceUserDaominList")
                                            td.sorting_1 {{$index+1}}
                                            td {{locus.checkdate}}
                                            td {{locus.leave}}
                                            td {{locus.address}}


