//
   Created by Administrator on 2017/6/21.
.college-list-container
    .row-fluid
        #elecmap
            .operationmap
                button.btn.btn-default(style="width:100px",ng-click="ElecFenceCreateFn.startDraw()" ng-disabled="ElecFenceCreateFn.isDisabled") 绘制多边形
                button.btn.btn-default(style="margin-left:20px;width:100px",ng-click="ElecFenceCreateFn.delDraw()" ng-disabled="!ElecFenceCreateFn.isDisabled") 删除多边形
                button.btn.btn-default(style="margin-left:20px;width:100px",ng-click="ElecFenceCreateFn.saveDraw()") 保存设置
