//
   Created by Administrator on 2017/6/21.
.college-list-container
    .row-fluid(style="background:#fff")
        .span12(style="line-height:40px;margin-left:20px;") 学校范围设定：
            .open-elec
                span {{'(状态:'}}
                span(style="color:red;") {{(elecFenceCreateFn.isOpenElec=='1'?'开启':'关闭')}}
                span {{')'}}
                span 开启围栏：
                input(type="checkbox" ng-click="elecFenceCreateFn.switchElec()" bs-switch ng-model="elecFenceCreateFn.isOpenElec" switch-on-text="开启" switch-off-text="关闭" switch-on-color="success" switch-off-color="danger" ng-true-value="'1'"
                ng-false-value="'0'")
        #elecmap(style="height:300px")
            .mapedit
                a(ui-sref="elecfencemapset") {{elecFenceCreateFn.operation}}
    .row-fluid
        .widget-body#mapset(style="padding:20px 0 20px 20px;")
            .widget-forms.clearfix
                form.form-horizontal
                    .control-group
                        h5 监控时间设定：
                        .span12
                            .row(style="margin-bottom:15px;")
                                .col-sm-6
                                    span 请选择学期：
                                    select(style="width:50%" ng-model="elecFenceCreateFn.elecSet.termSelectedId" ui-select2)
                                        option(value="{{semester.id}}" ng-repeat="semester in elecFenceCreateFn.semeterLists" ng-selected="elecFenceCreateFn.elecSet.termSelectedId==semester.id") {{semester.name}}
                        .span12(style="margin-top:20px;")
                            .span6
                                .span6 学期日历：
                                div#mydate(style="height:410px;min-height: 30px;position: relative;")
                                    .input-append.date.datepicker.datepicker-basic#starttime(ng-show="false" data-date='', data-date-format='yyyy-mm-dd' )
                                        input(size='16',  type='text' )
                                        span.add-on
                                            i.icon-calendar

    .row-fluid
        .span12
            button.btn.btn-success#success(style="width:100px", ng-click="elecFenceCreateFn.saveSet()") 保存

