//
   Created by Administrator on 2017/6/21.

.college-handle-container
    .jarviswidget.jarviswidget-color-blueDark
        header(role='heading')
            span.widget-icon
                i.fa.fa-table
            h2 {{'评教问卷信息'}}
        .widget-body(style="padding:13px 0 0 0")
            form.form-horizontal(name="evaquesForm")
                .md-form
                    .form-group
                        label.col-sm-3.control-label
                            span.required *
                            | 被评人：
                        .col-sm-7
                            input.form-control(placeholder="请填写被评人名字不超过50个字符" ng-model="evaQuesModFn.params.name" name="name" validator="required, maxlength=50")
                    .form-group
                        label.col-sm-3.control-label
                            span.required *
                            | 截止时间：
                        .col-sm-7
                            .input-append.date.datepicker.datepicker-basic.no-padding(data-date='', data-date-format='yyyy-mm-dd' b-datepicker)
                                input.form-control(size='16', ng-disabled='true' name="date" placeholder='请选择截止时间' type='text' ng-model="evaQuesModFn.params.endDate" validator="required")
                                span.add-on
                                    i.icon-calendar.glyphicon.glyphicon-calendar
                    .form-group
                        label.col-sm-3.control-label
                            span.required
                            | 问卷类型：
                        .col-sm-7
                            label.radio-inline
                                input(type="radio" name='questype'  ng-model="evaQuesModFn.params.choiceType" ng-click="evaQuesModFn.monitorOptionChange()" value='score')
                                | 打分型
                    //.form-group
                        label.col-sm-3.control-label
                        .col-sm-7.txt-color-red 提示：量化型问卷可以自动生成统计信息并可以导出为报表，非量化型的问卷需要人工查看问卷结果。
                .panel.panel-default.no-border
                    .jarviswidget.jarviswidget-color-blueDark
                        header(role='heading')
                            span.widget-icon
                                i.fa.fa-table
                            h2 {{'评教题目'}}
                            button.btn.btn-primary.set-elecfence(ng-if="!evaQuesModFn.isEditOrAdd"  ng-click="evaQuesModFn.importTemplate()")
                                span.widget-icon
                                    i.fa.fa-table
                                span 导入问卷内容
                .widget-body(style='border:0;')
                    .dataTables_wrapper(role='grid')
                        #datatable_col_reorder_wrapper.dataTables_wrapper.no-footer
                            table#datatable_col_reorder.table.table-striped.table-bordered.table-hover.dataTable.no-footer(width='100%', role='grid', aria-describedby='datatable_col_reorder_info', style='width: 70%;')
                                thead
                                    tr(role='row')
                                        th.sorting_asc(data-hide='phone', tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-sort='ascending', aria-label='ID: activate to sort column descending', style='width: 35px;') 序号
                                        th.expand.sorting(data-class='expand', tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Name: activate to sort column ascending', style='width: 180px;') 题目信息
                                        th.sorting(data-hide='phone,tablet', tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Date: activate to sort column ascending', style='width: 50px;')
                                            i.fa.fa-plus-circle(style="font-size:16px;" title="新增" ng-click="evaQuesModFn.addQues()")
                                tbody
                                    tr.odd(role='row' ng-repeat="record in evaQuesModFn.quesLists" ng-init="outerIndex = $index")
                                        td.sorting_1
                                            span {{$index+1}}
                                            input(type="hidden" ng-model="record.no" ng-value="record.no=outerIndex+1")
                                        td
                                            .ques-item.no-margin
                                                .form-group.no-margin
                                                    label 题目
                                                .form-group.no-margin
                                                    textarea.form-control(ng-model="record.name" name="{{'textarea'+ $index}}" validator="required, maxlength=200")
                                            .row.no-margin(ng-if='evaQuesModFn.params.quantification && !evaQuesModFn.params.choiceQuestion')
                                                .form-group
                                                    .row.no-margin.padding-10 分值（仅限整数）
                                                    .col-sm-6.no-margin
                                                        input.form-control(type="text" ng-model="record.score" name="{{'scoreaa'+ $index}}" validator="required, integergt0" ng-change="evaQuesModFn.calcAllTotal(evaQuesModFn.quesLists)")
                                        td
                                            a.handle(ng-click="evaQuesModFn.delQues($index)")
                                                i.fa.fa-minus-circle(style="font-size:16px;" title="删除")
                                                tr.odd(role='row' ng-repeat="record in evaQuesModFn.quesLists" ng-init="outerIndex = $index")
                                    tr(role='row' ng-if='(evaQuesModFn.params.quantification && !evaQuesModFn.params.choiceQuestion)||(evaQuesModFn.params.quantification && evaQuesModFn.params.choiceQuestion)')
                                        td(colspan="3" )
                                            .row.margin-left-10.padding-5 {{'问卷总分:' + evaQuesModFn.params.totalScore}}
                                            .row.margin-left-10.padding-5.txt-color-red(ng-show="evaQuesModFn.params.quantification && evaQuesModFn.params.choiceQuestion") {{'提示：单选题目按其中某选项的最高分为该题目分数，多选题目按其选项分数总和为该题目分数。'}}
                .form-actions(style="border-top:none;margin:0")
                    .row
                        .col-md-12(style="text-align:left")
                            a.btn.btn-primary(ng-click="evaQuesModFn.submit()" validation-submit="evaquesForm") 保存评教问卷

    //-  预览
    script(type='text/ng-template',id='queInfoDialog')
        .container-fluid
            .dialog-title
                h3.font-weight-800 {{evaQuesModFn.record.name + '预览'}}
            .dialog-body
                form.form-horizontal(role="form" name="form" novalidate)
                    .control-group.padding-5(ng-repeat="que in evaQuesModFn.record.questions")
                        .span12.margin-left-0
                            span.spanshow.font-weight-600.margin-left-0 {{$index+1}}、{{que.name}}&nbsp;
                            span.txt-color-red.font-weight-600(ng-if="evaQuesModFn.record.quantification") ({{'满分' + que.score + '分'}})
                            span.txt-color-red(ng-if="evaQuesModFn.record.choiceQuestion") ({{!que.radio?'多选题':'单选题'}})
                        .span12.padding-5.margin-left-0(ng-repeat="option in que.questionChioce")
                            span.spanshow {{option.choice}}、
                            input(type="{{!que.radio?'checkbox':'radio'}}" ng-class="{true: 'checkbox-inline', false: 'radio-inline'}[!que.radio]" ng-disabled='true')
                            | {{' '+ option.content}}
    //-  问卷列表
    script(type='text/ng-template',id='quelistDialog')
        .container-fluid
            .dialog-title
                h3.font-weight-800 {{'问卷列表'}}
            .dialog-body
                div(role='content')
                    // widget edit box
                    .jarviswidget-editbox
                        // This area used as dropdown edit box
                    // end widget edit box
                    // widget content
                    .widget-body.no-padding
                        #datatable_col_reorder_wrapper3.dataTables_wrapper.form-inline.no-footer
                            table#datatable_col_reorder3.table.table-striped.table-bordered.table-hover.dataTable.no-footer(width='100%', role='grid', aria-describedby='datatable_col_reorder_info', style='width: 100%;')
                                thead
                                    tr(role='row')
                                        th.sorting_asc(data-hide='phone', tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-sort='ascending', aria-label='ID: activate to sort column descending', style='width: 35px;') 序号
                                        th.expand.sorting(data-class='expand', tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Name: activate to sort column ascending', style='width: 300px;') 评教问卷名称
                                        th.sorting(data-hide='phone,tablet', tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Date: activate to sort column ascending', style='width: 100px;') 操作
                                tbody
                                    tr.odd(role='row' ng-repeat="record in evaQuesModFn.records")
                                        td.sorting_1 {{$index+1 + ((evaQuesModFn.page.pageNumber==0?evaQuesModFn.page.pageNumber+1:evaQuesModFn.page.pageNumber)-1)*10}}
                                        td {{record.name}}
                                        td
                                            a.handle(ng-click="evaQuesModFn.preViewQue($index)")
                                                i.fa.fa-bars
                                                span 预览
                                            a.handle.margin-left-10(ng-click="evaQuesModFn.impData($index)")
                                                i.fa.fa-pencil-square-o
                                                span 导入

                            .dt-toolbar-footer
                                .col-sm-6.col-xs-12.hidden-xs
                                    #datatable_col_reorder_info.dataTables_info(role='status', aria-live='polite')
                                        | 显示第
                                        span.txt-color-darken {{((evaQuesModFn.page.pageNumber==0?evaQuesModFn.page.pageNumber+1:evaQuesModFn.page.pageNumber)-1)*10+1}}
                                        |  到
                                        span.txt-color-darken {{((evaQuesModFn.page.pageNumber==0?evaQuesModFn.page.pageNumber+1:evaQuesModFn.page.pageNumber)-1)*10+evaQuesModFn.records.length}}
                                        |  条 总共
                                        span.text-primary {{evaQuesModFn.page.totalElements}}
                                        |  条记录
                                .col-sm-6.col-xs-12
                                    #datatable_col_reorder_paginate.dataTables_paginate.paging_simple_numbers
                                        ul.pagination-sm(uib-pagination, total-items='evaQuesModFn.page.totalElements', max-size='evaQuesModFn.page.pageSize' ng-model='evaQuesModFn.page.pageNumber',ng-change="evaQuesModFn.getEvaQuesList()" boundary-link-numbers='true' rotate='false'  previous-text="<" next-text=">")