.college-list-container
    #wid-id-2.jarviswidget.jarviswidget-color-blueDark
        header(role='heading')
            .jarviswidget-ctrls(role='menu')
            span.widget-icon
                i.fa.fa-table
            h2 导员点名信息
            span.jarviswidget-loader
                i.fa.fa-refresh.fa-spin
        // widget div
        div(role='content')
            // widget edit box
            .jarviswidget-editbox
                // This area used as dropdown edit box
            // end widget edit box
            // widget content
            .widget-body.no-padding
                .dataTables_wrapper.form-inline.no-footer
                    .col-md-12
                        form.form-inline
                            .form-group.col-md-4
                                label 院系：
                                select.select2.form-control(ng-model="insAttendFn.params.collegeId" ui-select2="insAttendFn.selectCollege2Options()", ng-change="insAttendFn.getInsRollCallList()" )
                                    option(value="") 全部
                                    option(ng-repeat="college in insAttendFn.collegeDropList" value="{{college.id}}" ) {{college.name}}
                            .form-group.col-md-4
                                label 导员：
                                input.form-control(type='search', placeholder='请输入导员名称或工号',  ng-model="insAttendFn.params.nj", my-enter="insAttendFn.getInsRollCallList()")
                            .form-group.col-md-4
                                label 状态：
                                select.form-control(ng-model="insAttendFn.params.status", ng-change="insAttendFn.getInsRollCallList()")
                                    option(value="0") 未点名
                                    option(value="1" selected = "selected") 已点名
                    .col-md-12.padding-top-10.padding-bottom-10
                        form.form-inline
                            .form-group.col-md-8
                                label.control-label 时间段：
                                .input-append.date.datepicker.datepicker-basic.no-padding.inline-block(data-date='', data-date-format='yyyy-mm-dd' b-datepicker)
                                    input.form-control(size='16', ng-disabled='true' name="dateStart" placeholder='请选择开始日期' type='text' ng-model="insAttendFn.params.startDate" validator="required")
                                    span.add-on
                                        i.icon-calendar.glyphicon.glyphicon-calendar

                                .inline-block --
                                .input-append.date.datepicker.datepicker-basic.no-padding.inline-block(data-date='', data-date-format='yyyy-mm-dd' b-datepicker)
                                    input.form-control(size='16', ng-disabled='true' name="dateStart" placeholder='请选择结束日期' type='text' ng-model="insAttendFn.params.endDate" validator="required")
                                    span.add-on
                                        i.icon-calendar.glyphicon.glyphicon-calendar
                            .form-group.col-md-4
                                .ColVis
                                    button.btn.btn-primary(ng-click="insAttendFn.getInsRollCallList()")
                                        span 查询
                    table.table.table-striped.table-bordered.table-hover.dataTable.no-footer(width='100%', role='grid', aria-describedby='datatable_col_reorder_info', style='width: 100%;')
                        thead
                            tr(role='row')
                                th 序号
                                th 辅导员
                                th 工号
                                th 辅导员归属院系
                                th 被点名行政班
                                th 行政班年级
                                th 行政班院系
                                th 点名发起时间
                                th 总人数
                                th 已提交人数
                                th 未提交人数
                                th 请假人数
                                th 操作
                        tbody
                            tr.odd.cursor-pointer(ng-repeat="rollCall in insAttendFn.rollCallList" ng-click="insAttendFn.openMap(rollCall)", ng-class="{'current':rollCall==insAttendFn.currentEntity}")
                                td.sorting_1 {{$index+1 + ((insAttendFn.page.pageNumber==0?insAttendFn.page.pageNumber+1:insAttendFn.page.pageNumber)-1)*10}}
                                td {{rollCall.tname}}
                                td {{rollCall.jobNumber}}
                                td {{rollCall.tcollegeName}}
                                td {{rollCall.className}}
                                td {{rollCall.grade}}
                                td {{rollCall.scollegeName}}
                                td {{rollCall.initiatingTime}}
                                td {{rollCall.total}}
                                td {{rollCall.submitted}}
                                td {{rollCall.uncommitted}}
                                td {{rollCall.leave}}
                                td
                                    span(ng-click="insAttendFn.openMap(rollCall)" ng-if="rollCall.submitted!=0") 查看地图
                                    span(ng-if="rollCall.submitted==0") -
                    .dt-toolbar-footer
                        .col-sm-6.col-xs-12.hidden-xs
                            #datatable_col_reorder_info.dataTables_info(role='status', aria-live='polite')
                                | 显示第
                                span.txt-color-darken {{insAttendFn.page.pageNumber==0?insAttendFn.page.pageNumber*10:(insAttendFn.page.pageNumber-1)*10+1}}
                                |  到
                                span.txt-color-darken {{((insAttendFn.page.pageNumber==0?insAttendFn.page.pageNumber+1:insAttendFn.page.pageNumber)-1)*10+insAttendFn.rollCallList.length}}
                                |  条 总共
                                span.text-primary {{insAttendFn.page.totalElements}}
                                |  条记录
                        .col-sm-6.col-xs-12
                            #datatable_col_reorder_paginate.dataTables_paginate.paging_simple_numbers
                                ul.pagination-sm(uib-pagination, total-items='insAttendFn.page.totalElements', max-size='insAttendFn.page.pageSize' ng-model='insAttendFn.page.pageNumber',ng-change="insAttendFn.getInsRollCallList()" boundary-link-numbers='true' rotate='false' previous-text="<" next-text=">")

                    #mapContainer(ng-show="insAttendFn.showMap")
                    div.map-data-contain(ng-show="insAttendFn.showMap")
                        .title 班级详情
                        .filter(ng-init="state='all';isRead='all'")
                            .form-inline
                                .form-group.col-sm-6
                                    select.form-control(ng-model="state")
                                        option(value="all") 全部
                                        option 未提交
                                        option 已提交
                                .form-group.col-sm-6
                                    select.form-control(ng-model="isRead")
                                        option(value="all") 全部
                                        option 已读
                                        option 未读
                        .fixed-table-head
                            table.table.table-striped.table-bordered.table-hover.no-footer
                                thead
                                    tr(role='row')
                                        th 姓名
                                        th 状态
                                        th 是否通知阅读
                                tbody
                                    tr.cursor-pointer(ng-repeat="stu in insAttendFn.RollCallDetailsList" ng-click="insAttendFn.openInfoWindow(stu)" ng-show="(state=='all'||state==stu.state)&&(isRead=='all'||isRead==stu.isRead)")
                                        td {{stu.sname}}
                                        td {{stu.state}}
                                        td {{stu.isRead}}
