.college-list-container
    #wid-id-2.jarviswidget.jarviswidget-color-blueDark.jarviswidget-sortable(data-widget-editbutton='false', style='', role='widget')
        header(role='heading')
            .jarviswidget-ctrls(role='menu')
            span.widget-icon
                i.fa.fa-table
            h2 课程信息
            span.jarviswidget-loader
                i.fa.fa-refresh.fa-spin
        // widget div
        div(role='content')
            // widget edit box
            .jarviswidget-editbox
                // This area used as dropdown edit box
            // end widget edit box
            // widget content
            .widget-body.no-padding
                #datatable_col_reorder_wrapper.dataTables_wrapper.form-inline.no-footer
                    .dt-toolbar
                        .col-xs-10
                            form.form-inline
                                .form-group.col-sm-3
                                    label 学期选择：
                                    .form-control.no-border 2017年第一学期
                                .form-group.col-sm-3
                                    label 课程名称：
                                    .form-control.no-border {{teachClassTrendFn.selected.courseName}}
                                .form-group.col-sm-3
                                    label 课程编号：
                                    .form-control.no-border {{teachClassTrendFn.selected.code}}
                                .form-group.col-sm-3
                                    label 授课教师：
                                    .form-control.no-border {{teachClassTrendFn.selected.teacherName}}

                        .col-sm-2.col-xs-6.hidden-xs
                            .ColVis
                                button.btn.btn-primary(ng-click="teachClassTrendFn.viewToggle()")
                                    span(ng-if="teachClassTrendFn.showLine") 列表
                                    span(ng-if="!teachClassTrendFn.showLine") 折线图
                                button.btn.btn-primary(ng-click="teachClassTrendFn.teachClassAttendExportTend()")
                                    span 导出
                    .container.margin-bottom-10(ng-if="teachClassTrendFn.showLine")
                        div(style="height:500px")
                            line-chart(config='config', data='teachClassTrendFn.trendCharts' )
                    table#datatable_col_reorder.table.table-striped.table-bordered.table-hover.dataTable.no-footer(ng-if="!teachClassTrendFn.showLine" width='100%', role='grid', aria-describedby='datatable_col_reorder_info', style='width: 100%;')
                        thead
                            tr(role='row')
                                th.sorting_asc(data-hide='phone', tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-sort='ascending', aria-label='ID: activate to sort column descending', style='width: 35px;') 教学周
                                th.expand.sorting(data-class='expand', tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Name: activate to sort column ascending', style='width: 86px;') 学生应出勤次数
                                th.sorting(data-hide='phone', tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Company: activate to sort column ascending', style='width: 195px;') 实际出勤次数
                                th.sorting(data-hide='phone,tablet', tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Date: activate to sort column ascending', style='width: 195px;') 综合出勤率
                            tr.odd(role='row' ng-repeat="attend in teachClassTrendFn.trendList")
                                td.sorting_1 {{attend.week}}
                                td.expand {{attend.participationCount}}
                                td  {{attend.practical}}
                                td  {{attend.proportion}}

