//
    Created by Administrator on 2017/6/21.
.college-list-container
    #wid-id-1.jarviswidget.jarviswidget-color-blueDark.margin-bottom0-eduman
        header(role='heading')
            .jarviswidget-ctrls(role='menu')
            span.widget-icon
                i.fa.fa-table
            h2 反馈详情
        div(role='content')
            .widget-body(style="min-height:auto!important")
                .row
                    .col-sm-12
                        span 课程名称：
                        span {{teachingSuperInfoFn.record.courseName }}
                .row.padding-top-15
                    .col-sm-12
                        span 教学班名称：
                        span {{teachingSuperInfoFn.record.teachingClassName }}
                .row.padding-top-15
                    .col-sm-12
                        span 选课编号：
                        span {{teachingSuperInfoFn.record.teachingClassCode}}
                .row.padding-top-15
                    .col-sm-12
                        span 任课教师：
                        span {{teachingSuperInfoFn.record.teachingClassTeacher }}
                .row.padding-top-15
                    .col-sm-12
                        span 反馈时间：
                        span {{teachingSuperInfoFn.record.createDate }}
                .row.padding-top-15
                    .col-sm-12
                        span 反馈人：
                        span {{teachingSuperInfoFn.record.userName }}


        div(role='content' ng-if='teachingSuperInfoFn.type=="info"')
            .jarviswidget-editbox
            // widget div
            .widget-body.no-padding(style="position: initial!important")
                #datatable_col_reorder_wrapper.dataTables_wrapper.form-inline.no-footer
                    table#datatable_col_reorder.table.table-striped.table-bordered.table-hover.dataTable.no-footer(ng-show='' width='100%', role='grid', aria-describedby='datatable_col_reorder_info', style='width: 100%;')
                        thead
                            tr(role='row')
                                th(data-hide='phone', tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-sort='ascending', aria-label='ID: activate to sort column descending', style='width: 35px;') 序号
                                th(data-class='expand', tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Name: activate to sort column ascending', style='width: 300px;') 题目
                                th(data-hide='phone,tablet', tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Zip: activate to sort column ascending', style='width: 150px;') 反馈
                            tr.odd(role='row' ng-repeat="record in teachingSuperInfoFn.record")
                                td {{$index+1}}
                                td {{record.stuName}}
                                td {{record.classesName}}
                    table#datatable_col_reorder1.table.table-striped.table-bordered.table-hover.dataTable.no-footer(ng-show='' width='100%', role='grid', aria-describedby='datatable_col_reorder_info', style='width: 100%;')
                        thead
                            tr(role='row')
                                th(data-hide='phone', tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-sort='ascending', aria-label='ID: activate to sort column descending', style='width: 35px;') 序号
                                th(data-class='expand', tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Name: activate to sort column ascending', style='width: 300px;') 题目
                                th(data-hide='phone,tablet', tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Zip: activate to sort column ascending', style='width: 150px;') 满分
                                th(data-hide='phone,tablet', tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Zip: activate to sort column ascending', style='width: 150px;') 得分
                            tr.odd(role='row' ng-repeat="record in teachingSuperInfoFn.records")
                                td {{$index+1}}
                                td {{record.stuName}}
                                td {{record.classesName}}
                                td {{record.classesName}}
                    table#datatable_col_reorder2.table.table-striped.table-bordered.table-hover.dataTable.no-footer(ng-show='' width='100%', role='grid', aria-describedby='datatable_col_reorder_info', style='width: 100%;')
                        thead
                            tr(role='row')
                                th(data-hide='phone', tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-sort='ascending', aria-label='ID: activate to sort column descending', style='width: 35px;') 序号
                                th(data-class='expand', tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Name: activate to sort column ascending', style='width: 300px;') 题目
                                th(data-hide='phone,tablet', tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Zip: activate to sort column ascending', style='width: 150px;') 选择内容
                            tr.odd(role='row' ng-repeat="record in teachingSuperInfoFn.records")
                                td {{$index+1}}
                                td {{record.stuName}}
                                td {{record.classesName}}
        div(role='content' ng-if='teachingSuperInfoFn.type=="superInfo"')
            .jarviswidget-editbox
            // widget div
            .widget-body.no-padding(style="position: initial!important")
                #datatable_col_reorder_wrapper1.dataTables_wrapper.form-inline.no-footer
                    table#datatable_col_reorder5.table.table-striped.table-bordered.table-hover.dataTable.no-footer(width='100%', role='grid', aria-describedby='datatable_col_reorder_info', style='width: 100%;')
                        thead
                            tr(role='row')
                                th(data-hide='phone', tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-sort='ascending', aria-label='ID: activate to sort column descending', style='width: 35px;') 评分项目
                                th(data-class='expand', tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Name: activate to sort column ascending', style='width: 300px;') 评价内容
                                th(data-hide='phone,tablet', tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Zip: activate to sort column ascending', style='width: 150px;') 满分
                                th(data-hide='phone,tablet', tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Zip: activate to sort column ascending', style='width: 150px;') 得分
                            tr.odd(role='row' ng-repeat="record in teachingSuperInfoFn.records")
                                td {{$index+1}}
                                td {{record.stuName}}
                                td {{record.classesName}}
                                td {{record.classesName}}
                    table#datatable_col_reorder6.table.table-striped.table-bordered.table-hover.dataTable.no-footer(width='100%', role='grid', aria-describedby='datatable_col_reorder_info', style='width: 100%;')
                        thead
                            tr(role='row')
                                th(data-hide='phone', tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-sort='ascending', aria-label='ID: activate to sort column descending', style='width: 35px;') 评分项目
                                th(data-class='expand', tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Name: activate to sort column ascending', style='width: 300px;') 评价内容
                                th(data-hide='phone,tablet', tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Zip: activate to sort column ascending', style='width: 150px;') 满分
                                th(data-hide='phone,tablet', tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Zip: activate to sort column ascending', style='width: 150px;') 得分
                            tr.odd(role='row' ng-repeat="record in teachingSuperInfoFn.records")
                                td {{$index+1}}
                                td {{record.stuName}}
                                td {{record.classesName}}
                                td {{record.classesName}}

