.college-handle-container
    #wid-id-2.jarviswidget.jarviswidget-color-blueDark.jarviswidget-sortable(data-widget-editbutton='false', style='', role='widget')
        header(role='heading')
            .jarviswidget-ctrls(role='menu')
            span.widget-icon
                i.fa.fa-table
            h2 {{handleFn.title}}
        .content-panel
            .prompt {{handleFn.prompt}}
            .content-form
                form.form-horizontal.repeater
                    .form-group
                        .col-sm-2
                            label.control-label.text-center 选择学院：
                        .col-sm-10
                            select.form-control(ng-model="handleFn.collegeId")
                                option(ng-repeat="college in handleFn.collegeDropList" ng-value="college.id") {{college.name}}
                    .form-group
                        .col-sm-2
                            label.control-label.text-center 专业名称：
                        .col-sm-10
                            input.form-control(placeholder="填写专业名称" ng-model="handleFn.params.name")
        .panel-footer
            a.btn.btn-success(ng-click="handleFn.submit()") 提交
            a.btn.btn-default(ui-sref="majorlist") 取消