.dd_view
	.dd_banner
		.dd_banner_inner
			.layer1
			.layer2
			.layer3
			.layer4
				h3 智慧校园  点点就行
				p 知新点点，智慧教务解决方案，信息实时掌握，教务一目了然
				div
					button(type='button' ng-click='showDialog()') 立即下载
	.dd_sort
		.dd_sort_inner.clearfix
			.dd_sort1
				img(src='../../assets/images/dd/sort_1.png' alt='')
				p 学生端
			.dd_sort2
				img(src='../../assets/images/dd/sort_2.png')
				p 教师端
			.dd_sort3
				img(src='../../assets/images/dd/sort_3.png')
				p 督导端
	.dd_course
		.dd_course_inner
			.dd_course_show.clearfix
				.text
					h3 课程展示
					p
						span 课程一目了然
						| 学生、老师随时查看课程信息不再担心会忘记课程安排
				.images
					img(src='../../assets/images/dd/course.png')
	.dd_position
		.dd_position_inner.clearfix
			.images
				img(src='../../assets/images/dd/position.png')
			.text
				h3 实时定位
				p
					span 班主任随时点名
					| 清晰洞察学生具体位置
	.dd_name
		.dd_name_inner
			.dd_name_show.clearfix
				.text
					h3 点名签到
					p 省下多少口水纸张，运筹帷幄股掌之间
				.images
					img(src='../../assets/images/dd/named.png')
	.dd_statistical
		.dd_statistical_inner
			.layer1
				.images
					img(src='../../assets/images/dd/statistical.png')
				.text
					h3 数据统计
					p
						span 通过数据实时分析，
						span 轻松掌握学生行为及教学动态
						span 为学校提供定制化精准分析服务
			.layer2

script(type='text/ng-template',id='download')
	.download_view
		.top
			.iphone(ng-click='deviceToggle("ios")')
				img(ng-show='device === "android"',src='../../assets/images/dd/ios.png',alt='iosApp下载',title='知新网ios,app下载')
				img(ng-show='device === "ios"',src='../../assets/images/dd/ios_active.png',alt='iosApp下载',title='知新网ios,app下载')
			.android(ng-click='deviceToggle("android")')
				img(ng-show='device === "ios"',src='../../assets/images/dd/android.png',alt='androidApp下载',title='知新网android,app下载')
				img(ng-show='device === "android"',src='../../assets/images/dd/android_active.png',alt='androidApp下载',title='知新网android,app下载')
		.bottom
			.index(ng-class='{"index_android":device === "android"}')
				img(src='../../assets/images/dd/arrow_top.png')
			.student.clearfix
				.img
					img(ng-show='device === "ios"',src='../../assets/images/dd/student_ios.png',alt='ios学生端',title='知新网ios,学生端,app下载')
					img(ng-show='device === "android"',src='../../assets/images/dd/student_android.png',alt='android学生端',title='知新网android,学生端,app下载')
				.description 知新点点·学生端
			.teacher.clearfix
				.img
					img(ng-show='device === "ios"',src='../../assets/images/dd/teacher_ios.png',alt='ios教师端',title='知新网ios,教师端,app下载')
					img(ng-show='device === "android"',src='../../assets/images/dd/teacher_android.png',alt='android教师端',title='知新网android,教师端,app下载')
				.description 知新点点·教师端
