.college-handle-container{
  font-family: $font-family-sans-serif;
  .content-panel{
    border: 1px solid #cccccc;
    .prompt{
      margin: 10px;
      border-bottom: 1px dashed #cccccc;
      font-size: 18px;
      padding-bottom: 15px;
      font-weight: 400;
    }
    .content-form{
      margin-top: 40px;
      padding-left: 25%;
      padding-right: 25%;
      margin-bottom: 155px;
      .required{
        color:$red;
        margin-right: 5px;
      }
    }
  }
  .panel-footer{
    text-align: center;
  }
  .finish-prompt{
    padding: 103px;
    .prompt{
      text-align: center;
      font-family: $font-family-sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 28px;
      color: #33495F;
      line-height: 37px;
    }
    .icon{
      font-family: 'FontAwesome', 'FontAwesome';
      font-weight: 400;
      font-style: normal;
      font-size: 120px;
      color: #21CA6B;
      text-align: center;
      line-height: 120px;
    }

  }

}
.border-solid-1{
  border:1px solid #333;
}