.college-list-container{
  margin: 10px;
  .input-addon-right{
    float: right;
  }
  .handle{
    color:$text-color-light;
    cursor: pointer;
    i{
      margin: 0px 5px;
    }
    span{
       margin-right: 10px;
    }
  }
  .handle:hover{
    color: #35b8e0;
  }
}