.college-handle-container
    .jarviswidget.jarviswidget-color-blueDark(ng-if='!handleFn.complete')
        header(role='heading')
            span.widget-icon
                i.fa.fa-table
            h2 {{handleFn.title}}
        .widget-body
            //h3.prompt {{handleFn.prompt}}
            form.form-horizontal(name="collegeForm")
                fieldset
                    legend {{handleFn.prompt}}
                .short-form
                    .form-group
                        .col-sm-3.control-label
                            lable.required *
                            label.text-center  院系名称：
                        .col-sm-7
                            input.form-control(placeholder="请填写不超过30个字院系名称",ng-model="handleFn.params.name" name="name" validator="required, maxlength=30")
                .form-actions
                    .row
                        .col-md-12
                            a.btn.btn-primary(ng-click="handleFn.submit()" validation-submit="collegeForm") 提交
                            a.btn.btn-default(ui-sref="collegelist") 取消

    .jarviswidget.jarviswidget-color-blueDark(ng-if='handleFn.complete')
        header(role='heading')
            span.widget-icon
                i.fa.fa-table
            h2 {{handleFn.title}}
        .finish-prompt
            h3.prompt {{handleFn.completeMSG}}
            .icon
                i.fa.fa-check-circle
        .panel-footer
            a.btn.btn-default(ui-sref="collegelist") 返回院系信息
