.college-handle-container
    #wid-id-2.jarviswidget.jarviswidget-color-blueDark.jarviswidget-sortable(data-widget-editbutton='false', style='', role='widget')
        header(role='heading')
            .jarviswidget-ctrls(role='menu')
            span.widget-icon
                i.fa.fa-table
            h2 {{handleFn.title}}
        .content-panel
            .prompt {{handleFn.prompt}}
            .content-form
                form.form-horizontal.repeater(name="collegeForm")
                    .form-group
                        .col-sm-2
                            lable.required *
                            label.control-label.text-center 院系名称：
                        .col-sm-10
                            input.form-control(placeholder="请填写不超过30个字院系名称",ng-model="handleFn.params.name" validator="required, maxlength=30")
        .panel-footer
            a.btn.btn-success(ng-click="handleFn.submit()" validation-submit="collegeForm") 提交
            a.btn.btn-default(ui-sref="collegelist") 取消