.college-list-container{
  font-family: $font-family-sans-serif;
  .handle{
    color:$blueDef;
    cursor: pointer;
    i{
      margin: 0px 5px;
    }
    span{
       margin-right: 10px;
    }
  }
  .handle:hover{
    color: #35b8e0;
  }
  .search-btn{
    color: #fff;
    background-color: $blueDef;
    border-color: $blueDef;
  }
  .btn-class-detail{
    margin-left: 20px;
    height: 30px;
  }
  .title-class-detail{
    font-size: 18px;
    color: black;
    font-weight: 400;
  }
  .student-list-class-detail{
    margin-top: 10px;
    border-top: none;
  }
  .introduce{
    margin: 0px;
    width: 679px;
    height: 300px;
  }
.trend-total{
  position: relative;
  left: 76px;
  top: 50px;
}
  .current{
    background: #54BF9B !important;
  }
}
.margin-left-10 {
  margin-left: 10px !important
}
.font-14{
  font-size: 14px;
}
.font-color-black-24{
  font-size: 24px;
  color: black;
}
.width-percent-10{
  width: 10% !important;
}
.ColVis button{
  margin-left:10px;
}
.left {
  float: left;
}
.right {
  float: right;
}
.repeatLoad{
  background:#fff;
  font-size:14px;
    .repeat_header{
      height:45px;
      line-height:45px;
      .buld{
        margin-left: 3px;
        font-weight: 800;
      }
    }
  .content-scorll{
    margin-top:5px;
    cursor:default;
    min-height:74px;
    max-height:300px;
    overflow-y:scroll;
  }
  .content-no-scorll{
    margin-top:5px;
    cursor:default;
    min-height:74px;
    max-height:300px;
    text-align: center;

  }
  .repeat_content{
      table{
        width:100%;
        border:1px solid #ccc;
        border-collapse:collapse;
        tr{
          border-bottom:1px solid #ccc;
          height:30px;
          td{
            border:1px solid #ccc;
            text-align:center;
          }
          td:first-child{
            width:20%;
          }
          td:last-child{
            width:20%;
          }
        }
        tr:nth-child(odd){
          background-color: rgba(242, 242, 242, 1);
        }
      }
  }
    .attend-dialog-footer{
      margin: 10px auto;
      text-align:center;
      .dialog-btn{
        margin: 0 20px;
      }
    }
    .repeat_footer{
      .repeat_button{
        margin: 20px auto;
        width:200px;
        line-height:30px;
        margin-top:10px;
        .repeat_btn{
          padding:0 20px;
          border:1px solid #ccc;
          background-color: rgba(242, 242, 242, 1);
          line-height:30px;
          text-align:center;
        }
       }

    }
}

.buld_wrap {
  font-size: 13px;
  .buld_head {
    height: 45px;
    line-height: 45px;
    border-bottom: none;
    .buld {
      margin-left: 3px;
      font-weight: 800;
    }

  }
  .propt_content {
    .load {
      height: 28px;
      margin-left: 5px;
      margin-top: 5px;
      width: 241px;
    }
    .load_inner {
      cursor: pointer;
      width: 73px;
      height: 28px;
      background-color: rgba(242, 242, 242, 1);
      text-align: center;
      line-height: 28px;
      border: 1px solid #ccc;
      margin-left: 5px;
      margin-top: 5px;
    }
    .load_inner_w {
      width: 108px;
      height: 28px;
      background-color: rgba(242, 242, 242, 1);
      text-align: center;
      line-height: 28px;
      border: 1px solid #ccc;
    }
    .choseFile {
      width: 80px;
      height: 30px;
      border: 1px solid #ccc;
      border-radius: 5px;
      line-height: 30px;
      text-align: center;
      margin-top: 4px;
      cursor: pointer;
    }
    table {
      width: 100%;
      border: 1px solid #ccc;
      border-collapse: collapse;
      tr {
        line-height: 45px;
        border-bottom: 1px solid #ccc;
        border: none;
        td {
          border: 1px solid #ccc;
          padding: 0 10px;
          text-align: center;
          ul {
            padding-top: 19px;
            padding-bottom: 19px;
            text-align: left;
            li {
              list-style: none;
              line-height: 24px;
            }
          }
        }
        td:first-child {
          background-color: rgba(242, 242, 242, 1);
        }
      }
      tr:last-child {
        line-height: 24px;
      }
    }
  }

}

