.college-handle-container
    #wid-id-2.jarviswidget.jarviswidget-color-blueDark.jarviswidget-sortable(data-widget-editbutton='false', style='', role='widget')
        header(role='heading')
            .jarviswidget-ctrls(role='menu')
            span.widget-icon
                i.fa.fa-table
            h2 {{FinishFn.title}}
        .finish-prompt
            .prompt {{FinishFn.prompt}}
            .icon
                i.fa.fa-check-circle
        .panel-footer
            a.btn.btn-default(ui-sref="classlist") 返回班级信息

