.college-handle-container
    .jarviswidget.jarviswidget-color-blueDark(ng-if='!handleFn.complete')
        header(role='heading')
            span.widget-icon
                i.fa.fa-table
            h2 {{handleFn.title}}
        .widget-body
            form.form-horizontal(name="classForm")
                fieldset
                    legend {{handleFn.prompt}}
                .short-form
                    .form-group
                        label.col-sm-3.control-label
                            span.required *
                            | 选择学院：
                        .col-sm-7
                            select.form-control(ng-model="handleFn.collegeId" ui-select2="handleFn.select2CollegeOptions")
                                option(ng-repeat="college in handleFn.collegeDropList" value="{{college.id}}" selected="{{handleFn.params.collegeId==college.id?'selected':''}}") {{college.name}}
                    .form-group
                        label.col-sm-3.control-label
                            span.required *
                            | 选择专业：
                        .col-sm-7
                            select.form-control(ng-model="handleFn.majorId" ui-select2="handleFn.select2MajorOptions()" )
                                option(ng-repeat="major in handleFn.majorDropList" value="{{major.id}}" selected="{{handleFn.majorId==major.id?'selected':''}}") {{major.name}}
                    .form-group
                        label.col-sm-3.control-label
                            span.required *
                            | 班级名称：
                        .col-sm-7
                            input.form-control(placeholder="请填写不超过30个字班级名称" ng-model="handleFn.params.name" name="name" validator="required, maxlength=30")
                .form-actions
                    .row
                        .col-md-12
                            a.btn.btn-primary(ng-click="handleFn.submit()" validation-submit="classForm") 提交
                            .speace-10
                            a.btn.btn-default(ui-sref="classDetail({id:handleFn.params.id})") 取消
    .jarviswidget.jarviswidget-color-blueDark(ng-if='handleFn.complete')
        header(role='heading')
            span.widget-icon
                i.fa.fa-table
            h2 {{handleFn.title}}
        .widget-body
            .finish-prompt
                h3.prompt {{handleFn.completeMSG}}
                .icon
                    i.fa.fa-check-circle
            .form-actions
                .row
                    .col-md-12
                        a.btn.btn-default(ui-sref="classDetail({id:handleFn.params.id})") 返回班级信息