.college-handle-container
    #wid-id-2.jarviswidget.jarviswidget-color-blueDark(ng-if='!handleFn.complete')
        header(role='heading')
            .jarviswidget-ctrls(role='menu')
            span.widget-icon
                i.fa.fa-table
            h2 {{handleFn.title}}
        .content-panel
            .prompt {{handleFn.prompt}}
            .content-form
                form.form-horizontal.repeater(name="classForm")
                    .form-group
                        .col-sm-2
                            lable.required *
                            label.control-label.text-center 选择学院：
                        .col-sm-10
                            select.form-control(ng-model="handleFn.collegeId" ui-select2)
                                option(ng-repeat="college in handleFn.collegeDropList" value="{{college.id}}") {{college.name}}
                    .form-group
                        .col-sm-2
                            lable.required *
                            label.control-label.text-center 选择专业：
                        .col-sm-10
                            select.form-control(ng-model="handleFn.majorId" ui-select2)
                                option(ng-repeat="major in handleFn.majorDropList" value="{{major.id}}") {{major.name}}
                    .form-group
                        .col-sm-2
                            lable.required *
                            label.control-label.text-center 班级名称：
                        .col-sm-10
                            input.form-control(placeholder="请填写不超过30个字班级名称" ng-model="handleFn.params.name" name="name" validator="required, maxlength=30")

        .panel-footer
            a.btn.btn-success(ng-click="handleFn.submit()" validation-submit="classForm") 提交
            a.btn.btn-default(ui-sref="classlist") 取消
    .jarviswidget.jarviswidget-color-blueDark(ng-if='handleFn.complete')
        header(role='heading')
            span.widget-icon
                i.fa.fa-table
            h2 {{handleFn.title}}
        .finish-prompt
            h3.prompt {{handleFn.completeMSG}}
            .icon
                i.fa.fa-check-circle
        .panel-footer
            a.btn.btn-default(ui-sref="classlist") 返回班级信息
