.college-handle-container
    #wid-id-2.jarviswidget.jarviswidget-color-blueDark.jarviswidget-sortable(data-widget-editbutton='false', style='', role='widget')
        header(role='heading')
            .jarviswidget-ctrls(role='menu')
            span.widget-icon
                i.fa.fa-table
            h2 {{handleFn.title}}
        .content-panel
            .prompt {{handleFn.prompt}}
            .content-form
                form.form-horizontal.repeater
                    .form-group
                        .col-sm-2
                            label.control-label.text-center 选择学院：
                        .col-sm-10
                            select.form-control
                                option 1
                                option 2
                                option 3
                                option 4
                                option 5
                    .form-group
                        .col-sm-2
                            label.control-label.text-center 选择专业：
                        .col-sm-10
                            select.form-control
                                option 1
                                option 2
                                option 3
                                option 4
                                option 5
                    .form-group
                        .col-sm-2
                            label.control-label.text-center 专班级名称：
                        .col-sm-10
                            input.form-control(placeholder="填写班级名称")

        .panel-footer
            a.btn.btn-success 提交
            a.btn.btn-default(ui-sref="classlist") 取消