.college-handle-container
    .jarviswidget.jarviswidget-color-blueDark(ng-if='!handleFn.complete')
        header(role='heading')
            span.widget-icon
                i.fa.fa-table
            h2 {{handleFn.title}}
        .widget-body
            form.form-horizontal(name="classForm")
                fieldset
                    legend {{handleFn.prompt}}
                .short-form
                    .form-group
                        label.col-sm-3.control-label
                            span.required *
                            | 选择学院：
                        .col-sm-7
                            select.form-control(ng-model="handleFn.collegeId" ui-select2="handleFn.select2CollegeOptions")
                                option(ng-repeat="college in handleFn.collegeDropList" value="{{college.id}}" selected="{{handleFn.params.collegeId==college.id?'selected':''}}") {{college.name}}
                    .form-group
                        label.col-sm-3.control-label
                            span.required *
                            | 选择专业：
                        .col-sm-7
                            select.form-control(ng-model="handleFn.majorId" ui-select2="handleFn.select2MajorOptions()" )
                                option(ng-repeat="major in handleFn.majorDropList" value="{{major.id}}" selected="{{handleFn.majorId==major.id?'selected':''}}") {{major.name}}
                    .form-group
                        label.col-sm-3.control-label
                            span.required *
                            | 在校状态：
                        .col-sm-7
                            select.form-control(ng-model="handleFn.params.schoolStatus")
                                option(value="10" ng-selected="handleFn.params.schoolStatus==10") 在校
                                option(value="20" ng-selected="handleFn.params.schoolStatus==20") 毕业
                    .form-group
                        label.col-sm-3.control-label
                            span.required *
                            | 年级：
                        .col-sm-7
                            input.form-control(ng-model="handleFn.params.teachingYear " name="teachingYear" placeholder="请输入年级名称" validator="required")
                    .form-group
                        label.col-sm-3.control-label
                            span.required
                            | 入学时间：
                        .col-sm-7
                            input.form-control(type="text" name="inSchool"  pick-a-date="date" pick-a-date-options="{ format: 'yyyy-mm-dd' }"  ng-model='handleFn.params.inSchoolDate' placeholder="请选择入学时间" )
                    .form-group
                        label.col-sm-3.control-label
                            span.required
                            | 毕业时间：
                        .col-sm-7
                            input.form-control(type="text" name="outSchool" pick-a-date="date" pick-a-date-options="{ format: 'yyyy-mm-dd' }"  ng-model='handleFn.params.outSchoolDate' placeholder="请选择毕业时间" )
                    .form-group
                        label.col-sm-3.control-label
                            span.required *
                            | 班级名称：
                        .col-sm-7
                            input.form-control(type="text" name="name"  ng-model='handleFn.params.name' placeholder="请输入班级名称" validator="required, maxlength=50")
                .form-actions
                    .row
                        .col-md-12
                            a.btn.btn-primary(ng-click="handleFn.submit()" validation-submit="classForm") 提交
                            .speace-10
                            a.btn.btn-default(ui-sref="classlist") 取消
    .jarviswidget.jarviswidget-color-blueDark(ng-if='handleFn.complete')
        header(role='heading')
            span.widget-icon
                i.fa.fa-table
            h2 {{handleFn.title}}
        .widget-body
            .finish-prompt
                h3.prompt {{handleFn.completeMSG}}
                .icon
                    i.fa.fa-check-circle
            .form-actions
                .row
                    .col-md-12
                        a.btn.btn-default(ui-sref="classlist") 返回班级信息