.college-list-container
    #wid-id-2.jarviswidget.jarviswidget-color-blueDark
        header(role='heading')
            .jarviswidget-ctrls(role='menu')
            span.widget-icon
                i.fa.fa-table
            h2 {{importStudentFn.classes.name}}
            span.jarviswidget-loader
                i.fa.fa-refresh.fa-spin
        // widget div
        div(role='content')
            .widget-body.container
                .col-sm-5
                    fieldset
                        legend
                            span 选择要转入的学生
                    .row
                        .col-lg-6
                            .input-group
                                input.form-control(type='text', placeholder='按学号或姓名搜索' ng-model="importStudentFn.keyWord")
                                span.input-group-btn
                                    button.btn.btn-default(type='button' ng-click="importStudentFn.findStudentByKey()")
                                      i.fa.fa-search
                        .col-lg-6
                            select.form-control(ng-model="importStudentFn.selectClassesId" ui-select2="importStudentFn.select2Options()"  )
                                option(ng-repeat="classes in importStudentFn.classesDropList" value="{{classes.id}}") {{classes.name}}
                    .dt-toolbar-footer.student-list-class-detail
                        .col-sm-6.col-xs-12.hidden-xs
                            .dataTables_info(role='status', aria-live='polite')
                                | 共 {{importStudentFn.studentList.length}} 条数据
                        .col-sm-6.col-xs-12.hidden-xs
                            .ColVis
                                a.btn.btn-default(ng-click="importStudentFn.addAll()") 添加全部
                    table.table.table-striped.table-bordered.table-hover.dataTable
                        tbody
                            tr.cursor-pointer(role='row' ng-repeat="student in importStudentFn.studentList" ng-click="importStudentFn.selectStudent(student)")
                                td {{student.name}}
                                td {{student.jobNumber}}
                                td {{student.sex}}
                .col-sm-1
                .col-sm-4
                    fieldset
                        legend
                            span 已选择的学生
                    .dt-toolbar-footer.student-list-class-detail
                        .col-sm-6.col-xs-12.hidden-xs
                            a.btn.btn-default(ng-click="importStudentFn.removeAll()") 取消全部
                        .col-sm-6.col-xs-12.hidden-xs
                            .ColVis
                                .dataTables_info(role='status', aria-live='polite')
                                    | 共 {{importStudentFn.selectedStudents.length}} 条数据
                    table.table.table-striped.table-bordered.table-hover.dataTable
                        tbody
                            tr.odd(role='row' ng-repeat="student in importStudentFn.selectedStudents")
                                td {{student.name}}
                                td {{student.jobNumber}}
                                td {{student.sex}}
                                td.cursor-pointer(ng-click="importStudentFn.removeSelectedStudent(student)")
                                    i.fa.fa-trash-o
            form.form-horizontal()
                .form-actions
                    .row
                        .col-md-12
                            a.btn.btn-primary(ng-click="importStudentFn.submit()" ) 提交
                            .speace-10
                            a.btn.btn-default(ui-sref="classDetail({id:importStudentFn.params.classesId})") 取消
