.college-handle-container
    .jarviswidget.jarviswidget-color-blueDark
        header(role='heading')
            span.widget-icon
                i.fa.fa-table
            h2 {{handleFn.title}}
        .widget-body
            step-line.step-line.margin-bottom-10(on-step="handleFn.step" steps="handleFn.steps")
            div.margin-top-10.padding-10.container(ng-if="handleFn.step==1")
                .col-sm-5
                    fieldset
                        legend
                            span 选择导师
                    .row
                        //.col-lg-6
                            select.form-control(ng-model="handleFn.searchParams.collegeId" ui-select2="handleFn.selectCollege2Options()")
                                option(ng-repeat="college in handleFn.collegeDropList" value="{{college.id}}") {{college.name}}
                        .col-lg-6
                            .input-group
                                input.form-control(type='text', placeholder='姓名搜索' ng-model="handleFn.searchParams.name")
                                span.input-group-btn
                                    button.btn.btn-default(type='button' ng-click="handleFn.getSimpleTeachers()")
                                        i.fa.fa-search
                    table.table.table-striped.table-bordered.table-hover.dataTable
                        thead
                            tr(role='row')
                                th.sorting_asc 账号
                                th.expand.sorting 姓名
                                th.sorting 企业名称
                                th.sorting 操作
                        tbody
                            tr.cursor-pointer(role='row' ng-repeat="teacher in handleFn.teacherList" )
                                td {{teacher.loginName}}
                                td {{teacher.name}}
                                td {{teacher.enterpriseName}}
                                td
                                    a.handle(ng-click="handleFn.selectTeacher(teacher)")
                                        i.fa.fa-arrow-circle-right
                                        span 选中
                .col-sm-1
                .col-sm-5
                    fieldset
                        legend
                            span 已选择的教师

                    table.table.table-striped.table-bordered.table-hover.dataTable
                        thead
                            tr(role='row')
                                th.sorting_asc 账号
                                th.expand.sorting 姓名
                                th.sorting 企业名称
                                th.sorting 操作
                        tbody
                            tr.cursor-pointer(role='row' ng-repeat="teacher in handleFn.selectTeacherList" )
                                td {{teacher.loginName}}
                                td {{teacher.name}}
                                td {{teacher.enterpriseName}}
                                td
                                    a.handle(ng-click="handleFn.removeSelectedTeacher(teacher)")
                                        i.fa.fa-times
                                        span 撤销
            div.margin-top-10.padding-10.container(ng-if="handleFn.step==2")
                div
                    .col-sm-5
                        fieldset
                            legend
                                span 选择学生
                        .row
                            .col-lg-6
                                select.form-control(ng-model="handleFn.searchStudentParams.classesId" ui-select2="handleFn.select2ClassOptions()"  )
                                    option(ng-repeat="class in handleFn.classDropList" value="{{class.id}}" ) {{class.name}}
                            .col-lg-6
                                .input-group
                                    input.form-control(type='text', placeholder='按学号或姓名搜索' ng-model="handleFn.searchStudentParams.name")
                                    span.input-group-btn
                                        button.btn.btn-default(type='button' ng-click="handleFn.getSimpleStudents()")
                                            i.fa.fa-search


                        table.table.table-striped.table-bordered.table-hover.dataTable
                            thead
                                tr(role='row')
                                    th.sorting_asc 学号
                                    th.expand.sorting 姓名
                                    th.sorting 院系
                                    th.sorting 操作
                            tbody
                                tr.cursor-pointer(role='row' ng-repeat="student in handleFn.studentList")
                                    td {{student.jobNumber}}
                                    td {{student.name}}
                                    td {{student.collegeName}}
                                    td
                                        a.handle(ng-click="handleFn.selectStudent(student)")
                                            i.fa.fa-arrow-circle-right
                                            span 选中
                    .col-sm-1
                    .col-sm-5
                        fieldset
                            legend
                                span 已选择的学生

                        table.table.table-striped.table-bordered.table-hover.dataTable
                            thead
                                tr(role='row')
                                    th.sorting_asc 学号
                                    th.expand.sorting 姓名
                                    th.sorting 院系
                                    th.sorting 操作
                            tbody
                                tr.cursor-pointer(role='row' ng-repeat="student in handleFn.selectStudentList" )
                                    td {{student.jobNumber}}
                                    td {{student.name}}
                                    td {{student.collegeName}}
                                    td
                                        a.handle(ng-click="handleFn.removeSelectedStudent(student)")
                                            i.fa.fa-times
                                            span 撤销
            div.margin-top-10.padding-10.container(ng-if="handleFn.step==3")
                form.form-horizontal(name="teachClassForm")
                    fieldset
                        legend 给实践小组设置名称
                    .md-form
                        .form-group
                            label.col-sm-3.control-label
                                span.required *
                                | 实践小组名称：
                            .col-sm-6
                                input.form-control(ng-model="handleFn.params.name" type="text" name="name" validator="required, maxlength=30")
                        //.form-group
                            label.col-sm-3.control-label
                                span.required *
                                | 教学班编号：
                            .col-sm-6
                                input.form-control(ng-model="handleFn.params.code" type="text" name="name" validator="required,number, maxlength=30")
                        .col-sm-12.text-center
                            a.btn.btn-primary(type='submit'  ng-click="handleFn.submit()" validation-submit="teachClassForm") 创建
                    fieldset
                        legend 实践小组信息预览
                    .row
                        .col-sm-3 教师信息：
                        .col-sm-7
                            table.table.table-striped.table-bordered.table-hover.dataTable
                                thead
                                    tr(role='row')
                                        th.sorting_asc 工号
                                        th.expand.sorting 姓名
                                        th.sorting 院系
                                tbody
                                    tr.cursor-pointer(role='row' ng-repeat="teacher in handleFn.selectTeacherList" )
                                        td {{teacher.jobNumber}}
                                        td {{teacher.name}}
                                        td {{teacher.collegeName}}
                    .row(ng-if="handleFn.params.classOrStudents==20")
                        .col-sm-3 学生信息：
                        .col-sm-7
                            table.table.table-striped.table-bordered.table-hover.dataTable
                                thead
                                    tr(role='row')
                                        th.sorting_asc 学号
                                        th.expand.sorting 姓名
                                        th.sorting 院系
                                tbody
                                    tr.cursor-pointer(role='row' ng-repeat="student in handleFn.selectStudentList" )
                                        td {{student.jobNumber}}
                                        td {{student.name}}
                                        td {{student.collegeName}}

                    //.col-md-12.text-center.margin-top-10(ng-if="handleFn.step==3")
                        a.btn.btn-primary(type='submit'  ng-click="handleFn.submit()" validation-submit="teachClassForm") 创建
            .form-actions
                .row
                    .col-md-12
                        a.btn.btn-default(ng-if="handleFn.step!=1" ng-click="handleFn.preStep()") 上一步
                        .speace-10
                        button.btn.btn-primary(type='submit' ng-click="handleFn.nextStep()" ng-if="handleFn.step==1&&handleFn.step!=3" ng-disabled="handleFn.selectTeacherList.length==0") 下一步
                        button.btn.btn-primary(type='submit' ng-click="handleFn.nextStep()" ng-if="handleFn.step==2&&handleFn.step!=3" ng-disabled="!handleFn.validateStep3()") 下一步



