.college-handle-container
    .jarviswidget.jarviswidget-color-blueDark(ng-if='!handleFn.complete')
        header(role='heading')
            span.widget-icon
                i.fa.fa-table
            h2 {{handleFn.title}}
        .widget-body
            form.form-horizontal(name="courseForm")
                fieldset
                    legend {{handleFn.prompt}}
                .short-form
                    .form-group
                        label.col-sm-3.control-label
                            span.required *
                            | 课程名称：
                        .col-sm-7
                            input.form-control(type="text" placeholder="请填写不超过30个字课程名称" ng-model="handleFn.params.taskTitle" name="name" validator="required, maxlength=30")
                    .form-group
                        label.col-sm-3.control-label
                            span
                            |课程介绍：
                        .col-sm-9
                            textarea.form-control(rows='8' placeholder="请填写不超过300个字课程描述" ng-model="handleFn.params.remark" name="courseDesc"  validator="maxlength=300")
                    //.form-group
                        label.col-sm-3.control-label
                            span.required
                            | 课程性质：
                        .col-sm-7
                            input.form-control(type="text" placeholder="请填写不超过30个字课程性质" ng-model="handleFn.params.courseProp" name="courseProp" validator="maxlength=30")
                    .form-group
                        label.col-sm-3.control-label
                            span.required
                            | 总学时：
                        .col-sm-7
                            input.form-control(type="text" placeholder="请填写学时" ng-model="handleFn.params.classHour" name="credit" maxlength="4" validator="number, maxlength=4")
                .form-actions
                    .row
                        .col-md-12
                            a.btn.btn-primary(type='submit'  ng-click="handleFn.submit()" validation-submit="courseForm") 提交
                            .speace-10
                            a.btn.btn-default(ui-sref="trainClassList") 取消
