.roll-call
    .roll-call-a
        .tittle 考勤
        .content.student-view(ng-if='!ddFn.userType')
            //span.item
                span 准时
                span.number.text-warning 2
                span 节
            span.item
                span 迟到
                span.number.text-warning {{recordDD.late}}
                span 次
            span.item
                span 旷课
                span.number.text-danger {{recordDD.truancy}}
                span 次
            span.item
                span 请假
                span.number.text-muted {{recordDD.askforlevae}}
                span 次
            span.item
                span 早退
                span.number.text-info {{recordDD.leave}}
                span 次
            span.item
                span 已到
                span.number.text-success {{recordDD.normal}}
                span 次
        .content.teacher-view(ng-if='ddFn.userType')
            span.item
                span 迟到
                span.number.text-warning {{recordDD.late}}
                span 次
            span.item
                span 旷课
                span.number.text-danger {{recordDD.truancy}}
                span 次
            span.item
                span 请假
                span.number.text-muted {{recordDD.askforlevae}}
                span 次
            span.item
                span 早退
                span.number.text-info {{recordDD.leave}}
                span 次

        .actions
            button.button.button-primary.button-rounded.button-tiny(type='button' ng-click="directDD('attend')") 考勤记录
    .roll-call-a
        .tittle 评教
        .content.student-view(ng-if='!ddFn.userType')
            span.item
                span 评教
                span.number.text-info {{recordDD.waitAssess}}
                span 次
        .content.teacher-view(ng-if='ddFn.userType')
            span.item
                span 评教
                span.number.text-info {{recordDD.assessTotalCount}}
                span 次
        .actions
            button.button.button-primary.button-rounded.button-tiny(type='button' ng-click="directDD('eva')") 评教管理