.logo-container
    .container(ng-if="!logoFn.isSetLogo")
        .row
            .col-sm-6.margin-top-10.margin-bottom-10
                .logo-image-view(ng-click='logoFn.setToggle(0)')
                   .col-sm-7
                        img.logo(ng-src="{{logoFn.logoList[0].logo}}")
                   .col-sm-5
                       .logo-introduce 需要透明背景的200*200png图片，主要用于学校首页以及登录个性化的个性化展示。
            .col-sm-6.margin-top-10.margin-bottom-10
                .logo-image-view(ng-click='logoFn.setToggle(1)')
                    .col-sm-7
                        img.logo(ng-src="{{logoFn.logoList[1].logo}}")
                    .col-sm-5
                        .logo-introduce 需要透明背景的200*200png图片，主要用于学校首页以及登录个性化的个性化展示。
            .col-sm-6.margin-top-10.margin-bottom-10
                .logo-image-view(ng-click='logoFn.setToggle(2)')
                    .col-sm-7
                        img.logo(ng-src="{{logoFn.logoList[2].logo}}")
                    .col-sm-5
                        .logo-introduce 需要透明背景的200*200png图片，主要用于学校首页以及登录个性化的个性化展示。
            .col-sm-6.margin-top-10.margin-bottom-10
                .logo-image-view(ng-click='logoFn.setToggle(3)')
                    .col-sm-7
                        img.logo(ng-src="{{logoFn.logoList[3].logo}}")
                    .col-sm-5
                        .logo-introduce 需要透明背景的200*200png图片，主要用于学校首页以及登录个性化的个性化展示。
    .container(ng-if="logoFn.isSetLogo")
        .logo-setting
            .btn-upload
                input(type="file" ng-jcrop-input="upload" ngf-select="logoFn.selectFile($file)"  data-ngf-pattern='"image/jpg,image/jpeg,image/png"'  data-ngf-accept='"image/jpg,image/jpeg,image/png"'  data-ngf-max-size='1MB')
            .upload-pic
                div(ng-jcrop="logoFn.obj.src" data-ng-jcrop-config-name="upload" data-selection="logoFn.obj.selection" data-thumbnail="logoFn.obj.thumbnail")

            .splie-line
            button.button.button-primary.button-rounded(type='submit' ng-click='logoFn.uploadImage($event)') 保存
            .speace-10
            button.button.btn-defulat.button-rounded(type='submit' ng-click='logoFn.setToggle()') 取消