.user-center-content
    .container
        .user-center-inner
            .row
                .col-xs-12
                    .profile-sidebar
                        .portlet.profile-sidebar-portlet
                            .profile-userpic
                                img.avatar-120.img-circle(src='{{ucFn.user.avatar}}', alt='')
                            .profile-usertitle
                                .profile-usertitle-name  {{ucFn.user.name | cutStr:8}}
                                //.profile-usertitle-job  developer
                            .profile-useinfo
                                ul
                                    li(ng-if='ucFn.user.phone') 手机：{{ucFn.user.phone | hidePhone}}
                                    li(ng-if='ucFn.user.mail') 邮箱：{{ucFn.user.mail}}
                                    li(ng-if='ucFn.user.orgName') 学校：{{ucFn.user.orgName}}
                                    li(ng-if='ucFn.user.collegeName') 院系：{{ucFn.user.collegeName}}
                                    li(ng-if='ucFn.user.majorName') 专业：{{ucFn.user.majorName}}
                                    li(ng-if='ucFn.user.className') 班级：{{ucFn.user.className}}
                            .profile-uselink
                                a(ui-sref='userProfile') 修改资料
                                //.splite-10
                                //a(ui-sref='index') 绑定认证
                                //.splite-10
                                //a(ui-sref='index') 修改密码
                            //.profile-userbuttons
                                button.button.button-green.button-pill.button-tiny(type='button') 关注
                                .speace-10
                                button.button.button-red.button-pill.button-tiny(type='button') 消息
                            //.profile-usermenu
                                ul.nav
                                    li.active
                                        a(href='page_user_profile_1.html')
                                            i.fa.fa-fw.fa-lg.fa-sun-o
                                            |  个人中心
                                    li
                                        a(href='page_user_profile_1_account.html')
                                            i.fa.fa-fw.fa-lg.fa-vcard-o
                                            |  个人资料
                                    li
                                        a(href='page_user_profile_1_help.html')
                                            i.fa.fa-fw.fa-lg.fa-lock
                                            |  安全设置

                        .portlet
                            .portlet-title
                                .ribbon
                                    .ribbon-content
                                        .ribbon-bg 我的团队
                                .actions
                                    button.button.button-pill.button-tiny(type='button' ng-click='ucFn.goLink(2,"/team/list/teamDetails/teamId=")') 详细
                            .portlet-body(uc-team)
                    .profile-content
                        .row
                            .col-xs-12
                                .portlet.calendar-dd
                                    .calendar
                                        .day {{ucFn.calendar.date}}
                                        .date
                                            div {{ucFn.calendar.day}}
                                            div {{ucFn.calendar.year}}
                                    .dianming(uc-roll-call)
                            .col-xs-12
                                .portlet
                                    .portlet-title
                                        .ribbon
                                            .ribbon-content
                                                .ribbon-bg 常用课程
                                        .actions
                                            button.button.button-pill.button-tiny(type='button' ng-if='!ucFn.userType' ng-click='ucFn.goLink(1,"/teacherCourseList")') 更多课程
                                            button.button.button-pill.button-tiny(type='button' ng-if='ucFn.userType' ng-click='ucFn.goLink(1,"/studentCourseList")') 更多课程
                                    .portlet-body(uc-course)
                            //.col-xs-12
                                .portlet
                                    .portlet-title
                                        .ribbon
                                            .ribbon-content
                                                .ribbon-bg 近期考试
                                        //.actions
                                            button.button.button-pill.button-tiny(type='button') 更多考试
                                    .portlet-body(uc-ex)