.college-handle-container
    .jarviswidget.jarviswidget-color-blueDark(ng-if='!periodHandlerFn.complete')
        header(role='heading')
            span.widget-icon
                i.fa.fa-table
            h2 {{periodHandlerFn.prompt}}
        .widget-body
            form.form-horizontal(name="classForm")
                .md-form
                    .form-group
                        label.col-sm-3.control-label
                            span.required.font-14 *
                            span 学期：
                        .col-sm-7
                            input.form-control(placeholder="请填写不超过30个字学期名称" ng-model="periodHandlerFn.semester.name" name="{{'name'}}" validator="required")
                    .form-group
                        label.col-sm-3.control-label 开始时间：
                        .col-sm-7
                            .col-sm-12.input-append.date.datepicker.datepicker-basic.no-padding.inline-block(data-date='', data-date-format='yyyy-mm-dd' b-datepicker)
                                input.form-control(size='16',  name="{{'dateStart'}}" placeholder='请选择开始日期' type='text' ng-model='periodHandlerFn.semester.startDate' validator="required")
                                span.add-on
                                    i.icon-calendar.glyphicon.glyphicon-calendar
                    .form-group
                        label.col-sm-3.control-label 结束时间：
                        .col-sm-7
                            .col-sm-12.input-append.date.datepicker.datepicker-basic.no-padding.inline-block(data-date='', data-date-format='yyyy-mm-dd' b-datepicker)
                                input.form-control(ng-disabled="true" size='16',  name="{{'dateEnd'}}" placeholder='请选择结束日期' type='text' ng-model='periodHandlerFn.semester.endDate' validator="required")
                                span.add-on
                                    i.icon-calendar.glyphicon.glyphicon-calendar

                .form-actions
                    .row
                        .col-md-12
                            a.btn.btn-primary(ng-click="periodHandlerFn.submit()" validation-submit="classForm") 提交
                            .speace-10
                            a.btn.btn-default(ui-sref="periodlist({position:1})") 取消
