.college-list-container
    #wid-id-2.jarviswidget.jarviswidget-color-blueDark.jarviswidget-sortable.margin-bottom0-eduman(data-widget-editbutton='false', style='', role='widget')
        header(role='heading')
            .jarviswidget-ctrls(role='menu')
            span.widget-icon
                i.fa.fa-table
            h2 添加节日
            span.jarviswidget-loader
                i.fa.fa-refresh.fa-spin
        // widget div
        div(role='content')
            .widget-body.no-padding(style="min-height:auto!important")
                .col-md-12.padding-bottom-10.padding-top-10
                    .col-md-12.padding-bottom-10.padding-top-10
                        form.form-horizontal(name="majorForm")
                            fieldset
                                legend {{handleFn.prompt}}
                            .short-form(style="min-height:auto;")
                                .form-group
                                    label.col-sm-3.control-label
                                        span.required *
                                        | 节日名称：
                                    .col-sm-7
                                        input.form-control(placeholder="请填写不超过50个字节日名称" ng-model="editHoliday.entity.name" name="name" validator="required, maxlength=50")
                                .form-group
                                    label.col-sm-3.control-label
                                        span.required *
                                        | 开始日期：
                                    .col-sm-7
                                        .input-append.date.datepicker.datepicker-basic.no-padding(data-date='', data-date-format='yyyy-mm-dd' b-datepicker)
                                            input.form-control(size='16', ng-disabled='true' name="dateStart" placeholder='请选择开始日期' type='text' ng-model="editHoliday.entity.startDate" validator="required")
                                            span.add-on
                                                i.icon-calendar.glyphicon.glyphicon-calendar
                                .form-group
                                    label.col-sm-3.control-label
                                        span.required *
                                        | 结束日期：
                                    .col-sm-7
                                        .input-append.date.datepicker.datepicker-basic.no-padding(data-date='', data-date-format='yyyy-mm-dd' b-datepicker)
                                            input.form-control(size='16', ng-disabled='true' name="dateEnd" placeholder='请选择结束日期' type='text' ng-model="editHoliday.entity.endDate" validator="required")
                                            span.add-on
                                                i.icon-calendar.glyphicon.glyphicon-calendar
                                .form-group
                                    label.col-sm-3.control-label
                                        span.required *
                                        | 学期：
                                    .col-sm-7
                                        select#ddd.select2.form-control( ng-model="editHoliday.entity.semesterId" ui-select2="editHoliday.select2SemesterOptions()" )
                                            optgroup(label="{{schoolYear.text}}" ng-repeat="schoolYear in editHoliday.schoolYearDropList")
                                                option(value="{{semester.id}}" ng-repeat="semester in schoolYear.children" selected="{{editHoliday.params.semesterId==semester.id?'selected':''}}") {{schoolYear.text+semester.text}}
                            .form-actions
                                .row
                                    .col-md-12
                                        a.btn.btn-primary(ng-click="editHoliday.submit()" validation-submit="majorForm") 保存
                                        .speace-10
                                        a.btn.btn-default(ui-sref="holidayman") 取消