.college-handle-container
    .jarviswidget.jarviswidget-color-blueDark
        header(role='heading')
            span.widget-icon
                i.fa.fa-table
            h2 {{teacherUpdateFn.title}}
        .widget-body
            div
                form.form-horizontal(name="teachClassForm")
                    fieldset
                        legend 代课老师
                    .md-form
                        .form-group(ng-repeat="classse in teacherUpdateFn.teacherIds")
                            label.col-sm-3.control-label
                                span.required *
                                | 请选择代课老师：
                            .col-sm-7
                                select.form-control(ng-model="teacherUpdateFn.teacherIds[$index]" ui-select2="teacherUpdateFn.select2Options()")
                                    option(ng-repeat="teacher in teacherUpdateFn.teacherDropList" value="{{teacher.id}}" ) {{teacher.name}}
                        div.text-center
                            .btn.btn-primary(ng-click="teacherUpdateFn.addOneClassTeacher()")
                                i.fa.fa-plus
                                | 添加多个
            .form-actions
                .row
                    .col-md-12
                        a.btn.btn-primary(type='submit' ng-click="teacherUpdateFn.submit()" ) 保存
                        .speace-10
                        a.btn.btn-default(ui-sref="teachClassDetail({id:teacherUpdateFn.params.teachingClassId})") 取消




