.college-list-container
    #wid-id-2.jarviswidget.jarviswidget-color-blueDark
        header(role='heading')
            .jarviswidget-ctrls(role='menu')
            span.widget-icon
                i.fa.fa-table
            h2 {{studentUpdateFn.classes.name}}
            span.jarviswidget-loader
                i.fa.fa-refresh.fa-spin
        // widget div
        div(role='content')
            .widget-body.container
                .col-sm-5
                    fieldset
                        legend
                            span 选择要加入的学生
                    .row
                        .col-lg-6
                            select.form-control(ng-model="studentUpdateFn.selectClassesId" ui-select2="studentUpdateFn.select2Options()"  )
                                option(ng-repeat="classes in studentUpdateFn.classesDropList" value="{{classes.id}}") {{classes.name}}
                        .col-lg-6
                            .input-group
                                input.form-control(type='text', placeholder='按学号或姓名搜索' ng-model="studentUpdateFn.keyWord")
                                span.input-group-btn
                                    button.btn.btn-default(type='button' ng-click="studentUpdateFn.findStudentByKey()")
                                        i.fa.fa-search

                    .dt-toolbar-footer.student-list-class-detail
                        .col-sm-6.col-xs-12.hidden-xs
                            .dataTables_info(role='status', aria-live='polite')
                                | 当前页 {{studentUpdateFn.studentList.length}} 条数据
                        .col-sm-6.col-xs-12.hidden-xs
                            .ColVis
                                a.btn.btn-default(ng-click="studentUpdateFn.addAll()") 添加全部
                    .dt-toolbar-footer(ng-show="studentUpdateFn.studentList.length>0")
                        .col-sm-12.col-xs-12.hidden-xs
                            #datatable_col_reorder_info1.dataTables_info(role='status', aria-live='polite')
                                | 显示第
                                span.txt-color-darken {{studentUpdateFn.page.totalElements==0?0:(((studentUpdateFn.page.pageNumber)-1)*studentUpdateFn.page.pageSize+1)}}
                                |  到
                                span.txt-color-darken {{((studentUpdateFn.page.pageNumber==0?studentUpdateFn.page.pageNumber+1:studentUpdateFn.page.pageNumber)-1)*studentUpdateFn.page.pageSize+studentUpdateFn.studentList.length}}
                                |  条 总共
                                span.text-primary {{studentUpdateFn.page.totalElements}}
                                |  条记录
                        .col-sm-12.col-xs-12
                            #datatable_col_reorder_paginate1.dataTables_paginate.paging_simple_numbers
                                ul.pagination-sm(uib-pagination, total-items='studentUpdateFn.page.totalElements', max-size='studentUpdateFn.page.pageSize' ng-model='studentUpdateFn.page.pageNumber',ng-change="studentUpdateFn.findStudentByKey()" boundary-link-numbers='true' items-per-page="studentUpdateFn.page.pageSize" rotate='false' previous-text="<" next-text=">")

                    table.table.table-striped.table-bordered.table-hover.dataTable
                        tbody
                            tr.cursor-pointer(role='row' ng-repeat="student in studentUpdateFn.studentList" ng-click="studentUpdateFn.selectStudent(student)")
                                td {{student.name}}
                                td {{student.jobNumber}}
                                td {{student.sex}}
                    .dt-toolbar-footer(ng-show="studentUpdateFn.studentList.length>0")
                        .col-sm-12.col-xs-12.hidden-xs
                            #datatable_col_reorder_info.dataTables_info(role='status', aria-live='polite')
                                | 显示第
                                span.txt-color-darken {{studentUpdateFn.page.totalElements==0?0:(((studentUpdateFn.page.pageNumber)-1)*studentUpdateFn.page.pageSize+1)}}
                                |  到
                                span.txt-color-darken {{((studentUpdateFn.page.pageNumber==0?studentUpdateFn.page.pageNumber+1:studentUpdateFn.page.pageNumber)-1)*studentUpdateFn.page.pageSize+studentUpdateFn.studentList.length}}
                                |  条 总共
                                span.text-primary {{studentUpdateFn.page.totalElements}}
                                |  条记录
                        .col-sm-12.col-xs-12
                            #datatable_col_reorder_paginate.dataTables_paginate.paging_simple_numbers
                                ul.pagination-sm(uib-pagination, total-items='studentUpdateFn.page.totalElements', max-size='studentUpdateFn.page.pageSize' ng-model='studentUpdateFn.page.pageNumber',ng-change="studentUpdateFn.findStudentByKey()" boundary-link-numbers='true' items-per-page="studentUpdateFn.page.pageSize" rotate='false' previous-text="<" next-text=">")

                .col-sm-1
                .col-sm-4
                    fieldset
                        legend
                            span 已选择的学生

                    .dt-toolbar-footer.student-list-class-detail
                        .col-sm-6.col-xs-12.hidden-xs
                            a.btn.btn-default(ng-click="studentUpdateFn.removeAll()") 取消全部
                        .col-sm-6.col-xs-12.hidden-xs
                            .ColVis
                                .dataTables_info(role='status', aria-live='polite')
                                    | 共 {{studentUpdateFn.selectedStudents.length}} 条数据
                    table.table.table-striped.table-bordered.table-hover.dataTable
                        tbody
                            tr.odd(role='row' ng-repeat="student in studentUpdateFn.selectedStudents")
                                td {{student.name}}
                                td {{student.jobNumber}}
                                td {{student.sex}}
                                td.cursor-pointer(ng-click="studentUpdateFn.removeSelectedStudent(student)")
                                    i.fa.fa-trash-o

            form.form-horizontal()
                .form-actions
                    .row
                        .col-md-12
                            a.btn.btn-primary(ng-click="studentUpdateFn.submit()" ) 提交
                            .speace-10
                            a.btn.btn-default(ui-sref="teachClassDetail({id:studentUpdateFn.params.teachingClassId})") 取消
