.uc-team
    .team-list
        .team-item(ng-repeat='team in teamFn.teams')
            .team-logo(ng-click='teamFn.goTeam(team.teamId)')
                img.avatar-80.img-circle(ng-if='team.teamLogo' src='{{team.teamLogo}}')
                img.avatar-80.img-circle(ng-if='!team.teamLogo' src='../assets/images/team_logo_bg.jpg')
            .team-info
                .team-name(ng-click='teamFn.goTeam(team.teamId)') {{team.teamName | cutStr:28}}
                .team-link(ng-if='team.homePage')
                    i.fa.fa-globe
                    a(ng-href='team.homePage') {{team.homePage | cutStr:16}}
                .team-introduce(ng-if='team.description') {{team.description | cutStr:38}}