.agenda-container
    .row
        .col-sm-12.col-md-12.col-lg-3
            .jarviswidget.jarviswidget-color-blueDark
                header
                    span.widget-icon
                        i.fa.fa-edit
                    h2  添加排课信息
                div
                    .widget-body
                        form
                            fieldset
                                .form-group
                                    label 选择教学班
                                    input.form-control(name='title' maxlength='40' type='text' placeholder='选择教学班' ng-model='teachingClassName')
                                .form-group.row
                                    label.col-sm-12 选择学周范围
                                    div.col-sm-6
                                        select.form-control()
                                    div.col-sm-6
                                        select.form-control()
                                .form-group
                                    label 选择单双周
                                    .btn-group.btn-group-sm.btn-group-justified(data-toggle='buttons')
                                        label.btn.btn-default.active
                                            input(type='radio' name='iconselect1' value='10')
                                            span 每周上课
                                        label.btn.btn-default
                                            input(type='radio' name='iconselect2' value='20')
                                            span 单周上课
                                        label.btn.btn-default
                                            input(type='radio' name='iconselect3' value='30')
                                            span 双周上课
                                .form-group
                                    label 选择上课日程
                                    .btn-group.btn-group-sm.btn-group-justified(data-toggle='buttons')
                                        label.btn.btn-default.active
                                            input(type='radio' name='iconselect1' value='1')
                                            span 周一
                                        label.btn.btn-default
                                            input(type='radio' name='iconselect2' value='2')
                                            span 周二
                                        label.btn.btn-default
                                            input(type='radio' name='iconselect3' value='3')
                                            span 周三
                                        label.btn.btn-default
                                            input(type='radio' name='iconselect4' value='4')
                                            span 周四
                                        label.btn.btn-default
                                            input(type='radio' name='iconselect5' value='5')
                                            span 周五
                                        label.btn.btn-default
                                            input(type='radio' name='iconselect6' value='6')
                                            span 周六
                                        label.btn.btn-default
                                            input(type='radio' name='iconselect7' value='7')
                                            span 周日
                                .form-group.row
                                    label.col-sm-6 起始课节
                                    label.col-sm-6 持续时长
                                    div.col-sm-6
                                        select.form-control()
                                    div.col-sm-6
                                        select.form-control()

                                .form-group
                                    label 填写上课地点
                                    textarea.form-control(name='classroom' placeholder='填写上课地点' rows='3' maxlength='40' ng-model='schedule.courseCardForm.classroom')
                                    p.note 不要超过40个字符

                                .form-group
                                    label 备注
                                    textarea.form-control(name='remark' placeholder='填写课程备注信息' rows='3' maxlength='40' ng-model='schedule.courseCardForm.remark')
                                    p.note 不要超过40个字符
                            .form-actions
                                .row
                                    .col-md-12
                                        button.btn.btn-default(type='button' ng-click='schedule.addCourseCard()') 添加该课程到课程表

        .col-sm-12.col-md-12.col-lg-9
            .jarviswidget.jarviswidget-color-blueDark
                header
                    span.widget-icon
                        i.fa.fa-calendar
                    h2  {{schedule.teachingClass.teachingClassName}} 排课表
                    .widget-toolbar
                div
                    .widget-body.no-padding
                        .widget-body-toolbar
                            #calendar-buttons
                                .btn.btn-default 清除所有课程
                                .btn.btn-primary 保存排课

                        .span8
                            .calendar(cs-calendar='schedule.scheduleConfig' data-ng-model='schedule.eventSources' data-period='schedule.period')
                            //.calendar(ui-calendar="schedule.uiConfig" data-calendar="myCalendar" data-ng-model="eventSources")
