.home-container{
  font-family: $font-family-sans-serif;
  background-color: #f5f5f5;
  padding-top: 50px;
  padding-left: 50px;

  min-height: 840px;
  .home-content{
    background-color: #ffffff;
    min-height: 690px;
    border-top: 1px solid  #dddddd;
    border-bottom: 1px solid  #dddddd;
    border-left: 1px solid  #dddddd;
    .content-left{
      width: 100px;
      display: inline-block;
      vertical-align: top;
      .round{
        height: 45px;
        width: 45px;
        margin: 35px;
        border-radius:50%;
        background-color: #f5f5f5;
        -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2) inset ;            /* For Firefox3.6+ */
        -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2) inset;          /* For Chrome5+, Safari5+ */
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2) inset;                  /* For Latest Opera */
      }
    }
    .content-right{
      display: inline-block;
      margin-top: 70px;
      margin-left: 35px;
      .welcome{
        font-weight: 400;
        font-style: normal;
        font-size: 36px;
        color: #33495F;
        text-align: left;
        line-height: 42px;
      }
      .welcome-en{
        margin-top: 12px;
        font-size: 16px;
        color: #858585;
      }
      .detail{
        margin-top: 45px;
        font-weight: 200;
        font-size: 18px;
        color: #666666;

      }
      .tree-bg{
        margin-top: 65px;
        width: 534px;
        position: absolute;
        right: 0;
        height: 494px;
        background-image: url(https://s.aizhixin.com/tree-bg@1.png);
        background-repeat: no-repeat;
      }
    }

  }
}