.home-container{
  font-family: $font-family-sans-serif;
  min-height: 840px;
  .home-content{
    background-color: #F4F6F8;
    .swiper-home{
      height: 360px;
      margin-top: 20px;
      .home-image{
        height: 360px;
      }
      .swiper-home-button-prv {
        position: absolute;
        width: 40px;
        height: 40px;
        z-index: 999;
        cursor: pointer;
        left:20px;
        top: 160px;
        border-radius: 50%;
        background: url('https://s1.aizhixin.com/aebbe21c-82f2-490f-bdb2-b800dcb590fe.png') no-repeat;
      }
      .swiper-home-button-next {
        position: absolute;
        top: 50%;
        width: 40px;
        height: 40px;
        z-index: 999;
        cursor: pointer;
        right:20px;
        top: 160px;
        border-radius: 50%;
        background: url('https://s1.aizhixin.com/c801a839-54af-4d26-ae2e-68dd1069b641.png') no-repeat;
        &:hover{
        }
      }
    }
    .content{
      .quick-button{
        margin-top: 40px;
        .button-content{
          border: none;
          header{
            background: #E9F3FD;
            border: none;
            height: 50px;
            line-height: 50px;
            h2{
              padding-left: 10px;
              border-left: solid 4px #4790E8;
              top: 15px;
              font-size:18px;
              color: #666668;
              margin-left: 20px;
              height: auto;
              line-height: 18px;
            }
            .operat{
              width:60px;
              height:24px;
              line-height: 24px;
              text-align: center;
              border-radius:26px;
              border:1px solid rgba(78,169,245,1);
              display: inline-block;
              float: right;
              margin: 13px 20px 0 0;
              font-size: 12px;
              color: #007CE4;
            }
          }
          .menus{
            border:none;
            background: #E9F3FD;
            padding: 0 20px 30px;
            .item-menu{
              text-align: left;
              background: #fff;
              position: relative;
              width:200px;
              height:76px;
              display: inline-block;
              color: #384556;
              font-weight: 600;
              border-radius:4px;
              border:1px solid rgba(242,242,242,1);
              margin: 30px 40px 0 0;
              box-sizing:border-box;
              -moz-box-sizing:border-box;
              -webkit-box-sizing:border-box;
              .operate-sel{
                position: absolute;
                right: -10px;
                top: -10px;
                z-index: 1;
              }
              .img-contain{
                display: inline-block;
                width: 40px;
                height: 40px;
                line-height: 40px;
                border-radius: 50%;
                margin: 0 10px 0 20px;
                vertical-align: middle;
                text-align: center;
                background:linear-gradient(148.8deg,rgba(96,166,224,1),rgba(96,166,224,1));
                img{
                  width: 20px;
                  height: 20px;
                }
              }
              .other-img{
                width: 40px;
                height: 40px;
                display: inline-block;
                margin: 0 10px 0 20px;
              }
              span{
                display: inline-block;
                width: 108px;
                color: #384556;
                font-size: 14px;
                line-height: 14px;
                vertical-align: middle;
              }
              &:hover{
                box-shadow:0px 2px 8px 0px rgba(214,214,214,0.5);
              }
              .base-title-color{
                color: #fff;
              }
            }
            .item-menu:nth-child(5n){
              margin-right: 0;
            }
            .no-content{
              text-align: center;
              img{
                margin-top: 68px;
              }
              div{
                margin: 20px 0 30px;
                font-size:16px;
                color: #999;
                padding-right:10px;
              }
            }
          }
        }
      }
    }
  }
  .new-dialog{
    text-align: center;
    .img-success{
      margin-top: 30px;
    }
    .tip{
      color: #333;
      font-size: 20px;
      margin: 26px 0 40px;
    }
  }
}

