.loading-img(ng-show="showLoading")
    img(src='http://7xpscc.com1.z0.glb.clouddn.com/e6322633-0964-4447-aff3-35e5bfd99d77.gif')
.student-geo
    .student-geo-header
        .logo
        .page-tilte {{collegeName}}
    .student-geo-content
        .content-left
            .left-style(style="margin-bottom:15px")
                .chart-title
                .chart-span 当天签到累积统计
                .chart-data 签到总次数：{{attendancestatistics.count}}
                .chart-data1 异常总次数：{{attendancestatistics.absenteeismCount}}
                #educational_statistics(style="width:400px;height:200px")
            .left-style-two(style="margin-bottom:15px;")
                .chart-title
                .chart-span 本学期代课老师的到课率TOP10
                #educational_statistics1(style="width:550px;height:500px")
        .content-middle
            #student-geo2(style="width:700px;height:560px")
            .hot-ticker
                .ticker-title
                    .chart-title
                    .chart-span 实时热门评论
                .ticker-content
                    ul
                        li(ng-repeat="views in viewsList")
                            span 学生在
                            span(style="color:#26a9ff;") {{views.teacherName}}
                            span 老师所带课程
                            span(style="color:#26a9ff;") {{views.courseName}}
                            span 发表评论：
                            span {{views.content}}
        .content-right
            .swiper-container
                .swiper-wrapper
                    .swiper-slide(ng-repeat='classList in allData.swiperList')
                        .swiper-margin
                            .right-style(ng-repeat='class in classList')
                                .chart-title {{class.className}}({{class.startTime}}--{{class.endTime}})
                                .chart(style="width:160px;height:160px;" id='{{class.classId}}')
                                .chart-discribe
                                    span 到课率：{{class.classRate}}
                                    span 已到人数：{{class.normal}}
                                    span 请假人数：{{class.leave}}
                                    span 老师：{{class.teacherName}}
    .student-geo-bottom
        .geo-bottom-chart
            .chart-title
            .chart-span 本学期到课率汇总
            .chart-back
                #bottom-chart(style="width:450px;height:180px")
            span.left-top 正常：{{termtoClass.normal}}
            span.left-bottom 迟到：{{termtoClass.late}}
            span.right-top 请假：{{termtoClass.leave}}
            span.right-bottom 旷课：{{termtoClass.absenteeism}}
        .geo-bottom-chart1
            .chart-title
            .chart-span 本学期课程签到率TOP5
            .chart-back
                #bottom-chart1(style="width:450px;height:180px")
        .geo-bottom-chart1
            .chart-title
            .chart-span 本学期行政班排名TOP5
            .chart-back
                #bottom-chart2(style="width:450px;height:180px")
        .geo-bottom-chart2
            .chart-title
            .chart-span 本学期综合好评率
            .chart-back
                #bottom-chart3(style="width:450px;height:180px")
    .bottom-line
