.college-list-container
    .jarviswidget.jarviswidget-color-blueDark
        header(role='heading')
            .jarviswidget-ctrls(role='menu')
            span.widget-icon
                i.fa.fa-table
            h2 实践企业统计表
            span.jarviswidget-loader
                i.fa.fa-refresh.fa-spin
        // widget div
        div(role='content')
            // widget edit box
            .jarviswidget-editbox
                // This area used as dropdown edit box
            // end widget edit box
            // widget content
            .widget-body.no-padding
                #datatable_col_reorder_wrapper.dataTables_wrapper.form-inline.no-footer
                    .dt-toolbar
                        .col-xs-3
                            #datatable_col_reorder_filter.dataTables_filter
                                label
                                    input.form-control(type='search', placeholder='按企业名称查询', aria-controls='datatable_col_reorder' ng-model="summaryFn.queryOption.name")
                                    span.input-group-addon.pull-right.cursor-pointer.search-btn(ng-click="summaryFn.getPracticeGroupList()")
                                        i.glyphicon.glyphicon-search
                        .col-sm-9
                            .ColVis
                                button.btn.btn-primary
                                    span 导出
                    table#datatable_col_reorder.table.table-striped.table-bordered.table-hover.dataTable.no-footer(width='100%', role='grid', aria-describedby='datatable_col_reorder_info', style='width: 100%;')
                        thead
                            tr(role='row')
                                th.sorting_asc(data-hide='phone', tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-sort='ascending', aria-label='ID: activate to sort column descending', style='width: 35px;') 序号
                                th.sorting(tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Phone: activate to sort column ascending') 企业名称
                                th.sorting(tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Phone: activate to sort column ascending') 企业地址
                                th.sorting(tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Phone: activate to sort column ascending') 实习人数
                                th.sorting(tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Phone: activate to sort column ascending') 企业导师人数
                                th.sorting(tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Date: activate to sort column ascending') 联系电话
                                th.sorting(tabindex='0', aria-controls='datatable_col_reorder', rowspan='1', colspan='1', aria-label='Date: activate to sort column ascending') 邮箱
                        tbody
                            //tr.odd(role='row' ng-repeat='rp in summaryFn.someArr')
                                td.sorting_1 {{$index+1}}
                                td 北京知新树
                                td 北京
                                td 10000
                                td 2{{$index}}
                                td 1390291{{$index}}092
                                td 1390291{{$index}}@mail.com
                    //.dt-toolbar-footer
                        .col-sm-6.col-xs-12.hidden-xs
                            #datatable_col_reorder_info.dataTables_info(role='status', aria-live='polite')
                                | 显示第
                                span.txt-color-darken {{summaryFn.page.totalElements==0?0:(((summaryFn.page.pageNumber)-1)*summaryFn.page.pageSize+1)}}
                                |  到
                                span.txt-color-darken {{((summaryFn.page.pageNumber==0?summaryFn.page.pageNumber+1:summaryFn.page.pageNumber)-1)*summaryFn.page.pageSize+summaryFn.weekTaskList.length}}
                                |  条 总共
                                span.text-primary {{summaryFn.page.totalElements}}
                                |  条记录
                        .col-sm-6.col-xs-12
                            #datatable_col_reorder_paginate.dataTables_paginate.paging_simple_numbers
                                ul.pagination-sm(uib-pagination, total-items='summaryFn.page.totalElements', max-size='summaryFn.page.pageSize' ng-model='summaryFn.page.pageNumber',ng-change="summaryFn.getPracticeGroupList()" boundary-link-numbers='true' rotate='false' previous-text="<" next-text=">")
