.templet1-container
    .shade
        .solid-conatier1
            .solid-heng0
            .solid-shu0
        .solid-conatier2
            .solid-heng1
            .solid-shu1

        .header.animated.fadeInDown
            azx-school-header

        .context
            .context1.animated.fadeInUpBig
                .logo-mark
                    img(src="http://oli56k5b0.bkt.clouddn.com/school/templet1-logo2.png")
            .context2.animated.fadeInUpBig
                img(src="http://oli56k5b0.bkt.clouddn.com/school/templet1-wenzi1.png")
            .context3.animated.fadeInUpBig
                img(src="http://oli56k5b0.bkt.clouddn.com/school/templet1-wenzi2.png")
        .footer.animated.fadeInUp
            | 北京知新树科技有限公司 aizhixin.com All Rights Reserved · 京ICP备16006959号-1 · ver{{template1Fn.product.version}}