.college-handle-container
    .jarviswidget.jarviswidget-color-blueDark(ng-if='!handleFn.complete')
        header(role='heading')
            span.widget-icon
                i.fa.fa-table
            h2 {{handleFn.title}}
        .widget-body
            form.form-horizontal(name="teacherForm")
                fieldset
                    legend {{handleFn.prompt}}
                .short-form
                    .form-group
                        label.col-sm-3.control-label
                            span.required *
                            | 姓名：
                        .col-sm-7
                            input.form-control(placeholder="请填写不超过10个字教师姓名" ng-model="handleFn.params.name" name="name" validator="required, maxlength=10")
                    .form-group
                        label.col-sm-3.control-label
                            span.required *
                            |工号：
                        .col-sm-7
                            input.form-control(placeholder="请填写不超过20个字教师工号" ng-model="handleFn.params.jobNumber" name="jobNumber" validator="required, maxlength=20" ng-disabled="handleFn.handle == '编辑教师信息'")
                    .form-group
                        label.col-sm-3.control-label
                            span.required *
                            | 选择院系：
                        .col-sm-7
                            select.form-control(ng-model="handleFn.collegeId" ui-select2="handleFn.select2Options")
                                option(ng-repeat="college in handleFn.collegeDropList" value="{{college.id}}" selected="{{handleFn.params.collegeId==college.id?'selected':''}}") {{college.name}}
                    .form-group
                        label.col-sm-3.control-label 性别：
                        .col-sm-7
                            label.radio-inline
                                input(type='radio', name='sex',ng-model="handleFn.params.sex" value='男')
                                |  男
                            label.radio-inline
                                input(type='radio', name='sex',ng-model="handleFn.params.sex" value='女')
                                |  女

                .form-actions
                    .row
                        .col-md-12
                            a.btn.btn-primary(type='submit'  ng-click="handleFn.submit()" validation-submit="teacherForm") 提交
                            .speace-10
                            a.btn.btn-default(ui-sref="teacherlist") 取消

    .jarviswidget.jarviswidget-color-blueDark(ng-if='handleFn.complete')
        header(role='heading')
            span.widget-icon
                i.fa.fa-table
            h2 {{handleFn.title}}
        .widget-body
            .finish-prompt
                h3.prompt {{handleFn.completeMSG}}
                .icon
                    i.fa.fa-check-circle
            .form-actions
                .row
                    .col-md-12
                        a.btn.btn-default(ui-sref="teacherlist") 返回教师信息