.examination
    .alert.alert-info(uib-alert close='closeAlert()' ng-if='exFn.userType')
        i.fa.fa-info
        span 请
        a(href='http://dd.aizhixin.com') 下载知新点点APP
        span 进行考试。
    table.table(ng-if='exFn.userType')
        thead
            tr
                th 考试科目
                th 考试时间
                th 状态
                th 成绩
        tbody
            tr
                td 东北区域招标考试备考-LTE
                td 截止时间：2017/2/22
                td 已结束
                td 查看成绩
            tr
                td 东北区域招标考试备考-GSM
                td 开始时间：2017/3/20
                td 即将开始
                td 无
            tr
                td 东北区域招标考试备考-CDMA
                td 开始时间：2017/3/20
                td 即将开始
                td 无
    table.table(ng-if='!exFn.userType')
        thead
            tr
                th 考试科目
                th 考试时间
                th 状态
                th 成绩
        tbody
            tr
                td 东北区域招标考试备考-LTE
                td 截止时间：2017/2/22
                td 已结束
                td 查看成绩
            tr
                td 东北区域招标考试备考-GSM
                td 开始时间：2017/3/20
                td 即将开始
                td 无
            tr
                td 东北区域招标考试备考-CDMA
                td 开始时间：2017/3/20
                td 即将开始
                td 无
