.forget_view {
  *{
    box-sizing: content-box;
  }
  .forget_password {
    margin: 0 auto;
    background: #ffffff;
    min-width: 770px;
    padding-top:60px;
    padding-bottom:100px;
    @media only screen and (min-width: 770px) and (max-width: 1280px) {
      width: 100%;
    }
    @media only screen and (min-width: 1281px) {
      width: 1200px;
    }
  }
  .forget_top{
    position: relative;
    height: 90px;
    background: #f8f8f8;
    border: 1px solid #f0f0f0;
    margin: 0 0 60px 0;
    .forget_step_line {
      position: absolute;
      left: 0;
      right: 0;
      top:47px;
      height: 10px;
      margin: auto;
      width: 600px;
      background: #d8d8d8;
      z-index: 1;
    }
    .progress{
    }
    .progress_step_line{
      position: absolute;
      left: 0;
      right: 0;
      top:15px;
      height: 4px;
      margin: auto;
      width: 600px;
      z-index: 12;
      background-color: #d8d8d8;
      box-shadow:none;
      .progress-bar{
        box-shadow:none;
        background:#26c896;
      }
    }
    .forget_step {
      position: absolute;
      left: 0;
      right: 0;
      top: 35px;
      width: 800px;
      margin: 0 auto;
      z-index: 10;
      .step_1, .step_2, .step_3, .step_4{
        display: inline-block;
        width: 24px;
        height: 24px;
        margin: 0 83px;
        background: #d8d8d8;
        border-radius: 50%;
        padding: 5px;
        text-align: center;
        div{
          font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
          width: 24px;
          height: 24px;
          margin: 0 auto;
          border-radius: 50%;
          font-size: 16px;
          text-align: center;
          line-height: 24px;
          color: #a8a9a9;
          z-index: 15;
          position: absolute;
        }
        p{
          position: absolute;
          margin-left: -45px;
          width: 120px;
          font-size: 14px;
          color: #aaa9a9;
          top:-20px;
        }
      }
    }
    .step_active {
      //@include background-radial(#31e6ae,0,$brand-primary,100%);
      background-image: radial-gradient(at left top, #4df5c0 0px, #26c896 100%);
      background-position-x: initial;
      background-position-y: initial;
      background-size: initial;
      background-repeat-x: initial;
      background-repeat-y: initial;
      background-attachment: initial;
      background-origin: initial;
      background-clip: initial;
      background-color: initial;
      color: #ffffff!important;
    }
    .step_text_active {
      color: #42a6ff !important;
    }
  }
  .forget-main{
    a{
      color: #fe742b;
    }
    form{
      label{
        color: $text-color;
        font-size: 16px;
        padding-top: 8px;
      }
      input{
        font-size: 14px;
        border-radius: 0;
        padding: 1px 12px;
      }
      .ng-dirty.ng-invalid{
        border-color:#ff9406;
      }
      a{
        font-size: 1em;
      }
      img.securityCode{
        height: 47px;
        width: 150px;
        cursor: pointer;
        display: inline-block;
        margin-right: 6px;
      }
      .text{
        font-size: 14px;
        position: absolute;
        left: 20px;
        margin-top: 5px;
      }
      .text-danger{
        color:#e80b0a;
      }
      button{
        font-size: 16px;
        height:24px;
        color: #fff;
        border: 0;
        width:145px;
        margin: 0 auto;
        margin-left: -30px;
        &:disabled{
          background-color: #d8d8d8;
        }
      }
      .form-group{
        margin-bottom: 32px;
        >div{
          text-align: center;
        }
      }
      .form-body{
        min-height:100px;
        width: 670px;
        margin: 0 auto;
      }
      .submit{
        margin-top:40px;
        padding-top:40px;
        border-top: 1px solid $gray-lighter;
      }
    }
    >div{
      margin:0 auto;
      width: 100%;
      text-align: center;
      .seek-way-email{
        .msg{
          font-size: 18px;
          .email-addr{
            color: #fe742b;
          }
        }
        a.btn{
          display: block;
          margin: 0 auto;
          width: 414px;
          height: 46px;
          line-height: 46px;
          background-color: #fe742b;
          color: #fff;
          font-size: 24px;
          margin-top: 32px;
          margin-bottom: 35px;
        }
        .sub_msg{
          width: 350px;
          text-align: left;
          margin: 0 auto;
          font-size: 14px;
          p{
            font-weight: bold;
            text-align: center;
            margin-bottom: 20px;
          }
          ul{
            >li{
              margin-bottom: 10px;
              i.fa{
                color: #03c180;
                margin-right: 12px;
              }
              a{
                color: #03c180;
              }
              span{
                color: #d9d9d9;
              }
            }
          }
        }
      }
      &.forget_reset{
        .pre-reset{
          i{
            font-size: 80px;
            color: #d9d9d9;
          }
          p{
            margin-top: 24px;
            font-size: 20px;
            color: #d9d9d9;
          }
        }
        .pre-reset-fail{
          >p{
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 24px;
          }
          >span{
            font-size: 18px;
            a{
              color: #03c180;
            }
          }
        }
      }
    }

    .complete_text {
      font-size: 2em;
      text-align: center;
      font-weight: 600;
      margin-bottom: 50px;
      background: #f0ffe8;
      height: 290px;
      line-height: 290px;
    }
    .forget_complete{
      a {
        padding: 12px 150px;
        font-size: 24px;
        background-color: #fe742b;
        color: #fff;
      }
    }
    .phoneCodeBtn{
      width: 160px;
      padding: 0;
      margin: 0;
      border-radius: 0;
      background: #ff9900;
      border: 1px solid #ff9900;
      color: #fff;
      font-size: 14px;
      height: 36px;
      margin-left: 10px;
      &:disabled{
        background: #cccccc;
        border: 1px solid #cccccc;
        color: #fff;
      }
    }
  }
}
