.forget_view
  .forget_password
    .forget_top
      ul.forget_step
        .progress_step_line(uib-progressbar value="stepProgress")
        li.step_1
          //div(ng-class="{'step_active':step == 'accountForm'}") 1
          div(ng-class="{'step_active':step == 'accountForm' || step == 'seek'||step == 'phone'||step == 'email'||step == 'reset'||step == 'complete'}") 1
          p(ng-class="{'step_text_active':step == 'accountForm' || step == 'seek'||step == 'phone'||step == 'email'||step == 'reset'||step == 'complete'}") 确认账号
        li.step_2
          div(ng-class="{'step_active':step == 'seek'||step == 'phone'||step == 'email'||step == 'reset'||step == 'complete'}") 2
          p(ng-class="{'step_text_active':step == 'seek'||step == 'phone'||step == 'email'||step == 'reset'||step == 'complete'}") 安全认证
        li.step_3
          div(ng-class="{'step_active':step == 'reset'||step == 'complete'}") 3
          p(ng-class="{'step_text_active':step =='reset'||step == 'complete'}") 重置密码
        li.step_4
          div(ng-class="{'step_active':step == 'complete'}") 4
          p(ng-class="{'step_text_active':step == 'complete'}") 完成
      .forget_step_line
    .forget-main
      .forget_form(ng-show="step == 'phone'")
        form.form-horizontal
          .form-body
            .form-group
              label.col-sm-2.control-label 手机号码
              .col-sm-7
                input.form-control(type='text' ng-model='seekWay.phone' ng-disabled='!!seekWay.phone' placeholder='请填写绑定的手机号码')
            .form-group
              label.col-sm-2.control-label 验证码
              .col-sm-4
                input.form-control(type="text" ng-model='phoneCode' placeholder="请输入收到的手机验证码")
              .col-sm-2
                button.btn.btn-default.phoneCodeBtn(ng-click='sendMessageCode(seekWay.phone)' ng-disabled='captchaDisbled')
                  i.fa.fa-fw.fa-mobile(ng-if='!captchaDisbled')
                  | {{phoneCodeBtn}}
          .form-group.submit
            .col-sm-12
              button.btn.btn-primary(type='button', ng-click="validPhoneCode(seekWay.phone,phoneCode)", ng-disabled='accountValidForm.$invalid || checkAccountProcessing')
                i.fa.fa-spinner.fa-spin(ng-show='checkAccountProcessing')
                span(ng-show='!checkAccountProcessing') 下一步
      .forget_form(ng-show="step == 'accountForm'")
        form.form-horizontal(role='form', name='accountValidForm')
          .form-body
            .form-group
              label.col-sm-2.control-label(for='f_uname') 账号
              .col-sm-7
                input#f_uname.form-control(ng-model='form.forget.account' ng-focus="validMessge = null" name='account' type='text' required placeholder='用户名/手机号码')
                span.text.text-danger(ng-show='validMessge') {{validMessge}}
            //.form-group
              label.col-sm-2.control-label(for='securityCode') 验证码
              .col-sm-2
                input#securityCode.form-control(ng-model='form.forget.securityCode', type='text', name='securityCode', placeholder='验证码', required, maxlength='4')
              .col-sm-5
                img.securityCode(ng-src='{{securityCode}}', ng-click='refreshSecurityCode()', alt='验证码')
                a(href='javascript:void(0);', ng-click='refreshSecurityCode()') 看不清？换一张
          .form-group.submit
            .col-sm-offset-2.col-sm-8
              button.btn.btn-primary(type='button', ng-click="validAccount()")
                i.fa.fa-spinner.fa-spin(ng-show='checkAccountProcessing')
                span(ng-show='!checkAccountProcessing') 下一步
            .col-sm-2
      .forget_seek_way(ng-if="step == 'email'")
        .seek-way-email
          .msg
            | 我们已经向您绑定的邮箱
            span.email-addr {{seekWay.email}}
            | 发送了重置密码邮件，请查收。
          a.btn(ng-href='{{seekWay.emailGate}}', target='_blank') 去邮箱验证
          .sub_msg
            p 没有收到重置密码邮件怎么办？
            ul
              li
                i.fa.fa-circle.fa-fw
                | 请检查邮件是否在邮箱的垃圾邮件中?
              li
                i.fa.fa-circle.fa-fw
                a(href='javascript:void(0);', ng-click='sendEmailValid()', ng-show='!captchaDisbled') 重新发送
                span(ng-show='captchaDisbled') {{againCaptchaBtn}}后可重新发送
                | 验证邮件
      .forget_reset(ng-if="step == 'reset'")
        .pre-reset(ng-if='pre_reset_status == "processing"')
          i.fa.fa-spinner.fa-spin
          p 正在验证重置密码请求，请稍后...
        form.form-horizontal(ng-if='pre_reset_status == "ok"', role='form', name='resetForm')
          .form-body
            .form-group
              label.col-sm-2.control-label(for='reset_password') 设置密码
              .col-sm-7
                input#reset_password.form-control(name='password', ng-model='form.reset.password', type='password', required, ng-minlength='6', ng-maxlength='16', ng-pattern='/^[a-zA-Z0-9]+$/', placeholder='6～16位字母、数字的组合')
                span.text.text-danger(ng-show='resetForm.password.$dirty && resetForm.password.$invalid') 请填写有效的密码(6~16位字母或数字组合)
            .form-group
              label.col-sm-2.control-label(for='again_password') 确认密码
              .col-sm-7
                input#again_password.form-control(name='rePassword', ng-model='form.reset.rePassword', type='password', required, pw-check='password', ng-minlength='6', ng-maxlength='16', placeholder='6～16位字母、数字的组合')
                span.text.text-danger(ng-show='resetForm.rePassword.$dirty && resetForm.rePassword.$error.pwCheck') 两次输入的密码不一致。
          .form-group.submit
            .col-sm-offset-2.col-sm-8
              button.btn.btn-primary(type='button', ng-click="resetPwd()", ng-disabled='resetForm.$invalid')
                i.fa.fa-spinner.fa-spin(ng-show='resetPwdProcessing')
                span(ng-show='!resetPwdProcessing') 下一步
        .pre-reset-fail(ng-if='pre_reset_status == "fail"')
          p 非常抱歉，验证链接不存在或已失效。
          span
            a(ui-href='account/forgotpassword') 去验证
            | 帐号并发送验证邮件
      .forget_complete(ng-if="step == 'complete'")
        ul
          li.complete_text.text-success
            i.fa.fa-fw.fa-check-circle
            | 您的密码已重置成功!
          //li
            a(ui-sref='signin') 立即登录
