.validemail_view.gw
  .validemail_content
    .validemail_main
      .validemail_center
        .validation_waiting(ng-show='validation != 1 && validation != 2')
          .pre-reset
            i.fa.fa-spinner.fa-spin
            p 正在验证重置密码请求，请稍后...
        .validation_ok(ng-show='validation == 1 || validation == 2')
          .validation_success(ng-show='validation == 1')
            img(src="https://s1.aizhixin.com/validemail_success.png" width="100%")
            .validemail_msg
              p 恭喜你 ,邮箱已经验证成功!
          .validation_false(ng-show='validation == 2')
            img(src="https://s1.aizhixin.com/validemail_error.png" width="100%")
            .validemail_msg
              p 抱歉 ,邮箱经验证失败!
              p(class='validemail_small') 请登录后重新验证
          button.btn(type='button', ng-click="goLogin()")
            span(ng-show='!resetPwdProcessing') 立即登录
